@model Project
@{
    ViewData["Title"] = "Your All Projects";

    User? UserInfo = ViewBag.UserInfo;
    int Count = ViewBag.Count;
}

<div class="main-sidebar p-2 shadow-sm" id="Main_SideBar">
    <div class="d-none">
        @if (UserInfo != null)
        {
            <input type="hidden" id="PageInfo_UserId" value="@UserInfo.Id" />
            <input type="hidden" id="PageInfo_UserImgUrl" value="@UserInfo.ProfilePhoto" />
            <form method="get" asp-controller="Notifications" asp-action="GetNotifications" id="GetNotifications_Form">
                <input type="hidden" name="Id" value="@UserInfo.Id" />
            </form>
            <form method="get" asp-controller="Messages" asp-action="GetAll" id="GetAllMessages_Form">
                <input type="hidden" name="Id" value="@UserInfo.Id" />
            </form>
            <form method="get" asp-controller="Messages" asp-action="GetAllSent" id="GetAllSentMessages_Form">
                <input type="hidden" name="Id" value="@UserInfo.Id" />
            </form>
            <form method="post" asp-controller="Project" asp-action="LockThePost" id="LockThePost_Form">
                <input type="hidden" name="Id" id="LTP_Val_Id" value="0" />
                <input type="hidden" name="UserId" value="@UserInfo.Id" />
            </form>
            <form method="post" asp-controller="Project" asp-action="UnlockThePost" id="UnlockThePost_Form">
                <input type="hidden" name="Id" id="UTP_Val_Id" value="0" />
                <input type="hidden" name="UserId" value="@UserInfo.Id" />
            </form>
            <form method="post" asp-controller="Project" asp-action="RemoveThePost" id="RemoveThePost_Form">
                <input type="hidden" name="Id" id="RTP_Val_Id" value="0" />
                <input type="hidden" name="UserId" value="@UserInfo.Id" />
            </form>
            <form method="get" asp-controller="Messages" asp-action="GetReplies" id="GetReplies_Form">
                <input type="hidden" name="Id" id="GR_Id_Val" value="0" />
                <input type="hidden" name="SkipCount" id="GR_SkipCount_Val" value="0" />
                <input type="hidden" name="LoadCount" id="GR_LoadCount_Val" value="45" />
            </form>
        }
    </div>

    <div class="box-container shadow-sm p-3 text-center">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-navbar btn-sm w-100 btn-open-container" id="Preload_Container-Open"> <i class="fas fa-list-ul"></i> <br />Projects</button>
            </div>
            <div class="col">
                @if (ViewBag.PostsCount > 0)
                {
                    <div>
                        <form method="get" asp-controller="Project" asp-action="GetAllPosts" id="GetAllPosts_Form">
                            <input type="hidden" name="Id" value="@UserInfo!.Id" />
                            <button type="submit" class="btn btn-navbar btn-sm w-100" id="GetAllPosts_Sbmt_Btn"> <i class="far fa-sticky-note"></i> <br />Posts</button>
                        </form>
                    </div>
                    <button type="button" class="btn btn-navbar btn-sm w-100 smallside-btn-open-container" style="display: none;" id="Posts_Container-Open"> <i class="far fa-sticky-note"></i> <br />Posts</button>
                }
                else
                {
                    <button type="button" class="btn btn-navbar btn-sm w-100" disabled> <i class="far fa-sticky-note"></i> <br />Posts</button>
                }
            </div>
            <div class="col d-sm-block d-lg-none d-xl-none d-md-none">
                <button type="button" class="btn btn-navbar btn-sm w-100 smallside-btn-close-n-open" id="Preload_Container-AdditionalOpen"> <i class="fas fa-times-circle text-danger"></i> <br />Close</button>
            </div>
        </div>
    </div>

    <div class="smallside-box-container shadow-standard scrollbar-hidden" id="Comments_Container">
        <div class="header-container p-3 pb-2" id="Comments_Container-Header">
            <button type="button" class="btn btn-close float-end ms-1" id="Comments_Container-Close" aria-label="close"></button>
            <h5 class="h5 text-truncate">Comments, <span id="CommentsCount_Span">No Comments</span></h5>
        </div>
        <div class="d-none">
            <input type="hidden" id="CommentsCount_Val" value="0" />
        </div>
        <div class="mt-2 p-3 pt-0 mb-5" id="CommentsMain_Box">
        </div>
    </div>

    <div class="smallside-box-container shadow-standard scrollbar-hidden" id="EditPost_Container">
        <div class="header-container p-3 pb-2" id="EditPost_Container-Header">
            <button type="button" class="btn btn-close float-end ms-1" id="PostsEditPost_Container_Container-Close" aria-label="close"></button>
            <h5 class="h5 text-truncate">Edit Post</h5>
        </div>
        <div class="mt-2 p-3 pt-0">
            <div>
                <form method="post" asp-controller="Project" asp-action="EditPost" id="EditPost_Form">
                    <input type="hidden" name="Id" id="EPF_Id_Val" value="0" />
                    <div>
                        <textarea name="Text" id="EPF_Text" placeholder="What's going on..." class="form-control" rows="4" maxlength="2500"></textarea>
                    </div>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary w-100 btn-standard-with-no-colour">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="smallside-box-container shadow-standard scrollbar-hidden" id="Posts_Container">
        <div class="header-container p-3 pb-2" id="Posts_Container-Header">
            <button type="button" class="btn btn-close float-end ms-1" id="Posts_Container-Close" aria-label="close"></button>
            <h5 class="h5 text-truncate">Posts, <span id="PostsCount_Lbl">@ViewBag.PostsCount</span></h5>
        </div>
        <div class="mt-2 p-3 pt-0" id="Posts_Box">
            <div id="HaveSomePosts_Box">

            </div>
            <div class="mt-1 p-2 text-center" style="display: none;" id="NoPosts_Box">
                <h1 class="h1"> <i class="far fa-times-circle"></i> </h1>
                <h5 class="h5 safe-font">No Current Posts</h5>
                <small class="card-text text-muted">Create at least one post to edit, lock/unlock or remove it from this page</small>
            </div>
        </div>
    </div>

    <div class="smallside-box-container shadow-standard scrollbar-hidden" id="ReleaseNotes_Container">
        <div class="header-container p-3 pb-2" id="ReleaseNotes_Container-Header">
            <button type="button" class="btn btn-close float-end ms-1" id="ReleaseNotes_Container-Close" aria-label="close"></button>
            <h5 class="h5 text-truncate">Release Notes, <span id="ReleaseNotes_Count_Lbl">0</span></h5>
        </div>
        <div class="mt-2 p-3 pt-0" id="ReleaseNotes_Box">
        </div>
    </div>

    <div class="smallside-box-container p-3 shadow-standard scrollbar-hidden" id="ReplyToComment_Container">
        <button type="button" class="btn btn-back btn-sm float-end ms-1">&larr; Back</button>
        <h5 class="h5 text-truncate">Reply to <span class="text-primary" id="RTC_User"></span></h5>
        <div class="mt-4">
            <div class="box-container bg-light p-3">
                <input type="hidden" id="RTC_Count" value="0" />
                <h6 class="h6" id="RTC_Username">Username</h6>
                <small class="card-text text-muted white-space-on" id="RTC_TextValue">Replying message text</small>
            </div>
            <div class="mt-2 mb-5">
                <div id="RepliesList_Box">
                </div>
                <div>
                    <button type="button" class="btn text-primary btn-standard-not-animated border-0 w-100 mt-1 btn-sm" id="LoadMoreReplies_Btn" disabled>Load More Replies</button>
                </div>
            </div>
        </div>
    </div>

    @if(UserInfo != null)
    {
        <div class="mt-3 box-container card-box-container shadow-standard position-absolute p-2" id="ReplyToComment_Container-CardBox">
            <form method="post" asp-controller="Messages" asp-action="SendReply" id="SendReply_Form">
                <input type="hidden" name="CommentId" id="RTC_CommentId_Val" value="0" />
                <input type="hidden" name="UserId" value="@UserInfo.Id" />
                <div class="row">
                    <div class="col col-10">
                        <textarea class="form-control w-100 form-control-sm send-msg-form-control" rows="1" name="Text" id="RTCC_TextValue" placeholder="Enter your answer here" maxlength="2500"></textarea>
                    </div>
                    <div class="col col-2">
                        <button type="submit" class="btn btn-primary rounded-message-btn btn-standard-with-no-colour btn-sm w-100 mt-1" id="RTCSbmt_Btn"> <i class="fas fa-arrow-up"></i> </button>
                    </div>
                </div>
            </form>
        </div>
    }

    <div class="smallside-box-container shadow-standard" id="Filters_Container">
        <div class="header-container p-3 pb-2" id="Filters_Container-Header">
            <button type="button" class="btn btn-close float-end ms-1" aria-label="close" id="Filters_Container-Close"></button>
            <h5 class="h5 text-truncate">Filters</h5>
        </div>
        <div class="mt-2 p-3 pt-0">
            <div>
                <form method="get" asp-controller="Project" asp-action="GetAllProjects" id="GetAllProjects_Form">
                    <div class="row">
                        <div class="col">
                            <input type="hidden" name="GetAdditionalInfo" value="True" />
                            <label class="form-label fw-500" for="MinTargetPrice">Min. Target Price</label>
                            <input type="number" name="MinTargetPrice" id="MinTargetPrice" class="form-control number-form-control" min="0" max="10000000" value="0" placeholder="0-10,000,000" />
                        </div>
                        <div class="col">
                            <label class="form-label fw-500" for="MaxTargetPrice">Max. Target Price</label>
                            <input type="number" name="MaxTargetPrice" id="MaxTargetPrice" class="form-control number-form-control" min="0" max="10000000" value="0" placeholder="0-10,000,000" />
                        </div>
                    </div>
                    <div class="mt-3">
                        <label class="form-label ms-1 fw-500" for="Keyword">Keyword</label>
                        <input type="text" name="Keyword" id="Keyword" placeholder="Enter keyword here" class="form-control" />
                    </div>
                    <div class="ms-1">
                        <small class="card-text text-muted">Search by keyword in titles, names and descriptions of every project</small>
                    </div>
                    <div class="form-check form-switch mt-3">
                        <input class="form-check-input" type="checkbox" name="IsLocked" id="IsLocked" />
                        <label class="form-check-label fw-500" for="IsLocked">Only Locked Projects</label>
                    </div>
                    <small class="card-text text-muted">Search results will include only locked projects</small>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary btn-sm w-100 btn-standard-with-no-colour"> <i class="fas fa-search"></i> Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="smallside-box-container shadow-standard scrollbar-hidden" id="UserShortInfo_Container">
        <div class="header-container p-3 pb-2" id="UserShortInfo_Container-Header">
            <button type="button" class="btn btn-close btn-sm float-end ms-1" aria-label="close" id="UserShortInfo_Container-Close"></button>
            <h5 class="h5 text-truncate">About <span id="USI_UsernameTitle_Span"></span></h5>
        </div>
        <div class="mt-2 p-3 pt-0">
            <div class="box-container">
                <div class="box-container p-2 bg-light">
                    <small class="badge bg-white text-dark warning-badge safe-font fw-normal float-end" id="USI_CountryBadge">Country, CN</small>
                    <h1 class="h1 main-title-font-style" id="USI_Username_Lbl">Pseudoname</h1>
                    <small class="card-text text-muted" id="USI_Searchname_Lbl">Searchname</small>
                    <div class="mt-2 pt-1 border-top"></div>
                    <div class="mb-1">
                        <input type="hidden" id="USI_Id_Val" value="0" />
                        <input type="hidden" id="USI_SubscribersCount_Val" value="0" />
                        <button type="button" class="btn bg-white btn-standard-with-no-colour float-end ms-1 btn-sm" id="USI_SubscribersInfo_Btn"></button>
                        <small class="card-text text-muted" id="USI_ProjectsCount_Lbl">Projects Count</small>
                    </div>
                </div>
                <div class="card-group mt-2">
                    <div class="card p-2 bg-light">
                        <p class="card-text fw-500">Contact Info</p>
                        <small class="card-text" id="USI_Inbox_Lbl"> <i class="fas fa-inbox"></i> </small>
                        <div class="mt-2"></div>
                        <small class="card-text" id="USI_Date_Lbl"></small>
                    </div>
                    <div class="card p-2 bg-light">
                        <p class="card-text fw-500">Links</p>
                        <small class="card-text" id="USI_Link1_Lbl"></small>
                        <div></div>
                        <small class="card-text text-muted" id="USI_Link1Tag_Lbl">No Link Tag</small>
                        <div class="border-top pt-1 mt-2"></div>
                        <small class="card-text" id="USI_Link2_Lbl"></small>
                        <div></div>
                        <small class="card-text text-muted" id="USI_Link2Tag_Lbl">No Link Tag</small>
                    </div>
                </div>
                <div class="mt-1 ms-1">
                    <small class="card-text white-space-on mt-2" id="USI_Description_Lbl">Description</small>
                    <div></div>
                    <a href="#" class="btn btn-text mt-3 btn-sm" id="USI_Userpage_Link"> <i class="fas fa-chevron-right"></i> Page Link</a>
                </div>
            </div>
        </div>
    </div>

    <div class="smallside-box-container shadow-standard" id="SettingsOfProject_Container">
        <div class="header-container p-3 pb-2" id="SettingsOfProject_Container-Header">
            <button type="button" class="btn btn-close float-end ms-1" aria-label="close" id="SettingsOfProject_Container-Close"></button>
            <h5 class="h5 text-truncate">Settings Of Project</h5>
        </div>
        <div class="mt-2 p-3 pt-0">
            <div class="bordered-container p-2 pb-1">
                <small class="card-text text-muted">Selected Project</small>
                <div class="border-top pt-2 mt-2"></div>
                <h6 class="h6 text-primary safe-font" id="SelectedProjectName_Lbl">Project</h6>
            </div>
            <div class="mt-1">
                @if(UserInfo != null)
                {
                 <div>
                        <form method="get" asp-controller="Project" asp-action="GetFullProject" id="GetFullProject_Form">
                            <input type="hidden" name="Id" id="GPI_Id" value="0" />
                            <input type="hidden" name="SenderId" value="@UserInfo.Id" />
                            <input type="hidden" name="GetAdditionalInfo" id="GPI_GetAdditionalInfo" value="True" />
                            <input type="hidden" name="GetFiles" id="GPI_GetFiles" value="True" />
                            <input type="hidden" name="GetUsername" value="False" />
                            <button type="submit" class="btn btn-group-member text-start w-100" style="border-radius: 8px 8px 0 0;"> <i class="fas fa-align-left text-primary"></i> Preview</button>
                        </form>
                    </div>
                }
                else
                {
                    <div>
                        <form method="get" asp-controller="Project" asp-action="GetFullProject" id="GetFullProject_Form">
                            <input type="hidden" name="Id" id="GPI_Id" value="0" />
                            <input type="hidden" name="SenderId" value="0" />
                            <input type="hidden" name="GetAdditionalInfo" id="GPI_GetAdditionalInfo" value="True" />
                            <input type="hidden" name="GetFiles" id="GPI_GetFiles" value="True" />
                            <input type="hidden" name="GetUsername" value="False" />
                            <button type="submit" class="btn btn-group-member text-start w-100" style="border-radius: 8px 8px 0 0;"> <i class="fas fa-align-left text-primary"></i> Preview</button>
                        </form>
                    </div>
                }
                <button type="button" class="btn btn-group-member text-start w-100 boolean-change" style="border-radius: 0 0 8px 8px;" id="GPI_GetFiles-Changer"> <i class="fas fa-check text-primary"></i> With Files</button>
                <div class="mt-1 ms-1">
                    <small class="card-text text-muted">Have a sidelook on your own project</small>
                </div>
            </div>
            <div class="mt-3">
                <a href="#" class="btn btn-group-member text-start w-100" id="DirectProjectPage_Link"> <i class="fas fa-link text-primary"></i> Project Page</a>
                <div class="mt-1 ms-1">
                    <small class="card-text text-muted" id="DirectProjectLink_Lbl">Go directly to the project page</small>
                </div>
            </div>
            <div class="mt-3">
                <a href="#" class="btn btn-group-member text-start have-an-edit w-100"> <i class="fas fa-pencil-alt text-primary"></i> Edit</a>
                <div class="mt-1 ms-1">
                    <small class="card-text text-muted mt-2">Edit any info of your project</small>
                </div>
            </div>
            <div class="mt-3" id="PinTheProject_Box">
                <div>
                    <form method="post" asp-controller="Project" asp-action="Pin" id="PinTheProject_Form">
                        <input type="hidden" name="Id" id="PTP_ProjectId_Val" value="0" />
                        <input type="hidden" name="UserId" value="@UserInfo?.Id" />
                        <button type="submit" class="btn btn-group-member text-start w-100"> <i class="fas fa-thumbtack text-primary"></i> Pin</button>
                    </form>
                </div>
                <div class="mt-1 ms-1">
                    <small class="card-text text-muted mt-2">Pins at the top of every project list of you</small>
                </div>
            </div>
            <div class="mt-3 d-none" id="UnpinTheProject_Box">
                <div>
                    <form method="post" asp-controller="Project" asp-action="Unpin" id="UnpinTheProject_Form">
                        <input type="hidden" name="Id" id="UTP_ProjectId_Val" value="0" />
                        <input type="hidden" name="UserId" value="@UserInfo?.Id" />
                        <button type="submit" class="btn btn-group-member text-start w-100"> <i class="fas fa-unlink text-danger"></i> Unpin</button>
                    </form>
                </div>
                <div class="mt-1 ms-1">
                    <small class="card-text text-muted mt-2">Unpins the project from the top of every list</small>
                </div>
            </div>
            <div class="mt-3">
                <div id="LockProject_Box">
                    <form method="post" asp-controller="Project" asp-action="LockTheProject" id="LockTheProject_Form">
                        <input type="hidden" name="Id" id="LTP_Id_Val"  value="0" />
                        <input type="hidden" name="UserId"  value="@UserInfo?.Id" />
                        <button type="submit" class="btn btn-group-member text-start have-a-lock w-100"> <i class="fas fa-lock text-danger"></i> Lock</button>
                    </form>
                    <div class="mt-1 ms-1">
                        <small class="card-text text-muted">Lock the project. Locked project're visible only for their owners</small>
                    </div>
                </div>
                <div class="d-none" id="UnlockTheProject_Box">
                    <form method="post" asp-controller="Project" asp-action="UnlockTheProject" id="UnlockTheProject_Form">
                        <input type="hidden" name="Id" id="ULTP_Id_Val" value="0" />
                        <input type="hidden" name="UserId" value="@UserInfo?.Id" />
                        <button type="submit" class="btn btn-group-member text-start have-a-lock w-100"> <i class="fas fa-lock-open text-primary"></i> Unlock</button>
                    </form>
                    <div class="mt-1 ms-1">
                        <small class="card-text text-muted">Unlock selected project. The project will become visible for all users</small>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <button type="button" class="btn btn-group-member-danger text-start select-to-remove w-100"> <i class="fas fa-trash-alt text-danger"></i> Delete</button>
                <div class="mt-1 ms-1">
                    <small class="card-text text-muted">Remove your project</small>
                </div>
            </div>
        </div>
    </div>

    <div class="smallside-box-container p-3 shadow-standard" id="RemoveProject_Container">
        <button type="button" class="btn btn-close float-end ms-1" id="RemoveProject_Container-Close" aria-label="close"></button>
        <h5 class="h5 text-truncate">Remove Project</h5>
        <div class="mt-4">
            <div>
                <div class="box-container bg-light text-center p-3">
                    <h2 class="h2 text-danger"> <i class="far fa-trash-alt"></i> </h2>
                    <p class="card-text fw-500 safe-font">Are You Sure?</p>
                    <div></div>
                    <small class="card-text text-muted">Are you sure to remove this project? Later you'll not be able to recover it by any way</small>
                </div>
                <div class="mt-1">
                    <form method="post" asp-controller="Project" asp-action="Remove" id="RemoveProject_Form">
                        <input type="hidden" name="Id" id="RP_ProjectId" value="0" />
                        <input type="hidden" name="UserId" value="@UserInfo?.Id" />
                        <div class="row mt-3">
                            <div class="col col-7">
                                <button type="submit" class="btn btn-danger btn-standard-with-no-colour text-truncate w-100">Yes, Remove It</button>
                            </div>
                            <div class="col col-5">
                                <button type="button" class="btn btn-light btn-standard-with-no-colour text-truncate w-100" onclick="smallBarAnimatedOpenAndClose(false); animatedClose(false, 'RemoveProject_Container');">Don't Remove</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="box-container card-box-container shadow-standard position-absolute p-2" id="Comments_Container-CardBox">
        @if (UserInfo != null)
        {
            <div>
                <form method="post" asp-controller="Messages" asp-action="SendComment" id="SendComment_Form">
                    <input type="hidden" name="UserId" value="@UserInfo.Id" />
                    <input type="hidden" name="ProjectId" id="SCF_ProjectId_Val" value="0" />
                    <div class="row">
                        <div class="col col-10">
                            <textarea class="form-control w-100 form-control-sm send-msg-form-control" rows="1" name="Text" id="SendComment_Text" placeholder="Enter your comment here" maxlength="1500"></textarea>
                        </div>
                        <div class="col col-2">
                            <button type="submit" class="btn btn-primary rounded-message-btn btn-standard-with-no-colour btn-sm w-100 mt-1" id="SendCommentSbmt_Btn"> <i class="fas fa-arrow-up"></i> </button>
                        </div>
                    </div>
                </form>
            </div>
        }
        else
        {
            <div>
                <textarea class="form-control w-100 form-control-sm send-msg-form-control" rows="1" id="SendComment_Text" placeholder="Enter or sign in to send comment" disabled></textarea>
                <a asp-controller="Account" asp-action="Create" class="btn btn-danger btn-standard-with-no-colour btn-sm" disabled> <i class="fas fa-times"></i> </a>
            </div>
        }
    </div>
</div>

<div class="main-container shadow-standard" id="ProjectView_Container">
    <div class="header-container p-3 pb-2" id="ProjectView_Container-Header">
        <button type="button" class="btn btn-standard-not-animated btn-sm btn-open-container float-end ms-1" id="Preload_Container-OpenY">&larr; Back</button>
        <h5 class="h5 text-truncate">Project Preview</h5>
    </div>
    <div class="mt-2 p-3 pt-0">
        <div class="box-container">
            <h1 class="h1 text-primary main-title-font-style" id="Preview_Title">Project Title</h1>
        </div>
        <div class="box-container shadow-sm mt-2 p-2">
            <div class="p-2">
                <a href="#" class="btn btn-light btn-standard-with-no-colour btn-sm float-end ms-1" id="Preview_ProjectPageLink2"> <i class="fas fa-chevron-right"></i> Go To Project Page</a>
                <div>
                    <form method="get" asp-controller="User" asp-action="GetShortUserInfo" id="GetShortUserInfo_Form">
                        <input type="hidden" name="Id" id="GSU_Id_Val" value="0" />
                        <button type="submit" class="btn btn-text btn-lg safe-font" >@UserInfo?.PseudoName</button>
                    </form>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col">
                    @if(UserInfo != null)
                    {
                        <div id="NotLiked_Box">
                            <form method="post" asp-controller="Project" asp-action="Like" id="LikeTheProject_Form">
                                <input type="hidden" name="UserId" value="@UserInfo.Id" />
                                <input type="hidden" name="ProjectId" id="LTP_ProjectId_Val" value="0" />
                                <button type="submit" class="btn btn-text btn-standard-with-no-colour w-100" id="LikeSbmt_Btn"> <i class="far fa-heart"></i> <br />Like</button>
                            </form>
                        </div>
                        <div class="d-none" id="AlreadyLiked_Box">
                            <form method="post" asp-controller="Project" asp-action="RemoveFromLiked" id="RemoveFromLiked_Form">
                                <input type="hidden" name="UserId" value="@UserInfo.Id" />
                                <input type="hidden" name="ProjectId" id="RFL_ProjectId_Val" value="0" />
                                <button type="submit" class="btn btn-text btn-standard-with-no-colour w-100" id="RemoveLikeSbmt_Btn"> <i class="fas fa-heart text-primary"></i> <br />Liked</button>
                            </form>
                        </div>
                    }
                    else
                    {
                        <button type="button" class="btn btn-text btn-standard-with-no-colour w-100" id="UnableToLike_Btn"> <i class="fas fa-heart text-muted"></i> <br/>Unable To Like </button>
                    }
                </div>
                <div class="col">
                    <div>
                        <form method="get" asp-controller="Messages" asp-action="GetComments" id="GetComments_Form">
                            <input type="hidden" name="ProjectId" id="GCF_ProjectId_Val" value="0" />
                            <input type="hidden" name="SkipCount" id="SkippedCount_Val" value="0" />
                            <input type="hidden" name="Count" value="60" />
                            <button type="submit" class="btn btn-text btn-standard-with-no-colour w-100"> <i class="far fa-comments"></i> <br /> Comments</button>
                        </form>
                    </div>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-text btn-standard-with-no-colour w-100" data-bs-toggle="collapse" data-bs-target="#MoreInfo_Collapse" aria-expanded="false" aria-controls="MoreInfo_Collapse"> <i class="fas fa-ellipsis-h"></i> <br /> More</button>
                </div>
            </div>
        </div>
        <div class="collapse mt-2" id="MoreInfo_Collapse">
            <div class="card box-container shadow-sm p-3 pb-2">
                <h5 class="h5">Additional Info</h5>
                <div class="row mt-2 border-top pt-2 ms-1 me-1 text-center">
                    <div class="col">
                        <h6 class="h6">Views</h6>
                        <small class="card-text text-muted safe-font" id="Preview_ViewsCnt">0</small>
                    </div>
                    <div class="col">
                        <h6 class="h6">Likes</h6>
                        <small class="card-text text-muted safe-font" id="Preview_LikesCnt">0</small>
                    </div>
                    <div class="col">
                        <h6 class="h6">Category</h6>
                        <small class="card-text text-muted safe-font" id="Preview_Category">Unknown</small>
                    </div>
                </div>
                <div class="row mt-4 text-center">
                    <div class="col">
                        <h6 class="h6">Published</h6>
                        <small class="card-text text-muted safe-font" id="Preview_PublishedDate"></small>
                    </div>
                    <div class="col">
                        <h6 class="h6">Last Update</h6>
                        <small class="card-text text-muted safe-font" id="Preview_LastUpdatedDate"></small>
                    </div>
                </div>
                <div class="row mt-4 text-center">
                    <div class="col">
                        <h6 class="h6">Release Notes</h6>
                        <div class="mt-2">
                            <form method="get" asp-controller="Project" asp-action="GetUpdates" id="GetUpdates_Form">
                                <input type="hidden" name="Id" id="GUF_ProjectId_Val" value="0" />
                                <button type="submit" class="btn btn-text btn-sm">Show Release Notes</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="mt-2 border-top pt-2">
                    <a href="#" class="btn btn-text btn-sm" id="Preview_ProjectPageLink"> <i class="fas fa-chevron-right"></i> Go To Project Page</a>
                    <div></div>
                    <small class="card-text text-muted">It's only the preview widget of this project. If you need full access to this project (like sending messages, commentaries, subscribing or to like it) go to the project page by link</small>
                </div>
            </div>
        </div>
        <div class="box-container p-1 pt-2 pb-2 mt-2">
            <p class="card-text white-space-on" id="Preview_ShortDescription">Shorter description</p>
            <p class="card-text white-space-on mt-1" id="Preview_LongDescription">Main description</p>
        </div>
        <div class="card-group mt-2">
            <div class="card shadow-sm p-3 me-1" id="Preview_StartUpBox">
                <h3 class="h3 text-primary safe-font" id="Preview_TagPrice">$0.00</h3>
                <small class="card-text safe-font d-none" id="Preview_PrevTagPrice">$0.00, 0%</small>
                <div></div>
                <small class="card-text text-muted d-none" id="Preview_TagPriceAnnotation"></small>
                <div class="border-top pt-1 mt-2" id="Preview_TagPriceAnnotationSeparator"></div>
                <div class="mb-2" id="InvestToProject_Box">
                    <a href="#" id="Preview_DonationLink_Btn" class="btn btn-text btn-sm w-auto text-start"> <i class="fas fa-coins"></i> Donate/Invest</a>
                    <div></div>
                    <small class="card-text text-muted">There's no donation need for this project</small>
                </div>
                <div>
                    <button type="button" class="btn btn-text btn-sm w-auto text-start"> <i class="fab fa-leanpub"></i> Learn More</button>
                    <div></div>
                    <small class="card-text text-muted">Learn more about project budgets and prices from the QA page</small>
                </div>
                <div class="box-container bg-light p-2 mt-2" id="Deadline_Box">
                    <span class="h3 safe-font" id="DeadlineDaysLeft_Lbl">days left</span>
                    <div></div>
                    <small class="card-text text-muted p-0">until end</small>
                    <div class="mt-2"></div>
                    <small class="card-text text-muted">Deadline approx. at <span class="safe-font text-dark" id="DeadlineDate_Lbl">dd/MM/yyyy</span></small>
                </div>
            </div>
            <div class="card shadow-sm p-3" id="Preview_LinksBox">
                <h6 class="h6">Main Links</h6>
                <div class="border-top mt-1 pt-1"></div>
                <div>
                    <a href="#" class="btn btn-text btn-sm w-auto text-start" id="Preview_LinkBtn1"> <i class="fas fa-external-link-alt"></i> Click To Relocate</a>
                    <div></div>
                    <small class="card-text text-muted" id="Preview_LinkText1">First Link Href</small>
                </div>
                <div class="mt-2">
                    <a href="#" class="btn btn-text btn-sm mt-2 w-auto text-start" id="Preview_LinkBtn2"> <i class="fas fa-external-link-alt"></i> Click To Relocate</a>
                    <div></div>
                    <small class="card-text text-muted" id="Preview_LinkText2">Second Link Href</small>
                </div>
            </div>
        </div>

        <div class="box-container mt-2" style="display: none;" id="PreviewImages_Box">
            <div class="card-group">
                <div class="card p-3 shadow-sm">
                    <div class="d-none" id="ImgsHiddenUrls_Box">
                    </div>
                    <h6 class="h6">Photos & Images</h6>
                    <div id="ImageCarouselWithControls" class="carousel slide mt-2" data-bs-ride="carousel">
                        <div class="carousel-inner" id="ImgCarouseInner_Box">
                            <div class="d-none">
                                <input type="hidden" id="ImgIndex" value="0" />
                                <input type="hidden" id="ImgsCount" value="0" />
                            </div>
                            <div id="Images_Box">

                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" id="PrevImg" data-bs-target="#ImageCarouselWithControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" id="NextImg" data-bs-target="#ImageCarouselWithControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="card p-3 shadow-sm">
                    <h6 class="h6">Files Info</h6>
                    <div class="mt-2 text-center">
                        <button type="button" class="btn btn-text btn-sm text-muted" id="CurrentFileName_Lbl">No current files</button>
                    </div>
                    <div class="box-container p-2 text-center">
                        <span class="number-spot safe-font display-5" id="CurrentImgIndex_Span">0</span><span class="display-5 safe-font"> of <span id="FullImgsCount_Span">0</span></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-container mt-2" style="display: none;" id="PreviewAudios_Box">
            <div class="card-group">
                <div class="card p-2 shadow-sm">
                    <h6 class="h6">Audios</h6>
                    <small class="card-text text-muted">This project has got <strong id="AudiosCount_Lbl">0</strong> audio(s)</small>
                    <div class="mt-3" id="AudiosExample_Box">
                    </div>
                </div>
            </div>
        </div>

        <div class="box-container mt-2 d-none" id="YT_VideoPlayer_MainBox">
            <div class="card-group">
                <div class="card me-1 p-3 pb-1 shadow-sm">
                    <h6 class="h6"> <i class="fab fa-youtube text-danger"></i> Youtube Video</h6>
                    <div class="box-container mt-2" id="YT_VideoPlayer_Box">
                        <iframe class="yt-container w-100 ratio-16x9" id="YT_VideoPlayer" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="card shadow-sm p-3 pb-2">
                    <h6 class="h6"> <i class="fas fa-info-circle"></i> Additional Info</h6>
                    <small class="card-text text-muted mt-2" id="YT_VideoLink_Lbl"> <i class="fas fa-external-link"></i> Link: </small>
                    <div class="mt-1"></div>
                    <a href="#" class="btn btn-text btn-sm text-start text-decoration-none mt-1" id="YT_VideoLink_Btn"> <i class="fab fa-youtube text-danger"></i> Watch On Youtube</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-container shadow-standard" id="Preload_Container">
    <div class="header-container p-3 pb-2" id="Preload_Container-Header">
        <button type="button" class="btn btn-close float-end ms-1" aria-label="close" id="Preload_Container-Close"></button>
        <button type="button" class="btn btn-standard-not-animated smallside-btn-open-container float-end ms-1 me-1 btn-sm" id="Filters_Container-Open"> <i class="fas fa-filter"></i> Filters</button>
        <h5 class="h5 text-truncate">Project List</h5>
    </div>
    <div class="p-3 pt-0">
        @if(Count > 0)
        {
            @if(ViewBag.RemovedProjectsCount == 0)
            {
                <small class="card-text text-muted" id="ProjectsCount_Lbl">You've got <span id="ProjectsCount_Span">@Count</span> project(s)</small>
            }
            else
            {
                <small class="card-text text-muted" id="ProjectsCount_Lbl">You've got <span class="text-primary" id="ProjectsCount_Span">@Count</span> active project(s) and <span class="text-danger">@ViewBag.RemovedProjectsCount</span> removed</small>
            }
            <div id="HaveProjects_Box">
                @foreach(Project Item in ViewBag.Projects)
                {
                    <div class="card bordered-container project-box p-2 mt-2" id="ProjectContainer-@Item.Id">
                        <div class="d-none">
                            @if (Item.IsClosed)
                            {
                                <input type="hidden" id="ProjectIsLocked-@Item.Id" value="true" />
                            }
                            else
                            {
                                <input type="hidden" id="ProjectIsLocked-@Item.Id" value="false" />
                            }
                        </div>
                        @if (Item.IsPinned)
                        {
                            <input type="hidden" id="ProjectIsPinned-@Item.Id" value="true" />
                            <small class="card-text text-muted" id="IsPinnedIcon-@Item.Id"> <i class="fas fa-thumbtack text-primary"></i> Pinned</small>
                            <h2 class="h2 safe-font w-auto project-box" id="ProjectName-@Item.Id">@Item.Name</h2>
                        }
                        else
                        {
                            <input type="hidden" id="ProjectIsPinned-@Item.Id" value="false" />
                            <small class="card-text text-muted" style="display: none;" id="IsPinnedIcon-@Item.Id"> <i class="fas fa-thumbtack text-primary"></i> Pinned</small>
                            <h2 class="h2 safe-font w-auto project-box" id="ProjectName-@Item.Id">@Item.Name</h2>
                        }
                        @if (Item.TargetPrice != 0)
                        {
                            <small class="card-text text-muted w-auto project-box" id="ProjectPrice-@Item.Id"> <i class="fas fa-coins text-primary"></i> Target: $@Item.TargetPrice.ToString("N0")</small>
                        }
                        else
                        {
                            <small class="card-text text-muted w-auto project-box" id="ProjectPrice-@Item.Id"> <i class="fas fa-coins text-primary"></i> No target price</small>
                        }
                        <div class="mt-1"></div>
                        <small class="card-text text-muted w-auto project-box" id="ProjectCreated-@Item.Id"> <i class="far fa-calendar-alt text-primary"></i> Created at: @Item.CreatedAt.ToString("dd/MM/yyyy"), at @Item.CreatedAt.ToShortTimeString()</small>
                        <div></div>
                        <small class="text-muted project-box" id="ProjectLastUpdated-@Item.Id"> <i class="fas fa-sync text-primary"></i> Last updated: @Item.LastUpdatedAt.ToString("dd/MM/yyyy"), at @Item.LastUpdatedAt.ToShortTimeString()</small>
                        @if (!Item.IsClosed)
                        {
                            <p class="card-text w-auto project-box" id="ProjectLockInfo-@Item.Id"><small class="text-muted project-box" id="ProjectLockInfoY-@Item.Id"> <i class="fas fa-lock-open text-primary"></i> Lock Info: Unlocked</small></p>
                        }
                        else
                        {
                            <p class="card-text w-auto" id="ProjectLockInfo-@Item.Id"><small class="text-muted project-box" id="ProjectLockInfoY-@Item.Id"> <i class="fas fa-lock text-danger"></i> Lock Info: Locked</small></p>
                        }
                        <div>
                            <p class="card-text white-space-on project-box" id="ProjectDescription-@Item.Id">@Item.Description</p>
                            <div class="mt-1"></div>
                            <small class="card-text text-muted project-box" id="ProjectHelp-@Item.Id"> <i class="fas fa-ellipsis-h"></i> Click at any free part of box, to open settings box of selected project</small>
                        </div>
                    </div>
                }

                @if(ViewBag.RemovedProjects != null)
                {
                    <div class="bordered-container p-1 mt-2">
                        <p class="card-text text-danger safe-font">Removed Projects</p>
                    </div>
                    @foreach (Project Item in ViewBag.RemovedProjects)
                    {
                        <div class="bordered-container border-danger p-2 mt-2" id="ProjectContainer-@Item.Id">
                            <span class="badge warning-badge bg-danger fw-normal"> <i class="fas fa-minus"></i> Removed</span>
                            <h2 class="h2 safe-font w-auto mt-1">@Item.Name</h2>
                            @if (Item.TargetPrice != 0)
                            {
                                <small class="card-text text-muted w-auto"> <i class="fas fa-coins text-primary"></i> Target: $@Item.TargetPrice.ToString("N0")</small>
                            }
                            else
                            {
                                <small class="card-text text-muted w-auto"> <i class="fas fa-coins text-primary"></i> No target price</small>
                            }
                            <div class="mt-1"></div>
                            <small class="card-text text-muted w-auto"> <i class="far fa-calendar-alt text-primary"></i> Created at: @Item.CreatedAt.ToString("dd/MM/yyyy"), at @Item.CreatedAt.ToShortTimeString()</small>
                            <div></div>
                            <small class="text-muted"> <i class="fas fa-sync text-primary"></i> Last updated: @Item.LastUpdatedAt.ToString("dd/MM/yyyy"), at @Item.LastUpdatedAt.ToShortTimeString()</small>
                            <div class="mt-2"></div>
                            <a asp-controller="Project" asp-action="RemovedProject" asp-route-Id="@Item.Id" class="btn btn-text btn-sm fw-normal text-muted"> <i class="fas fa-ellipsis-h"></i> Removed projects can't be edited or viewed fully</a>
                        </div>
                    }
                }
            </div>
            <div class="box-container text-center mt-5" style="display: none;" id="NoProjects_Box">
                <h2 class="h2"> <i class="far fa-times-circle"></i> </h2>
                <h3 class="h3 safe-font">No Current Projects</h3>
                <small class="card-text text-muted">You haven't get any ongoing projects yet. All your currently available or already stopped projects will appear on this page for you to choose one of them for editing, locking or deleting</small>
            </div>
        }
        else
        {
            <div class="box-container text-center mt-5" id="NoProjects_Box">
                <h2 class="h2"> <i class="far fa-times-circle"></i> </h2>
                <h3 class="h3 safe-font">No Current Projects</h3>
                <small class="card-text text-muted">You haven't get any ongoing projects yet. All your currently available or already stopped projects will appear on this page for you to choose one of them for editing, locking or deleting</small>
            </div>
        }
    </div>
</div>