@model CreateProject_ViewModel
@{
    ViewData["Title"] = "Create";

    User? UserInfo = ViewBag.UserInfo;
}

<div class="main-sidebar p-2 shadow-sm" id="Main_SideBar">
    @if (UserInfo != null)
    {
        <div class="d-none">
            <input type="hidden" id="PageInfo_UserId" value="@UserInfo.Id" />
        <form method="get" asp-controller="Notifications" asp-action="GetNotifications" id="GetNotifications_Form">
            <input type="hidden" name="Id" value="@UserInfo.Id" />
        </form>
        <form method="get" asp-controller="Messages" asp-action="GetAll" id="GetAllMessages_Form">
            <input type="hidden" name="Id" value="@UserInfo.Id" />
        </form>
            <form method="get" asp-controller="Messages" asp-action="GetAllSent" id="GetAllSentMessages_Form">
                <input type="hidden" name="Id" value="@UserInfo.Id" />
            </form>
    </div>
    }

    <div class="smallside-box-container shadow-standard" id="AboutCategories_Container">
        <div class="header-container p-3 pb-2" id="AboutCategories_Container-Header">
            <button type="button" class="btn btn-close float-end ms-1" id="AboutCategories_Container-Close" aria-label="close"></button>
            <h5 class="h5 text-truncate">About Categories</h5>
        </div>
        <div class="mt-2 p-3 pt-0">
            <h6 class="h6">Categories For Projects</h6>
            <small class="card-text">Owners of projects must choose one category from the prepared list which describes their project. Below in the list we'll show to you all categories to inform you</small>
            <div class="mt-3">
                <div class="bordered-container p-2">
                    <h3 class="h3"> <i class="fas fa-code text-primary"></i> </h3>
                    <h6 class="h6 safe-font text-primary">IT & Programming</h6>
                    <small class="card-text text-muted">For all programmers and IT developers who needs for a help or a comment</small>
                </div>
                <div class="bordered-container p-2 mt-2">
                    <h3 class="h3"> <i class="fas fa-microchip text-success"></i> </h3>
                    <h6 class="h6 safe-font text-success">Technologies</h6>
                    <small class="card-text text-muted">For all technological companies and individual people</small>
                </div>
                <div class="bordered-container p-2 mt-2">
                    <h3 class="h3"> <i class="far fa-newspaper text-danger"></i> </h3>
                    <h6 class="h6 safe-font text-danger">Networks and Media</h6>
                    <small class="card-text text-muted">For all new and old media and network sources</small>
                </div>
                <div class="bordered-container p-2 mt-2">
                    <h3 class="h3"> <i class="fas fa-film"></i> </h3>
                    <h6 class="h6 safe-font">Films and Movies</h6>
                    <small class="card-text text-muted">For all talented and motivated people who wants to show their own masterpieces to others <i class="fas fa-heart text-dark"></i> </small>
                </div>
                <div class="bordered-container p-2 mt-2">
                    <h3 class="h3"> <i class="fas fa-gamepad text-primary"></i> </h3>
                    <h6 class="h6 safe-font text-primary">Gaming</h6>
                    <small class="card-text text-muted">For all gamers and game developers</small>
                </div>
                <div class="bordered-container p-2 mt-2">
                    <h3 class="h3"> <i class="fas fa-stethoscope text-danger"></i> </h3>
                    <h6 class="h6 safe-font text-danger">Medicine</h6>
                    <small class="card-text text-muted">For all medical inventions and useful infos</small>
                </div>
                <div class="bordered-container p-2 mt-2">
                    <h3 class="h3"> <i class="fas fa-car text-success"></i> </h3>
                    <h6 class="h6 safe-font text-success">Automotive</h6>
                    <small class="card-text text-muted">For all new and old (sometimes too old) carmakers to show their new and sometimes classic inventions</small>
                </div>
                <div class="bordered-container p-2 mt-2">
                    <h3 class="h3"> <i class="fas fa-tablet-alt text-secondary"></i> </h3>
                    <h6 class="h6 safe-font text-secondary">Devices</h6>
                    <small class="card-text text-muted">For all large and small device makers</small>
                </div>
            </div>
        </div>
    </div>

    <div class="smallside-box-container shadow-standard" id="YTPreview_Container">
        <div class="header-container p-3 pb-2" id="YTPreview_Container-Header">
            <button type="button" class="btn btn-close float-end ms-1" id="YTPreview_Container-Close" aria-label="close"></button>
            <h5 class="h5 text-truncate"> <i class="fab fa-youtube text-danger"></i> YouTube Video Preview</h5>
        </div>
        <div class="mt-2 p-3 pt-0">
            <div>
                <small class="card-text text-muted">Entered video preview</small>
                <div class="mt-2"></div>
                <div class="box-container text-center p-3" id="NoVideo_Box">
                    <h1 class="h1 display-4 yt-icon text-danger"> <i class="fab fa-youtube"></i> </h1>
                    <h3 class="h3 safe-font mt-2">Enter link of video to preview it</h3>
                </div>
                <div class="box-container" style="display: none;" id="YT_VideoPlayer_Box">
                    <iframe class="yt-container w-100 ratio-16x9" id="YT_VideoPlayer" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div>
                    <small class="card-text text-muted" id="YT_VideoLink_Lbl"></small>
                    <div class="mt-1"></div>
                    <a href="#" class="btn btn-text btn-sm text-decoration-none" id="YT_VideoLink_Btn"> <i class="fas fa-external-link-alt"></i> Go To Video On Youtube</a>
                </div>
            </div>
        </div>
    </div>

    <div class="smallside-box-container shadow-standard" id="AddDonationRules_Container">
        <div class="header-container p-3 pb-2" id="AddDonationRules_Container-Header">
            <button type="button" class="btn btn-close float-end ms-1" aria-label="close" id="AddDonationRules_Container-Close"></button>
            <h5 class="h5 text-truncate">Add Donation Rules</h5>
        </div>
        <div class="mt-2 p-3 pt-0">
            <div>
                <label for="DonationRulesDescription_TextBox" class="form-label fw-500">Describe Your Rules</label>
                <textarea id="DonationRulesDescription_TextBox" class="form-control" rows="4" maxlength="1200" placeholder="Enter description here"></textarea>
            </div>
            <div class="mt-2">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary btn-standard-with-no-colour w-100" id="AcceptRules_Btn">Accept Rules</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-light text-dark btn-standard-with-no-colour w-100">About Rules</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="smallside-box-container shadow-standard" id="AddOption_Container">
        <div class="header-container p-3 pb-2" id="AddOptions_Container-Header">
            <button type="button" class="btn btn-close float-end ms-1" aria-label="close" id="AddOption_Container-Close"></button>
            <h5 class="h5 text-truncate">Add Option To Text</h5>
        </div>
        <div class="mt-2 p-3 pt-0">
            <div class="bordered-container p-2">
                <small class="card-text text-muted">Type:</small>
                <small class="card-text" id="AddOption_Badge">No Item</small>
                <input type="hidden" id="AddOption_Type_Val" value="0" />
                <input type="hidden" id="AddOption_WhereAndFrom_Val" />
            </div>
            <div class="mt-2">
                <label class="form-label fw-500 ms-1">Enter Text Value</label>
                <input type="text" class="form-control" id="AddOption_Val1" autocomplete="off" placeholder="Enter the value here" />
            </div>
            <div class="ms-1">
                <small class="card-text text-muted">This part will show in special, selected by you form</small>
            </div>
            <div class="mt-3 d-none" id="ColorOption_Box">
                <label class="form-label fw-500 ms-1">Enter Color</label>
                <input type="text" class="form-control" autocomplete="off" id="AddOption_Val3" placeholder="Enter color name or code here" />
                <small class="card-text text-muted">For example: <span class="text-primary">#0d6efd</span> or just enter <span class="text-danger">red</span></small>
            </div>
            <div class="mt-3">
                <label class="form-label fw-500 ms-1" id="AddOption_Val2_Label">Enter Link</label>
                <input type="text" class="form-control" autocomplete="off" id="AddOption_Val2" disabled placeholder="Enter the link here" />
            </div>
            <div class="mt-3">
                <button type="button" class="btn btn-primary btn-standard-with-no-colour w-100" disabled id="AddOptionSbmt_Btn">Add Option</button>
            </div>
        </div>
    </div>

    <div class="smallside-box-container shadow-standard" id="DonationProjectsInfo_Container">
        <div class="header-container p-3 pb-2" id="DonationProjectsInfo_Container-Header">
            <button type="button" class="btn btn-close float-end ms-1" aria-label="close" id="DonationProjectsInfo_Container-Close"></button>
            <h5 class="h5 text-truncate">About Donation Projects</h5>
        </div>
        <div class="mt-2 p-3 pt-0">
            <div>
                <p class="card-text">Welcome to a widget, where you can explore all needed information about <span class="fw-500">donation projects</span>. Let's get started</p>
                <ol>
                    <li class="card-text">Donation projects must contain net worth information such as: <span class="fw-500">net worth value</span>, <span class="fw-500">the description for it</span>, <span class="fw-500">terms & conditions</span> in case if some user will decide to invest in your project</li>
                    <li class="card-text">Deadline date. By the end of deadline the project will become closed, but still available to view for other users. They may send you messages, commentaries about your project and save it, but they wont be able to donate or invest in it after deadline date</li>
                    <li class="card-text">Project will be closed automatically as soon as it reaches his net worth target value</li>
                    <li class="card-text">You may close commentaries and messages for your projects and for your account</li>
                    <li class="card-text">Doppelganger (copy pasted projects with equal content) will be removed by us (not allowed by our <span class="fw-500">terms & conditions</span>)</li>
                </ol>
                <p class="card-text">Otherwise, donation and informative projects are similar to each other</p>
            </div>
        </div>
    </div>

    <div class="box-container shadow-sm p-3 text-center">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-navbar btn-sm w-100 btn-open-container" id="Preload_Container-Open" onclick="$('#CreateProject_Container-Open').attr('disabled', true);"> <i class="fas fa-search-dollar"></i> / <i class="fas fa-info-circle"></i> <br />Choose Type</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-navbar btn-sm w-100 btn-open-container" id="CreateProject_Container-Open" disabled> <i class="fas fa-step-forward"></i> <br />Continue</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-navbar btn-sm w-100 smallside-btn-open-container" id="DonationProjectsInfo_Container-OpenX"> <i class="far fa-question-circle"></i> <br /> About Types</button>
            </div>
            <div class="col d-lg-none d-xl-none">
                <button type="button" class="btn btn-navbar btn-sm w-100 smallside-btn-close-n-open" id="Preload_Container-AdditionalOpen"> <i class="fas fa-times-circle text-danger"></i> <br />Close</button>
            </div>
        </div>
    </div>
</div>

<div class="main-container shadow-standard" id="Preload_Container">
    <div class="mt-2 p-2">
        <div class="text-center">
            <h2 class="h2">Choose Your Project Type</h2>
            <small class="card-text text-muted">available types: 2</small>
            <div class="card-group mt-3">
                <div class="card me-1">
                    <div>
                        <div class="box-container bg-light p-3">
                            <h1 class="h1 text-primary"> <i class="fas fa-search-dollar"></i> </h1>
                            <h4 class="h4 safe-font">Donation Project</h4>
                            <small class="card-text text-muted">allows you to receive investments and donations from other users. Does have deadline</small>
                        </div>
                        <div class="text-start mt-3">
                            <ul>
                                <li class="card-text"><small>Must contain net worth</small></li>
                                <li class="card-text"><small>Must contain net worth's description</small></li>
                                <li class="card-text"><small>Should contain terms & conditions</small></li>
                                <li class="card-text"><small>Must have deadline day</small></li>
                                <li class="card-text"><small>By the end of deadline the project will still remain active for some things</small></li>
                            </ul>
                            <small class="card-text">All main information about the difference between <span class="fw-500 text-primary">donation</span> and <span class="fw-500">informative</span> projects is placed <span class="text-primary smallside-btn-open-container" id="DonationProjectsInfo_Container-Open">here</span></small>
                        </div>
                        <div class="mt-2">
                            @if (ViewBag.IsAbleToCreateAnotherOne)
                            {
                                <button type="button" class="btn btn-light text-primary btn-standard-with-no-colour w-100" id="CreateDonationProject_Btn">Create Donation Project</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-light text-primary btn-standard-with-no-colour w-100" disabled>Disabled</button>
                            }
                        </div>
                    </div>
                </div>
                <div class="card glass-container">
                    <div>
                        <div class="box-container bg-light p-3">
                            <h1 class="h1"> <i class="fas fa-info-circle"></i> </h1>
                            <h4 class="h4 safe-font">Informative Project</h4>
                            <small class="card-text text-muted">contains information about sth, that may already be closed or even do not be a project</small>
                        </div>   
                        <div class="text-start mt-3">
                            <ul>
                                <li class="card-text"><small>No limits</small></li>
                                <li class="card-text"><small>May contain budget information</small></li>
                                <li class="card-text"><small>No terms & conditions</small></li>
                                <li class="card-text"><small>No deadlines. No donations</small></li>
                                <li class="card-text"><small>May contain any kind of information (images and audios included)</small></li>
                            </ul>
                            <small class="card-text">All main information about the difference between<span class="fw-500 text-primary">donation</span> and <span class="fw-500">informative</span> projects is placed <span class="text-primary smallside-btn-open-container" id="DonationProjectsInfo_Container-OpenY">here</span></small>
                        </div>
                        <div class="mt-2">
                            @if (ViewBag.IsAbleToCreateAnotherOne)
                            {
                                <button type="button" class="btn btn-light btn-standard-with-no-colour w-100" id="CreateInformativeProject_Btn">Create Informative Project</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-light btn-standard-with-no-colour w-100" disabled>Disabled</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <div class="text-center glass-container p-2">
                    @if (UserInfo!.EmailConfirmed)
                    {
                        <h5 class="h5">You've got <span class="fw-500">@ViewBag.CreatedProjectsCount</span> out of 64</h5>
                    }
                    else
                    {
                        <h5 class="h5">You've got <span class="fw-500">@ViewBag.CreatedProjectsCount</span> out of 40</h5>
                    }
                    <small class="card-text text-muted"><span class="fw-500">@ViewBag.ProjectsLeftToCreate</span> projects left to create; max capacity may be increased lately</small>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-container shadow-standard" id="CreateProject_Container">
    <div class="header-container p-3 pb-2" id="CreateProject_Container-Header">
        <button type="button" class="btn btn-close float-end ms-1" aria-label="close" id="CreateProject_Container-Close"></button>
        <h5 class="h5 text-truncate" id="CreateProject_Header_Lbl">Create Donation Project</h5>
    </div>
    <div class="mt-2 p-3 pt-0">
        <form method="post" asp-controller="Project" asp-action="CreateProject" id="CreateProject_Form">
            <div class="d-none">
                <input type="hidden" asp-for="UserId" value="@UserInfo!.Id" />
            </div>
            @if(UserInfo.AreCommentsDisabled)
            {
                <div class="form-check form-switch">
                    <input class="form-check-input" asp-for="AreCommentsDisabled" type="checkbox" checked value="true" disabled />
                    <label class="form-check-label fw-500" asp-for="AreCommentsDisabled">Disable Comments</label>
                </div>
                <small class="card-text text-muted">Enable all comments from account settings to get access</small>
            }
            else 
            {
                <div class="form-check form-switch">
                    <input class="form-check-input" asp-for="AreCommentsDisabled" type="checkbox" value="false" />
                    <label class="form-check-label fw-500" asp-for="AreCommentsDisabled">Disable Comments</label>
                </div>
            }
            <small class="card-text text-muted">Disables comments, but does not removes previously sent ones</small>
            <div class="mt-3">
                <label class="form-label fw-500" asp-for="Name">Title</label>
                <span class="badge warning-badge" asp-validation-for="Name"></span>
                <input asp-for="Name" class="form-control" placeholder="Enter your project title" autocomplete="off" />
            </div>
            <div class="mt-3">
                <label class="form-label fw-500" asp-for="Description" for="Project_Description">Description</label>
                <span class="badge warning-badge" asp-validation-for="Description"></span>
                <span class="badge warning-badge float-end fw-normal ms-1 mt-1 text-len-badge" id="Project_Description-LengthSpan">0/1600, -1600</span>
                <textarea asp-for="Description" id="Project_Description" class="form-control" rows="5" placeholder="Enter short description of your project"></textarea>
            </div>
            <div class="mt-3">
                <label class="form-label fw-500" asp-for="TextPart">Main Info</label>
                <span class="badge warning-badge" asp-validation-for="TextPart"></span>
                <div class="box-container bg-light p-2">
                    <span class="badge warning-badge float-end fw-normal ms-1 mt-1 text-len-badge" id="TextPart-LengthSpan">0/6000, -6000</span>
                    <button type="button" class="btn btn-text btn-sm btn-standard-with-no-colour add-option fw-bold me-2" data-html="TextPart" id="AddOpt-1">B</button>
                    <button type="button" class="btn btn-text btn-sm btn-standard-with-no-colour add-option text-decoration-underline me-2" data-html="TextPart" id="AddOpt-3">U</button>
                    <button type="button" class="btn btn-text btn-sm btn-standard-with-no-colour add-option fst-italic me-2" data-html="TextPart" id="AddOpt-4">I</button>
                    <button type="button" class="btn btn-text btn-sm text-primary btn-standard-with-no-colour add-option me-2" data-html="TextPart" id="AddOpt-5"> <i class="fas fa-palette add-option" data-html="TextPart" id="AddOptIcon-5"></i> </button>
                    <button type="button" class="btn btn-text btn-sm btn-standard-with-no-colour add-option me-2" data-html="TextPart" id="AddOpt-6"> <i class="far fa-square add-option" data-html="TextPart" id="AddOptIcon-6"></i> </button>
                    <button type="button" class="btn btn-text btn-sm btn-standard-with-no-colour add-option me-2" data-html="TextPart" id="AddOpt-2"> <i class="fas fa-link"></i> Link</button>
                    <div class="dropdown d-inline">
                        <button type="button" class="btn btn-text btn-sm btn-standard-with-no-colour" data-bs-toggle="dropdown" aria-expanded="false"> <i class="fas fa-ellipsis-h"></i> </button>
                        <ul class="dropdown-menu shadow-sm p-1">
                            <li><button type="button" class="btn btn-standard-not-animated fw-normal text-start btn-sm w-100 to-uppercase" id="ToUppercase-TextPart"> <i class="fas fa-chevron-up disabled"></i> Uppercase</button></li>
                            <li><button type="button" class="btn btn-standard-not-animated fw-normal text-start btn-sm w-100 add-option mt-1 info-popover" data-bs-custom-class="info-popover-show" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left" data-bs-content="Some hinted text will appear when someone hovers or clicks on this part" data-html="TextPart" id="AddOpt-9"> <i class="far fa-lightbulb text-warning add-option" data-html="TextPart" id="AddOptIcon-9"></i> Text with hint</button></li>
                            <li><button type="button" class="btn btn-standard-not-animated fw-normal text-start btn-sm w-100 add-option mt-1" data-html="TextPart" id="AddOpt-10"> <i class="fas fa-fill-drip text-primary add-option" data-html="TextPart" id="AddOptIcon-10"></i> Backgrounded text</button></li>
                            <li><button type="button" class="btn btn-standard-not-animated fw-normal text-start btn-sm w-100 add-option mt-1" data-html="TextPart" id="AddOpt-8"> <i class="fas fa-font add-option" data-html="TextPart" id="AddOptIcon-8"></i> Alternative font family</button></li>
                            <li><button type="button" class="btn btn-standard-not-animated fw-normal text-start btn-sm w-100 to-randomise mt-1" id="ToRandomise-TextPart"> <i class="fas fa-random"></i> Randomise</button></li>
                        </ul>
                    </div>
                </div>
                <textarea asp-for="TextPart" class="form-control mt-1" rows="6" placeholder="Enter main information about your project"></textarea>
            </div>
            <div class="mt-3">
                <label class="form-label fw-500">Links</label>
                <div class="input-group">
                    <input asp-for="Link1" id="ProjectLink1" class="form-control" placeholder="Copy the first link here" />
                    <input asp-for="Link2" id="ProjectLink2" class="form-control" placeholder="Copy the second link here" />
                </div>
                <div class="bordered-container p-2 mt-1">
                    <small class="card-text text-muted">Entered links</small>
                    <div class="mt-2 pt-2 border-top"></div>
                    <a href="#" class="text-decoration-none" id="Link1Example_Btn"> <i class="fas fa-globe"></i> No entered first link</a>
                    <div></div>
                    <small class="card-text text-muted" style="display: none;" id="Link1_Link"></small>
                    <div class="mt-1"></div>
                    <a href="#" class="text-decoration-none mt-2" id="Link2Example_Btn"> <i class="fas fa-globe"></i> No entered second link</a>
                    <div></div>
                    <small class="card-text text-muted" style="display: none;" id="Link2_Link"></small>
                </div>
            </div>
            <div class="mt-3">
                <label class="form-label fw-500" asp-for="YoutubeLink">Youtube Video Link</label>
                <input asp-for="YoutubeLink" class="form-control" autocomplete="off" placeholder="Enter full link here" />
            </div>
            <div class="mt-4">
                <label class="form-label fw-500">Select Category (@ViewBag.Count)</label>
                <div></div>
                <small class="card-text text-muted smallside-btn-open-container" id="AboutCategories_Container-Open">Click to know more about categories</small>
                <span class="warning-badge" asp-validation-for="CategoryId"></span>
                <div class="overflow-auto mh-280 scrollbar-hidden">
                    <input type="hidden" id="LastCategoryId_Val" value="@ViewBag.LastCategoryId" />
                    <input type="hidden" asp-for="CategoryId" value="0" />
                    @foreach (Category Item in ViewBag.Categories)
                    {
                        <div class="bordered-container category-select-container p-2 mt-1 mb-1" id="CategoryValue-@Item.Id">
                            <span class="category-icon category-select-container border-0" id="CategoryIcon-@Item.Id">@Item.Description</span>
                            <small class="card-text text-muted fw-500 border-0 category-select-container" id="CategoryName-@Item.Id">@Item.Name</small>
                        </div>
                    }
                </div>
            </div>
            <div class="box-container mt-3 p-2 shadow-sm" id="BudgetInfo_Box">
                <div>
                    <label class="form-label fw-500">Budget/Target Price</label>
                    <div></div>
                    <small class="card-text text-muted">Introduce your project's budget</small>
                    <div class="mt-2"></div>
                    <button class="btn btn-light btn-sm btn-standard-with-no-colour" type="button" data-bs-toggle="collapse" data-bs-target="#Investments_Box" aria-expanded="false" aria-controls="Investments_Box"> <i class="fas fa-search-dollar"></i> Add Budget/Target Price</button>
                    <div>
                        <div class="collapse w-100" id="Investments_Box">
                            <div class="card bordered-container p-2 mt-2">
                                <div>
                                    <span class="badge bg-primary fw-normal float-end ms-1 text-light" id="StepOfRange_Span">Step: $100.00</span>
                                    <label class="form-label fw-500" asp-for="ProjectPrice">Set Value</label>
                                    <input type="range" class="form-range w-100" step="100" min="0" value="0" max="750000000" asp-for="ProjectPrice" />
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col col-8">
                                            <span class="badge bg-primary text-light mt-2 p-2 safe-font text-start w-100" id="CurrentPrice_Badge">Current: $0.00</span>
                                        </div>
                                        <div class="col col-4">
                                            <span class="badge bg-success text-light mt-2 p-2 safe-font text-start w-100" id="UpdatedPrice_Badge">Same Target</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-8">
                                            <span class="badge bg-light text-primary mt-2 p-2 safe-font text-start w-100" id="ProjectPrice_Badge">$0.00</span>
                                        </div>
                                        <div class="col col-4">
                                            <span class="badge bg-light text-primary mt-2 p-2 safe-font text-start w-100" id="ProjectPricePercentage_Badge">0.00%</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <button type="button" class="btn btn-light text-primary btn-sm mt-2 d-inline btn-standard-with-no-colour w-100" id="IncreaseStep_Btn"> <i class="fas fa-plus"></i> Increase Step</button>
                                        </div>
                                        <div class="col">
                                            <button type="button" class="btn btn-light text-primary btn-sm mt-2 btn-standard-with-no-colour w-100" id="DecreaseStep_Btn"> <i class="fas fa-minus"></i> Decrease Step</button>
                                        </div>
                                        <div class="col d-none" id="TPCAnnotation_Box">
                                            <button type="button" class="btn btn-light text-primary btn-sm mt-2 btn-standard-with-no-colour w-100" data-bs-toggle="collapse" data-bs-target="#TargetPriceAnnotation_Collapse" aria-expanded="false" aria-controls="TargetPriceAnnotation_Collapse"> <i class="fas fa-align-left"></i> Add Annotation</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse mt-2" id="TargetPriceAnnotation_Collapse">
                                    <label class="form-label fw-500 ms-1" asp-for="TargetPriceChangeAnnotation">Annotation</label>
                                    <span class="badge warning-badge" asp-validation-for="TargetPriceChangeAnnotation"></span>
                                    <textarea name="TargetPriceChangeAnnotation" id="TargetPriceChangeAnnotation" maxlength="400" class="form-control" rows="4" placeholder="Enter your annotation here"></textarea>
                                    <div class="ms-1"><small class="card-text text-muted">You may add the annotation about your target price change to let know your followers what have changed</small></div>
                                </div>
                                <div class="mt-2 pt-2 border-top">
                                    <div class="form-check form-switch">
                                        <input asp-for="IsBudget" class="form-check-input" type="checkbox" value="false" />
                                        <label asp-for="IsBudget" class="form-check-label fw-500">Budget</label>
                                        <input type="hidden" asp-for="DonationRules" />
                                    </div>
                                    <div>
                                        <small class="card-text text-muted">Uncheck the checkbox if your project isn't created for investments</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <label class="form-label fw-500 ms-1">Duration (in days)</label>
                <div></div>
                <input asp-for="Duration" class="number-form-control w-50" min="0" max="1200" placeholder="Up to 1,200d" />
            </div>
            <div class="ms-1">
                <small class="card-text text-muted">If your project is has no deadline enter 0 (or leave the field empty)</small>
            </div>
            <div class="mt-3">
                <div class="ms-1">
                    <label class="form-label fw-500" asp-for="ImagesFiles">Choose Images</label>
                </div>
                <div>
                    <div id="ImagesFiles-Get" class="upload-file-btn">Click to Upload</div>
                    <div class="d-none">
                        <input type="file" asp-for="ImagesFiles" multiple accept=".png, .jpg, .jpeg" onchange="sub(this);" />
                    </div>
                </div>
                <div class="ms-1">
                    <small class="card-text text-muted" id="ChosenFileName_Lbl">You can upload up to 6 images per project</small>
                </div>
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="col col-7">
                        <button type="submit" class="btn btn-primary btn-submit w-100 btn-standard-with-no-colour" disabled> <i class="fas fa-plus-circle"></i> Create</button>
                    </div>
                    <div class="col col-5">
                        <button type="button" class="btn btn-light w-100 btn-standard-with-no-colour text-truncate" disabled id="PreviewTheProject_Btn"> <i class="fas fa-eye"></i> Have a look</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="main-container shadow-standard" id="Completed_Container">
    <div class="header-container p-3 pb-2" id="Completed_Container-Header">
        <button type="button" class="btn btn-close float-end ms-1" aria-label="close" id="Completed_Container-Close"></button>
        <h6 class="h5 text-truncate">Project Created</h6>
    </div>
    <div class="mt-2 p-3 pt-0">
        <div class="text-center p-3">
            <h2 class="h2 display-4"> <i class="fas fa-check-circle"></i> </h2>
            <h4 class="h4 display-5 safe-font">Project has been created successfully</h4>
            <small class="card-text text-muted">Go by link below to have a look on it by side and edit it if something is not well enough</small>
            <div class="mt-2">
                <a href="#" class="btn btn-text" id="LookAtProject_Btn"> <i class="fas fa-eye"></i> Have A Look At Project</a>
            </div>
        </div>
    </div>
</div>

<div class="main-container shadow-standard" id="Preview_Container">
    <div class="header-container p-3 pb-2" id="Preview_Container-Header">
        <button type="button" class="btn btn-back btn-sm float-end ms-1">&larr; Back</button>
        <h6 class="h5 text-truncate">Preview The Project</h6>
    </div>
    <div class="mt-2 p-3 pt-0">
        <div class="box-container">
            <h1 class="h1 text-primary safe-font" id="Preview_Title">Project Title</h1>
        </div>
        <div class="box-container shadow-sm mt-2 p-2">
            <div class="p-2">
                <button type="button" class="btn btn-light btn-standard-with-no-colour btn-sm float-end ms-1"> <i class="fas fa-bell"></i> Subscribe</button>
                <h5 class="h5 safe-font">@UserInfo?.PseudoName</h5>
            </div>
            <div class="row mt-1">
                <div class="col">
                    <button type="button" class="btn btn-text btn-standard-with-no-colour w-100"> <i class="far fa-heart"></i> <br /> Like</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-text btn-standard-with-no-colour w-100"> <i class="fas fa-comments"></i> <br /> Comments</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-text btn-standard-with-no-colour w-100"> <i class="fas fa-ellipsis-h"></i> <br /> More</button>
                </div>
            </div>
        </div>
        <div class="box-container mt-2">
            <p class="card-text white-space-on" id="Preview_ShortDescription">Shorter description</p>
            <p class="card-text white-space-on mt-1" id="Preview_LongDescription">Main description</p>
        </div>
        <div class="card-group mt-2">
            <div class="card shadow-sm p-3 me-1" id="Preview_StartUpBox">
                <h3 class="h3 text-primary safe-font" id="Preview_TagPrice">$0.00</h3>
                <small class="card-text text-muted" id="Preview_TagPriceDescription">needs this project for his start</small>
                <div class="mt-3">
                    <button type="button" class="btn btn-text btn-sm w-auto text-start"> <i class="fas fa-coins"></i> Invest</button>
                    <div></div>
                    <small class="card-text text-muted">Invest to this project and become a part of it</small>
                </div>
                <div class="mt-2">
                    <button type="button" class="btn btn-text btn-sm w-auto text-start"> <i class="fab fa-leanpub"></i> Learn More</button>
                    <div></div>
                    <small class="card-text text-muted">Learn more about investments and how they work in our project from the QA page</small>
                </div>
            </div>
            <div class="card shadow-sm p-3" id="Preview_LinksBox">
                <h6 class="h6">Main Links</h6>
                <div class="border-top mt-1 pt-1"></div>
                <div>
                    <a href="#" class="btn btn-text btn-sm w-auto text-start" id="Preview_LinkBtn1"> <i class="fas fa-external-link-alt"></i> Click To Relocate</a>
                    <div></div>
                    <small class="card-text text-muted" id="Preview_LinkText1">First Link Href</small>
                </div>
                <div class="mt-2">
                    <a href="#" class="btn btn-text btn-sm mt-2 w-auto text-start" id="Preview_LinkBtn2"> <i class="fas fa-external-link-alt"></i> Click To Relocate</a>
                    <div></div>
                    <small class="card-text text-muted" id="Preview_LinkText2">Second Link Href</small>
                </div>
            </div>
        </div>
    </div>
</div>
