@model CreateProject_ViewModel
@{
    ViewData["Title"] = "Create";

    User? UserInfo = ViewBag.UserInfo;
}

<div class="main-sidebar p-2 shadow-sm" id="Main_SideBar">
    @if (UserInfo != null)
    {
        <div class="d-none">
            <input type="hidden" id="PageInfo_UserId" value="@UserInfo.Id" />
        <form method="get" asp-controller="Notifications" asp-action="GetNotifications" id="GetNotifications_Form">
            <input type="hidden" name="Id" value="@UserInfo.Id" />
        </form>
        <form method="get" asp-controller="Messages" asp-action="GetAll" id="GetAllMessages_Form">
            <input type="hidden" name="Id" value="@UserInfo.Id" />
        </form>
            <form method="get" asp-controller="Messages" asp-action="GetAllSent" id="GetAllSentMessages_Form">
                <input type="hidden" name="Id" value="@UserInfo.Id" />
            </form>
    </div>
    }

    <div class="smallside-box-container shadow-standard" id="AboutCategories_Container">
        <div class="header-container p-3 pb-2" id="AboutCategories_Container-Header">
            <button type="button" class="btn btn-close float-end ms-1" id="AboutCategories_Container-Close" aria-label="close"></button>
            <h5 class="h5 text-truncate">About Categories</h5>
        </div>
        <div class="mt-2 p-3 pt-0">
            <h6 class="h6">Categories For Projects</h6>
            <small class="card-text">Owners of projects must choose one category from the prepared list which describes their project. Below in the list we'll show to you all categories to inform you</small>
            <div class="mt-3">
                <div class="bordered-container p-2">
                    <h3 class="h3"> <i class="fas fa-code text-primary"></i> </h3>
                    <h6 class="h6 safe-font text-primary">IT & Programming</h6>
                    <small class="card-text text-muted">For all programmers and IT developers who needs for a help or a comment</small>
                </div>
                <div class="bordered-container p-2 mt-2">
                    <h3 class="h3"> <i class="fas fa-microchip text-success"></i> </h3>
                    <h6 class="h6 safe-font text-success">Technologies</h6>
                    <small class="card-text text-muted">For all technological companies and individual people</small>
                </div>
                <div class="bordered-container p-2 mt-2">
                    <h3 class="h3"> <i class="far fa-newspaper text-danger"></i> </h3>
                    <h6 class="h6 safe-font text-danger">Networks and Media</h6>
                    <small class="card-text text-muted">For all new and old media and network sources</small>
                </div>
                <div class="bordered-container p-2 mt-2">
                    <h3 class="h3"> <i class="fas fa-film"></i> </h3>
                    <h6 class="h6 safe-font">Films and Movies</h6>
                    <small class="card-text text-muted">For all talented and motivated people who wants to show their own masterpieces to others <i class="fas fa-heart text-dark"></i> </small>
                </div>
                <div class="bordered-container p-2 mt-2">
                    <h3 class="h3"> <i class="fas fa-gamepad text-primary"></i> </h3>
                    <h6 class="h6 safe-font text-primary">Gaming</h6>
                    <small class="card-text text-muted">For all gamers and game developers</small>
                </div>
                <div class="bordered-container p-2 mt-2">
                    <h3 class="h3"> <i class="fas fa-stethoscope text-danger"></i> </h3>
                    <h6 class="h6 safe-font text-danger">Medicine</h6>
                    <small class="card-text text-muted">For all medical inventions and useful infos</small>
                </div>
                <div class="bordered-container p-2 mt-2">
                    <h3 class="h3"> <i class="fas fa-car text-success"></i> </h3>
                    <h6 class="h6 safe-font text-success">Automotive</h6>
                    <small class="card-text text-muted">For all new and old (sometimes too old) carmakers to show their new and sometimes classic inventions</small>
                </div>
                <div class="bordered-container p-2 mt-2">
                    <h3 class="h3"> <i class="fas fa-tablet-alt text-secondary"></i> </h3>
                    <h6 class="h6 safe-font text-secondary">Devices</h6>
                    <small class="card-text text-muted">For all large and small device makers</small>
                </div>
            </div>
        </div>
    </div>

    <div class="smallside-box-container shadow-standard" id="YTPreview_Container">
        <div class="header-container p-3 pb-2" id="YTPreview_Container-Header">
            <button type="button" class="btn btn-close float-end ms-1" id="YTPreview_Container-Close" aria-label="close"></button>
            <h5 class="h5 text-truncate"> <i class="fab fa-youtube text-danger"></i> YouTube Video Preview</h5>
        </div>
        <div class="mt-2 p-3 pt-0">
            <div>
                <small class="card-text text-muted">Entered video preview</small>
                <div class="mt-2"></div>
                <div class="box-container text-center p-3" id="NoVideo_Box">
                    <h1 class="h1 display-4 yt-icon text-danger"> <i class="fab fa-youtube"></i> </h1>
                    <h3 class="h3 safe-font mt-2">Enter link of video to preview it</h3>
                </div>
                <div class="box-container" style="display: none;" id="YT_VideoPlayer_Box">
                    <iframe class="yt-container w-100 ratio-16x9" id="YT_VideoPlayer" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div>
                    <small class="card-text text-muted" id="YT_VideoLink_Lbl"></small>
                    <div class="mt-1"></div>
                    <a href="#" class="btn btn-text btn-sm text-decoration-none" id="YT_VideoLink_Btn"> <i class="fas fa-external-link-alt"></i> Go To Video On Youtube</a>
                </div>
            </div>
        </div>
    </div>

    <div class="smallside-box-container shadow-standard" id="AddOption_Container">
        <div class="header-container p-3 pb-2" id="AddOptions_Container-Header">
            <button type="button" class="btn btn-close float-end ms-1" aria-label="close" id="AddOption_Container-Close"></button>
            <h5 class="h5 text-truncate">Add Option To Text</h5>
        </div>
        <div class="mt-2 p-3 pt-0">
            <div class="bordered-container p-2">
                <small class="card-text text-muted">Type:</small>
                <small class="card-text" id="AddOption_Badge">No Item</small>
                <input type="hidden" id="AddOption_Type_Val" value="0" />
                <input type="hidden" id="AddOption_WhereAndFrom_Val" />
            </div>
            <div class="mt-2">
                <label class="form-label fw-500 ms-1">Enter Text Value</label>
                <input type="text" class="form-control" id="AddOption_Val1" autocomplete="off" placeholder="Enter the value here" />
            </div>
            <div class="ms-1">
                <small class="card-text text-muted">This part will show in special, selected by you form</small>
            </div>
            <div class="mt-3 d-none" id="ColorOption_Box">
                <label class="form-label fw-500 ms-1">Enter Color</label>
                <input type="text" class="form-control" autocomplete="off" id="AddOption_Val3" placeholder="Enter color name or code here" />
                <small class="card-text text-muted">For example: <span class="text-primary">#0d6efd</span> or just enter <span class="text-danger">red</span></small>
            </div>
            <div class="mt-3">
                <label class="form-label fw-500 ms-1">Enter Link</label>
                <input type="text" class="form-control" autocomplete="off" id="AddOption_Val2" disabled placeholder="Enter the link here" />
            </div>
            <div class="mt-3">
                <button type="button" class="btn btn-primary btn-standard-with-no-colour w-100" disabled id="AddOptionSbmt_Btn">Add Option</button>
            </div>
        </div>
    </div>

    <div class="box-container shadow-sm p-3 text-center">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-navbar btn-sm w-100 btn-open-container" id="Preload_Container-Open"> <i class="fas fa-plus"></i> <br />Create</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-navbar btn-sm w-100 btn-open-container" id="AboutProjects_Container-Open"> <i class="fas fa-info-circle"></i> <br />Info</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-navbar btn-sm w-100 smallside-btn-close-n-open" id="Preload_Container-AdditionalOpen"> <i class="fas fa-times-circle text-danger"></i> <br />Close</button>
            </div>
        </div>
    </div>
</div>

<div class="main-container shadow-standard" id="Completed_Container">
    <div class="header-container p-3 pb-2" id="Completed_Container-Header">
        <button type="button" class="btn btn-close float-end ms-1" aria-label="close" id="Completed_Container-Close"></button>
        <h6 class="h5 text-truncate">Project Created</h6>
    </div>
    <div class="mt-2 p-3 pt-0">
        <div class="text-center p-3">
            <h2 class="h2 display-4"> <i class="fas fa-check-circle"></i> </h2>
            <h4 class="h4 display-5 safe-font">Project Created Successfully</h4>
            <small class="card-text text-muted">Go by link below to have a look on it by side and edit it if something is not well enough</small>
            <div class="mt-2">
                <a href="#" class="btn btn-text" id="LookAtProject_Btn"> <i class="fas fa-eye"></i> Have A Look At Project</a>
            </div>
        </div>
    </div>
</div>

<div class="main-container shadow-standard" id="Preview_Container">
    <div class="header-container p-3 pb-2" id="Preview_Container-Header">
        <button type="button" class="btn btn-back btn-sm float-end ms-1">&larr; Back</button>
        <h6 class="h5 text-truncate">Preview The Project</h6>
    </div>
    <div class="mt-2 p-3 pt-0">
        <div class="box-container">
            <h1 class="h1 text-primary safe-font" id="Preview_Title">Project Title</h1>
        </div>
        <div class="box-container shadow-sm mt-2 p-2">
            <div class="p-2">
                <button type="button" class="btn btn-light btn-standard-with-no-colour btn-sm float-end ms-1"> <i class="fas fa-bell"></i> Subscribe</button>
                <h5 class="h5 safe-font">@UserInfo?.PseudoName</h5>
            </div>
            <div class="row mt-1">
                <div class="col">
                    <button type="button" class="btn btn-text btn-standard-with-no-colour w-100"> <i class="far fa-heart"></i> <br/> Like</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-text btn-standard-with-no-colour w-100"> <i class="fas fa-comments"></i> <br /> Comments</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-text btn-standard-with-no-colour w-100"> <i class="fas fa-ellipsis-h"></i> <br/> More</button>
                </div>
            </div>
        </div>
        <div class="box-container mt-2">
            <p class="card-text white-space-on" id="Preview_ShortDescription">Shorter description</p>
            <p class="card-text white-space-on mt-1" id="Preview_LongDescription">Main description</p>
        </div>
        <div class="card-group mt-2">
            <div class="card shadow-sm p-3 me-1" id="Preview_StartUpBox">
                <h3 class="h3 text-primary safe-font" id="Preview_TagPrice">$0.00</h3>
                <small class="card-text text-muted" id="Preview_TagPriceDescription">needs this project for his start</small>
                <div class="mt-3">
                    <button type="button" class="btn btn-text btn-sm w-auto text-start"> <i class="fas fa-coins"></i> Invest</button>
                    <div></div>
                    <small class="card-text text-muted">Invest to this project and become a part of it</small>
                </div>
                <div class="mt-2">
                    <button type="button" class="btn btn-text btn-sm w-auto text-start"> <i class="fab fa-leanpub"></i> Learn More</button>
                    <div></div>
                    <small class="card-text text-muted">Learn more about investments and how they work in our project from the QA page</small>
                </div>
            </div>
            <div class="card shadow-sm p-3" id="Preview_LinksBox">
                <h6 class="h6">Main Links</h6>
                <div class="border-top mt-1 pt-1"></div>
                <div>
                    <a href="#" class="btn btn-text btn-sm w-auto text-start" id="Preview_LinkBtn1"> <i class="fas fa-external-link-alt"></i> Click To Relocate</a>
                    <div></div>
                    <small class="card-text text-muted" id="Preview_LinkText1">First Link Href</small>
                </div>
                <div class="mt-2">
                    <a href="#" class="btn btn-text btn-sm mt-2 w-auto text-start" id="Preview_LinkBtn2"> <i class="fas fa-external-link-alt"></i> Click To Relocate</a>
                    <div></div>
                    <small class="card-text text-muted" id="Preview_LinkText2">Second Link Href</small>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-container shadow-standard" id="Preload_Container">
    <div class="header-container p-3 pb-2" id="Preload_Container-Header">
        <button type="button" class="btn btn-close float-end ms-1" aria-label="close" id="Preload_Container-Close"></button>
        <h6 class="h5 text-truncate">Create Project</h6>
    </div>
    <div class="mt-2 p-3 pt-0">
        <form method="post" asp-controller="Project" asp-action="CreateProject" id="CreateProject_Form">
            <div class="d-none">
                <input type="hidden" asp-for="UserId" value="@UserInfo!.Id" />
            </div>
            <div>
                <label class="form-label fw-500" asp-for="Name">Title</label>
                <span class="badge warning-badge" asp-validation-for="Name"></span>
                <input asp-for="Name" class="form-control" placeholder="Enter your project title" autocomplete="off" />
            </div>
            <div class="mt-3">
                <label class="form-label fw-500" asp-for="Description" for="Project_Description">Description</label>
                <span class="badge warning-badge" asp-validation-for="Description"></span>
                <span class="badge warning-badge float-end fw-normal ms-1 mt-1 text-len-badge" id="Project_Description-LengthSpan">0/1600, -1600</span>
                <textarea asp-for="Description" id="Project_Description" class="form-control" rows="5" placeholder="Enter short description of your project"></textarea>
            </div>
            <div class="mt-3">
                <label class="form-label fw-500" asp-for="TextPart">Main Info</label>
                <span class="badge warning-badge" asp-validation-for="TextPart"></span>
                <div class="box-container bg-light p-2">
                    <span class="badge warning-badge float-end fw-normal ms-1 mt-1 text-len-badge" id="TextPart-LengthSpan">0/6000, -6000</span>
                    <button type="button" class="btn btn-text btn-sm btn-standard-with-no-colour add-option fw-bold me-2" data-html="TextPart" id="AddOpt-1">B</button>
                    <button type="button" class="btn btn-text btn-sm btn-standard-with-no-colour add-option text-decoration-underline me-2" data-html="TextPart" id="AddOpt-3">U</button>
                    <button type="button" class="btn btn-text btn-sm btn-standard-with-no-colour add-option fst-italic me-2" data-html="TextPart" id="AddOpt-4">I</button>
                    <button type="button" class="btn btn-text btn-sm text-primary btn-standard-with-no-colour add-option me-2" data-html="TextPart" id="AddOpt-5"> <i class="fas fa-palette add-option" data-html="TextPart" id="AddOptIcon-5"></i> </button>
                    <button type="button" class="btn btn-text btn-sm btn-standard-with-no-colour add-option me-2" data-html="TextPart" id="AddOpt-6"> <i class="far fa-square add-option" data-html="TextPart" id="AddOptIcon-6"></i> </button>
                    <button type="button" class="btn btn-text btn-sm btn-standard-with-no-colour add-option me-2" data-html="TextPart" id="AddOpt-2"> <i class="fas fa-link"></i> Link</button>
                </div>
                <textarea asp-for="TextPart" class="form-control mt-1" rows="6" placeholder="Enter main information about your project"></textarea>
            </div>
            <div class="mt-3">
                <label class="form-label fw-500">Links</label>
                <div class="input-group">
                    <input asp-for="Link1" id="ProjectLink1" class="form-control" placeholder="Copy the first link here" />
                    <input asp-for="Link2" id="ProjectLink2" class="form-control" placeholder="Copy the second link here" />
                </div>
                <div class="bordered-container p-2 mt-1">
                    <small class="card-text text-muted">Entered links</small>
                    <div class="mt-2 pt-2 border-top"></div>
                    <a href="#" class="text-decoration-none" id="Link1Example_Btn"> <i class="fas fa-globe"></i> No entered first link</a>
                    <div></div>
                    <small class="card-text text-muted" style="display: none;" id="Link1_Link"></small>
                    <div class="mt-1"></div>
                    <a href="#" class="text-decoration-none mt-2" id="Link2Example_Btn"> <i class="fas fa-globe"></i> No entered second link</a>
                    <div></div>
                    <small class="card-text text-muted" style="display: none;" id="Link2_Link"></small>
                </div>
            </div>
            <div class="mt-3">
                <label class="form-label fw-500" asp-for="YoutubeLink">Youtube Link</label>
                <input asp-for="YoutubeLink" class="form-control" autocomplete="off" placeholder="Enter full link here" />
            </div>
            <div class="mt-4">
                <div>
                    <label class="form-label fw-500">Is this project a startup?</label>
                    <div></div>
                    <small class="card-text text-muted">If your project needs some investments to have a good start you can add needed investments price. Some people may like your project and invest in it</small>
                    <div class="mt-2"></div>
                    <button class="btn btn-light btn-sm btn-standard-with-no-colour" type="button" data-bs-toggle="collapse" data-bs-target="#Investments_Box" aria-expanded="false" aria-controls="Investments_Box"> <i class="fas fa-search-dollar"></i> Add Target Price</button>
                    <div>
                        <div class="collapse w-100" id="Investments_Box">
                            <div class="card bordered-container p-3 mt-2">
                                <div>
                                    <span class="badge bg-primary fw-normal float-end ms-1 text-light" id="StepOfRange_Span">Step: $100.00</span>
                                    <label class="form-label fw-500" asp-for="ProjectPrice">Set Target Price</label>
                                    <input type="range" class="form-range w-100" value="0" step="100" min="0" max="10000000" asp-for="ProjectPrice" />
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col col-8">
                                            <span class="badge bg-light text-primary mt-2 p-2 safe-font text-start w-100" id="ProjectPrice_Badge">$0</span>
                                        </div>
                                        <div class="col col-4">
                                            <span class="badge bg-light text-primary mt-2 p-2 safe-font text-start w-100" id="ProjectPricePercentage_Badge">0%</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-6">
                                            <button type="button" class="btn btn-light text-primary btn-sm mt-2 d-inline btn-standard-with-no-colour w-100" id="IncreaseStep_Btn"> <i class="fas fa-plus"></i> Increase Step</button>
                                        </div>
                                        <div class="col col-6">
                                            <button type="button" class="btn btn-light text-primary btn-sm mt-2 btn-standard-with-no-colour w-100" id="DecreaseStep_Btn"> <i class="fas fa-minus"></i> Decrease Step</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <label class="form-label fw-500">Select Category (@ViewBag.Count)</label>
                <div></div>
                <small class="card-text text-muted smallside-btn-open-container" id="AboutCategories_Container-Open">Click to know more about categories</small>
                <span class="warning-badge" asp-validation-for="CategoryId"></span>
                <div class="overflow-auto mh-280 scrollbar-hidden">
                    <input type="hidden" id="LastCategoryId_Val" value="@ViewBag.LastCategoryId" />
                    <input type="hidden" asp-for="CategoryId" value="0" />
                    @foreach(Category Item in ViewBag.Categories)
                    {
                        <div class="bordered-container category-select-container p-2 mt-1 mb-1" id="CategoryValue-@Item.Id">
                            <span class="category-icon category-select-container border-0" id="CategoryIcon-@Item.Id">@Item.Description</span>
                            <small class="card-text text-muted fw-500 border-0 category-select-container" id="CategoryName-@Item.Id">@Item.Name</small>
                        </div>
                    }
                </div>
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="col col-7">
                        <button type="submit" class="btn btn-primary w-100 btn-standard-with-no-colour"> <i class="fas fa-plus-circle"></i> Create</button>
                    </div>
                    <div class="col col-5">
                        <button type="button" class="btn btn-light w-100 btn-standard-with-no-colour text-truncate" disabled id="PreviewTheProject_Btn"> <i class="fas fa-eye"></i> Have a look</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

