@model Project
@{
    ViewData["Title"] = "Project Info";

    User? UserInfo = ViewBag.UserInfo;
    Project? ProjectInfo = ViewBag.ProjectInfo;
    GetCommentaries_ViewModel? LastSentComment = ViewBag.LastSentCommentInfo;
    GetProjectImages_ViewModel? MainImgInfo = ViewBag.MainImgInfo;
    List<GetProjectImages_ViewModel>? Images = ViewBag.Images;
    double PrevPricePercentageChange = ViewBag.TargetPriceChangePerc;
    bool IsLiked = ViewBag.IsLiked;
    int CommentsCount = ViewBag.CommentsCount;
    int ImagesCount = ViewBag.ImagesCount;
    int LinkedProjectsCount = ViewBag.LinkedProjectsCount;
    double ProjectsByThisCategory = ViewBag.ProjectsByThisCategory;
    double CategoryPercentage = ViewBag.CategoryPercentage;
}

<div class="main-sidebar p-2 shadow-sm" id="Main_SideBar">
    @if (UserInfo != null)
    {
        <div class="d-none">
            <input type="hidden" id="PageInfo_UserId" value="@UserInfo.Id" />
            <input type="hidden" id="ProjectCreator_Email" value="@ProjectInfo.User?.Email" />
            <form method="get" asp-controller="Notifications" asp-action="GetNotifications" id="GetNotifications_Form">
                <input type="hidden" name="Id" value="@UserInfo.Id" />
            </form>
            <form method="get" asp-controller="Messages" asp-action="GetAll" id="GetAllMessages_Form">
                <input type="hidden" name="Id" value="@UserInfo.Id" />
            </form>
            <form method="get" asp-controller="Messages" asp-action="GetAllSent" id="GetAllSentMessages_Form">
                <input type="hidden" name="Id" value="@UserInfo.Id" />
            </form>
            <form method="get" asp-controller="Messages" asp-action="GetReplies" id="GetReplies_Form">
                <input type="hidden" name="Id" id="GR_Id_Val" value="0" />
                <input type="hidden" name="SkipCount" id="GR_SkipCount_Val" value="0" />
                <input type="hidden" name="LoadCount" id="GR_LoadCount_Val" value="45" />
            </form>
            <form method="post" asp-controller="Subscribes" asp-action="SubscribtionOptionWithoutKnowing" id="SubscribtionOptionWithoutKnowing_Form">
                <input type="hidden" name="UserId" id="SubOption_UserId_Val" value="0" />
                <input type="hidden" name="SubscriberId" id="SubOption_SubscriberId_Val" value="@UserInfo.Id" />
            </form>
        </div>

        <div class="smallside-box-container shadow-standard" id="AboutCategories_Container">
            <div class="header-container p-3 pb-2" id="AboutCategories_Container-Header">
                <button type="button" class="btn btn-close float-end ms-1" id="AboutCategories_Container-Close" aria-label="close"></button>
                <h5 class="h5 text-truncate">About Categories</h5>
            </div>
            <div class="mt-2 p-3 pt-0">
                <h6 class="h6">Project Categories</h6>
                <small class="card-text">Creators of every single project must choose a category from the prepared list which describes the project. All available categories are presented below</small>
                <div class="mt-3" id="CategoriesInfo_Box">

                </div>
                <small class="card-text text-muted">Available categories: <span id="AvailableCategories_Span">0</span></small>
            </div>
        </div>

        <div class="smallside-box-container shadow-standard scrollbar-hidden" id="AudioPlayerLg_Container">
            <div class="p-4">
                <div class="row">
                    <div class="col col-lg-3 col-md-4 col-sm-4">
                        <div class="box-container bg-light text-center p-3">
                            <h3 class="h3" id="AudioMainStatusIcon_Lbl"> <i class="fas fa-play btn-pause-audio"></i> </h3>
                        </div>
                    </div>
                    <div class="col col-lg-9 col-md-8 col-sm-8 p-2 pe-0">
                        <h5 class="h5" id="AudioMainTitle_Lbl">Audio Title</h5>
                        <small class="card-text text-muted" id="AudioMainStatus_Lbl">Playing</small>
                    </div>
                </div>
                <div class="mt-2">
                    <small class="card-text float-end ms-1 me-1" id="AudioMainMuted_Icon" style="display: none;"> <i class="fas fa-volume-mute"></i> </small>
                    <small class="card-text d-inline" id="AudioMainCurrentDuration_Lbl">00:00/00:00</small>
                    <small class="card-text text-muted" id="AudioMainDurationLeft_Lbl"></small>
                    <div class="box-container bg-secondary rounded-pill mt-1 standard-transition">
                        <div class="box-container bg-dark audio-progress rounded-pill" id="AudioDurationMainProgress" style="width: 0; height: 5px;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="smallside-box-container shadow-standard scrollbar-hidden" id="UserShortInfo_Container">
            <div class="header-container p-3 pb-2" id="UserShortInfo_Container-Header">
                <button type="button" class="btn btn-close btn-sm float-end ms-1" aria-label="close" id="UserShortInfo_Container-Close"></button>
                <h5 class="h5 text-truncate">About <span id="USI_UsernameTitle_Span"></span></h5>
            </div>
            <div class="mt-2 p-3 pt-0">
                <div class="box-container">
                    <div class="box-container p-2 bg-light">
                        <small class="badge bg-white text-dark warning-badge safe-font fw-normal float-end" id="USI_CountryBadge">Country</small>
                        <span class="h2 safe-font" id="USI_Username_Lbl">Pseudoname</span>
                        <div></div>
                        <small class="card-text text-muted" id="USI_Searchname_Lbl">Searchname</small>
                        <div class="mt-2 pt-1 border-top"></div>
                        <div class="mb-1">
                            <input type="hidden" id="USI_Id_Val" value="0" />
                            <input type="hidden" id="USI_SubscribersCount_Val" value="0" />
                            <button type="button" class="btn bg-white subscribe-for-user btn-standard-with-no-colour float-end ms-1 btn-sm" id="USI_SubscribersInfo_Btn"></button>
                            <small class="card-text text-muted" id="USI_ProjectsCount_Lbl">Projects Count</small>
                        </div>
                    </div>
                    <div class="mt-1 ms-1">
                        <small class="card-text white-space-on mt-2" id="USI_Description_Lbl">Description</small>
                        <div></div>
                        <a href="#" class="btn btn-text mt-3 btn-sm" id="USI_Userpage_Link"> <i class="fas fa-chevron-right"></i> Page Link</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="smallside-box-container shadow-standard scrollbar-hidden" id="ReplyToComment_Container">
            <div class="header-container p-3 pb-2" id="ReplyToComment_Container-Header">
                <button type="button" class="btn btn-back btn-sm float-end ms-1">&larr; Back</button>
                <h5 class="h5 text-truncate">Reply to <span class="text-primary" id="RTC_User"></span></h5>
            </div>
            <div class="mt-2 p-3 pt-0">
                <div class="box-container bg-light p-3">
                    <input type="hidden" id="RTC_Count" value="0" />
                    <h6 class="h6" id="RTC_Username">Username</h6>
                    <small class="card-text text-muted white-space-on" id="RTC_TextValue">Replying message text</small>
                </div>
                <div class="mt-2 mb-5">
                    <div id="RepliesList_Box">

                    </div>
                    <div>
                        <button type="button" class="btn text-primary btn-standard-not-animated border-0 w-100 mt-1 btn-sm" id="LoadMoreReplies_Btn" disabled>Load More Replies</button>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="box-container shadow-sm p-3 text-center">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-navbar btn-sm w-100 btn-open-container" id="Preload_Container-OpenX"> <i class="fas fa-file-invoice-dollar"></i> <br />Project</button>
            </div>
            <div class="col">
                <a asp-controller="User" asp-action="Info" asp-route-Id="@UserInfo?.SearchName" class="btn btn-navbar btn-sm w-100"> <i class="fas fa-user-circle"></i> <br/>@ProjectInfo.UserName's Page</a>
            </div>
            <div class="col d-lg-none d-md-none d-xl-none d-sm-block">
                <button type="button" class="btn btn-navbar btn-sm w-100 btn-open-container" id="Preload_Container-OpenY"> <i class="fas fa-times text-danger"></i> <br/>Close </button>
            </div>
        </div>
    </div>

    <div class="box-container mt-2 p-3 bg-light">
        <h6 class="h6 safe-font"> <i class="far fa-comments"></i> Comments, <span id="CommentsCountMain_Span">@CommentsCount.ToString("N0")</span></h6>
        @if(LastSentComment == null)
        {
            <small class="card-text text-muted">No recently sent comments</small>
        }
        else
        {
            <div class="mt-2">
                <small class="card-text fw-500">@LastSentComment.SenderName</small>
                <div></div>
                <small class="card-text text-muted white-space-on">@LastSentComment.Text</small>
            </div>
        }
    </div>

    <div class="bordered-container mt-2 p-3" id="CategoryInfo_Container">
        <h6 class="h6 safe-font">Category Information</h6>
        <div class="mt-2">
            @if (ProjectInfo.CategoryId != 0)
            {
                <div></div>
                <h1 class="h1 d-none" id="CategoryMainIcon_Lbl"> @ProjectInfo.CategoryDescription </h1>
                <div id="GetCategoriesForm_Box">
                    <input type="hidden" id="CategoryInfo_Name_Val" value="@ProjectInfo.CategoryName" />
                    <form method="get" asp-controller="Categories" asp-action="GetAllCategories" id="GetAllCategories_Form">
                        <button type="submit" class="btn btn-text btn-lg safe-font" id="GAC_Sbmt_Btn">@ProjectInfo.CategoryName</button>
                    </form>
                </div>
                <div style="display: none;" id="GetCategoriesButton_Box">
                    <button type="button" class="btn btn-text btn-lg safe-font smallside-btn-open-container" id="AboutCategories_Container-Open">@ProjectInfo.CategoryName</button>
                </div>
@*                 <h5 class="h5 safe-font smallside-btn-open-container" id="AboutCategories_Container-Open">@ProjectInfo.CategoryName</h5> *@
                <small class="card-text text-muted">@ProjectsByThisCategory.ToString("N0") project(s) created</small>
                <div></div>
                <small class="card-text text-muted">@CategoryPercentage% of all categories</small>
            }
            else
            {
                <h1 class="h1 d-none" id="CategoryMainIcon_Lbl"> <i class="fas fa-tasks"></i> </h1>
                <h6 class="h6 safe-font text-muted">No Category Info</h6>
                <small class="card-text text-muted">May be the owner of this project will provide some information about it later</small>
            }
        </div>
    </div>
    <div class="bordered-container p-3 mt-2" id="ReleaseNotesPreview_Container">
        <h6 class="h6 safe-font">Release Notes</h6>
        <div class="mt-2">
            <h1 class="h1"> <i class="fas fa-sync-alt"></i> </h1>
            @if(ViewBag.ReleaseNotesCount > 1)
            {
                <span class="h5 safe-font">There're @ViewBag.ReleaseNotesCount release notes for this project</span>
                <div></div>
                <small class="card-text text-muted">Click the button below to show them</small>
                <div></div>
                <button type="button" class="btn btn-text mt-2 get-release-notes" id="GRNProject-@ProjectInfo.Id"> <i class="fas fa-download"></i> Get Release Notes</button>
            }
            else if(ViewBag.ReleaseNotesCount == 1)
            {
                <span class="h5 safe-font">There's a single release note for this project</span>
                <div></div>
                <small class="card-text text-muted">Click the button below to show them</small>
                <div></div>
                <button type="button" class="btn btn-text mt-2 get-release-notes" id="GRNProject-@ProjectInfo.Id"> <i class="fas fa-download"></i> Get Release Notes</button>
            }
            else
            {
                <span class="h5 safe-font">There're no release notes for this project</span>
                <div></div>
                <small class="card-text text-muted">May be the owner of the project will add some release notes later</small>
            }
        </div>
    </div>

    <div class="smallside-box-container shadow-standard scrollbar-hidden" id="ReleaseNotes_Container">
        <div class="header-container p-3 pb-2" id="ReleaseNotes_Container-Header">
            <button type="button" class="btn btn-close float-end ms-1" id="ReleaseNotes_Container-Close" aria-label="close"></button>
            <h5 class="h5 text-truncate">Release Notes, <span id="ReleaseNotes_Count_Lbl">0</span></h5>
        </div>
        <div class="mt-2 p-3 pt-0" id="ReleaseNotes_Box">
        </div>
    </div>

    <div class="smallside-box-container shadow-standard scrollbar-hidden" id="Comments_Container">
        <div class="header-container p-3 pb-2" id="Comments_Container-Header">
            <button type="button" class="btn btn-close float-end ms-1" id="Comments_Container-Close" aria-label="close"></button>
            <h5 class="h5 text-truncate">Comments, <span id="CommentsCount_Span">@CommentsCount.ToString("N0")</span></h5>
        </div>
        <div class="d-none">
            <input type="hidden" id="CommentsCount_Val" value="@CommentsCount" />
        </div>
        <div class="mt-2 p-3 pt-0 mb-5">
            <div id="CommentsMain_Box">

            </div>
            <div class="text-center">
                <button type="button" class="btn btn-text btn-sm w-100 text-primary" style="display: none;" id="LoadMoreComments_Btn" disabled>Load More Comments</button>
            </div>
        </div>
    </div>

    @if (UserInfo != null)
    {
        <div class="smallside-box-container shadow-standard scrollbar-hidden" id="SendMessage_Container">
            <div class="header-container p-3 pb-2" id="SendMessage_Container-Header">
                <button type="button" class="btn btn-close float-end ms-1" id="SendMessage_Container-Close" aria-label="close"></button>
                <h5 class="h5 text-truncate">Send Message</h5>
            </div>
            <div class="mt-2 p-3 pt-0">
                <form method="post" asp-controller="Messages" asp-action="Send" id="SendMessage_Form">
                    <div class="d-none">
                        <input type="hidden" name="SenderId" value="@UserInfo.Id" />
                        <input type="hidden" name="ProjectId" value="@ProjectInfo.Id" />
                        <input type="hidden" name="UserId" value="@ProjectInfo.UserId" />
                    </div>
                    <div class="row">
                        <div class="col col-1">
                            <button type="submit" class="btn btn-sm mt-1 rounded-message-btn" id="MsgSendSbmt_Btn" disabled> <i class="fas fa-arrow-up"></i></button>
                        </div>
                        <div class="col col-8">
                            <textarea name="Text" id="Text" rows="1" placeholder="Enter text here" class="form-control w-100 form-control-sm send-msg-form-control"></textarea>
                        </div>
                        <div class="col col-1">
                            <div class="dropstart">
                                <button type="button" class="btn btn-sm mt-1 rounded-message-btn" data-bs-toggle="dropdown" aria-expanded="false"> <i class="fas fa-ellipsis-h"></i> </button>
                                <ul class="dropdown-menu shadow-sm p-1">
                                    <li><button type="button" class="dropdown-item mb-1" id="GetMailOfCreator_Btn"> <i class="fas fa-envelope-open-text"></i> Write via Mail</button></li>
                                    <li><button type="button" class="dropdown-item select-to-other-links"> <i class="fas fa-paperclip"></i> Other Links of <span class="fw-500">@ProjectInfo.User?.PseudoName</span></button></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col col-2">
                            <button type="button" class="btn btn-sm mt-1 rounded-message-btn w-100 text-full-delete" id="FullDelete-Text"> <i class="fas fa-backspace"></i> </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="mt-3 box-container card-box-container shadow-standard position-absolute p-2" id="ReplyToComment_Container-CardBox">
            <form method="post" asp-controller="Messages" asp-action="SendReply" id="SendReply_Form">
                <input type="hidden" name="CommentId" id="RTC_CommentId_Val" value="0" />
                <input type="hidden" name="UserId" value="@UserInfo.Id" />
                <div class="row">
                    <div class="col col-10">
                        <textarea class="form-control w-100 form-control-sm send-msg-form-control" rows="1" name="Text" id="RTCC_TextValue" placeholder="Enter your answer here" maxlength="2500"></textarea>
                    </div>
                    <div class="col col-2">
                        <button type="submit" class="btn btn-primary rounded-message-btn btn-standard-with-no-colour btn-sm w-100 mt-1" id="RTCSbmt_Btn"> <i class="fas fa-arrow-up"></i> </button>
                    </div>
                </div>
            </form>
        </div>
    }

    <div class="box-container card-box-container shadow-standard position-absolute p-2" id="Comments_Container-CardBox">
        @if (UserInfo != null)
        {
            <div>
                <form method="post" asp-controller="Messages" asp-action="SendComment" id="SendComment_Form">
                    <input type="hidden" name="UserId" value="@UserInfo.Id" />
                    <input type="hidden" name="ProjectId" value="@ProjectInfo.Id" />
                    <div class="row">
                        <div class="col col-10">
                            <textarea class="form-control w-100 form-control-sm send-msg-form-control" rows="1" name="Text" id="SendComment_Text" placeholder="Enter your comment here" maxlength="1500"></textarea>
                        </div>
                        <div class="col col-2">
                            <button type="submit" class="btn btn-primary rounded-message-btn btn-standard-with-no-colour btn-sm w-100 mt-1" id="SendCommentSbmt_Btn"> <i class="fas fa-arrow-up"></i> </button>
                        </div>
                    </div>
                </form>
            </div>
        }
        else
        {
            <div>
                <textarea class="form-control w-100 form-control-sm send-msg-form-control" rows="1" id="SendComment_Text" placeholder="Enter or sign in to send comment" disabled></textarea>
                <a asp-controller="Account" asp-action="Create" class="btn btn-danger btn-standard-with-no-colour btn-sm" disabled> <i class="fas fa-times"></i> </a>
            </div>
        }
    </div>
</div>

@if (UserInfo != null)
{
    <div class="main-container shadow-standard scrollbar-hidden" id="Purge_Container">
        <div class="header-container p-3 pb-2" id="Purge_Container-Header">
            <button type="button" class="btn btn-back btn-sm float-end">&larr; Back</button>
            <h6 class="h5 text-truncate">Purge</h6>
        </div>
        <div class="mt-2 p-3 pt-0">
            <div class="box-container p-3 bg-light">
                <h6 class="h6 safe-font"> <i class="fas fa-bolt text-danger"></i> What's <strong>Purge</strong>?</h6>
                <small class="card-text text-muted">Every single project introduced here, on our platform, may be used in several ways based on the project owner's own vision. But if You find that this project doesn't respond at least one of the following points, You can purge it. We'll consider your purge and answer you by notification about the action that we've used for this project.<br />But after all, we ask You to describe the problem that you've mentioned (as shorter as You can)</small>
            </div>
            <div class="mt-2">
                <div class="p-3 bordered-container">
                    <h6 class="h6 safe-font">Points to Purge</h6>
                    <ul>
                        <li class="card-text copy-and-paste-the-text btn-text" id="PtP0-PurgeDescription">This project is just an advertisement</li>
                        <li class="card-text copy-and-paste-the-text btn-text" id="PtP1-PurgeDescription">This project disrespects the rights of any kind of minorities</li>
                        <li class="card-text copy-and-paste-the-text btn-text" id="PtP2-PurgeDescription">This project calls for violence</li>
                        <li class="card-text copy-and-paste-the-text btn-text" id="PtP3-PurgeDescription">This project shows some kind of prohibited content</li>
                        <li class="card-text copy-and-paste-the-text btn-text" id="PtP4-PurgeDescription">This project is published many times from different accounts (or single account)</li>
                    </ul>
                    <small class="card-text text-muted"> <i class="fas fa-ellipsis-h"></i> Click to one of this points to copy and paste at description box</small>
                </div>
                <div class="mt-2">
                    <form method="post" asp-controller="Project" asp-action="PurgeTheProject" id="PurgeTheProject_Form">
                        <div class="d-none">
                            <input type="hidden" name="Id" value="@ProjectInfo.Id" />
                            <input type="hidden" name="SenderId" value="@UserInfo.Id" />
                        </div>
                        <div>
                            <label for="Description" class="form-label fw-500">Description</label>
                            <textarea name="Description" id="PurgeDescription" maxlength="900" class="form-control" rows="4" placeholder="Please, shortly describe your opinion"></textarea>
                            <small class="card-text text-muted">Max length: 900</small>
                        </div>
                        <div class="mt-3">
                            <div class="row">
                                <div class="col col-7">
                                    <button type="submit" class="btn btn-danger w-100 btn-standard-with-no-colour">Send</button>
                                </div>
                                <div class="col col-5">
                                    <button type="button" class="btn btn-light w-100 btn-standard-with-no-colour btn-open-container" id="Preload_Container-OpenX">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

<div class="main-container shadow-standard scrollbar-hidden" id="Preload_Container">
    <div class="header-container p-3 pb-2" id="Preload_Container-Header">
        <button type="button" class="btn btn-close float-end" aria-label="close" id="Preload_Container-Close"></button>
        <button type="button" class="btn btn-standard-not-animated btn-sm float-end me-2 btn-open-container" id="Purge_Container-Open"> <i class="fas fa-bolt text-danger"></i> Purge</button>
        <h6 class="h5 text-truncate">@ProjectInfo.Name</h6>
    </div>
    <div class="hanging-container shadow-sm p-2 d-none" id="Preload_Container-Hanging">
        <button type="button" class="btn btn-close btn-sm btn-standard-not-animated float-end ms-1" onclick="hide('Preload_Container-Hanging');"></button>
        <small class="card-text fw-500 me-2 pt-3" id="AudioFileName_Lbl">No File Name</small>
        <small class="card-text text-muted pt-3" id="AudioFileNameDuration_Lbl">00:00</small>
    </div>
    <div class="mt-2 p-3 pt-0">
        <div class="box-container">
            <h1 class="h1 text-primary main-title-font-style" id="Preview_Title">@ProjectInfo.Name</h1>
        </div>
        <div class="box-container shadow-sm mt-2 p-2">
            <div class="p-2">
                @if(ProjectInfo.IsBudget)
                {
                    <button type="button" class="btn btn-light btn-standard-with-no-colour btn-sm float-end ms-1 btn-open-released-liquid-container" id="NotificationsLiquid_Container-Open" data-title="About Donations and Investments" data-html="Let's talk about <span class='fw-500'>donations and investments</span>. Every project could be 2 types: <ul><li class='card-text'>Projects for investments and donations</li><li>Informative project without donations</li></ul>And so this type of project is <span class='fw-500'>for donations and investments</span>. It means that you can (if you want to become a part of it, or, you just want to help improve that project) donate/invest into that project. The price you pay depends only on you and you can donate/invest any amount of money (how much do you want). But please keep in mind that all further events that could happen with this project or your money that were invested into any project <span class='fw-500'>don't</span> depends on us and we <span class='fw-500'>don't care about any loses that you may take</span>, so please, read the <span class='fw-500'>terms and conditions</span> of project carefully and be carefully before invest or donate into any project. Good luck! <div class='bordered-container mt-2 p-2'><div class='row p-1 text-center'><div class='col'><h2 class='h2 text-primary'> <i class='fas fa-asterisk'></i> </h2><h4 class='h4'>Terms & Conditions</h4><small class='card-text text-muted'>Read them carefully and then accept them and donate/invest to any project</small></div><div class='col'><h2 class='h2 text-warning'> <i class='fas fa-exclamation-triangle'></i> </h2><h4 class='h4'>Be careful</h4><small class='card-text text-muted'>Before acting with any project please have a good look on it, check all resourses and links and then try to act with it</small></div><div class='row mt-3 p-1'></div><div class='col'><h2 class='h2 text-official'> <i class='fas fa-coins'></i> </h2><h4 class='h4'>Take how much do you want</h4><small class='card-text text-muted'>Donate/Invest any amount and notice that some project lately may return you more or you may become a part of it (read in terms & conditions of that current project)</small></div><div class='col'><h2 class='h2 text-danger'> <i class='fas fa-handshake-slash'></i> </h2><h4 class='h4'>Don't make hasty actions</h4><small class='card-text text-muted'>Please, <strong>don't</strong> make hasty actions and be sure before doing any action with any project. By the way, you may only view and be informed about all projects and at that time do not donate or invest in them - these're all your rights. Good luck!</small></div></div></div>"> <i class="fas fa-coins"></i> Donate/Invest</button>
                }
                else
                {
                    <button type="button" class="btn btn-light btn-standard-with-no-colour btn-sm float-end ms-1 btn-open-released-liquid-container" id="NotificationsLiquid_Container-Open" data-title="Informative Project" data-html="Let's talk about informative projects. This kind of projects're designed to be used as tools for some type of information about some previous content or project that're not used or actual at this time. This kind of projects has no available donations and investments. The owner of project could also use to inform people about his another projects through his informative one. And at least everyone could use to post some healthy and wealthy things absolutely free and get his own auditory here! <div class='bordered-container mt-2 p-2'><div class='row p-1 text-center'><div class='col'><h2 class='h2 text-primary'> <i class='fas fa-info-circle'></i> </h2><h4 class='h4'>Information and other things</h4><small class='card-text text-muted'>That's what you possibly may get from informative projects</small></div><div class='col'><h2 class='h2 text-secondary'> <i class='fab fa-creative-commons-zero'></i> </h2><h4 class='h4'>Absolutely free</h4><small class='card-text text-muted'>In this type of projects there're no risks to spend any amount. They're not designed for it!</small></div><div class='row mt-3 p-1'></div><div class='col'><h2 class='h2 text-black'> <i class='fas fa-users'></i> </h2><h4 class='h4'>Become a part of some community</h4><small class='card-text text-muted'>Subscribe and become a part of some community that could post and do some cool things that you may like</small></div><div class='col'><h2 class='h2 text-danger'> <i class='fas fa-bolt'></i> </h2><h4 class='h4'>Tell us when something's going wrong</h4><small class='card-text text-muted'>Please, <strong>don't</strong> subscribe to a user who publishes prohibited content or projects and <strong>purge</strong> them so we could be aware and fix it (by blocking that user or that project). Good luck!</small></div></div></div>"> <i class="fas fa-info-circle"></i> Informative Project</button>
                }
                @if (UserInfo != null)
                {
                    <button type="button" class="btn btn-light btn-standard-with-no-colour btn-sm float-end ms-1 me-1 smallside-btn-open-container" id="SendMessage_Container-Open"> <i class="far fa-paper-plane"></i> Send Message</button>
                }
                else
                {
                    <button type="button" class="btn btn-light text-danger btn-standard-with-no-colour btn-sm float-end ms-1 me-1" disabled> <i class="far fa-paper-plane"></i> Sign In</button>
                }
                <div id="GSUIF_Box">
                    <form method="get" asp-controller="User" asp-action="GetShortUserInfo" id="GetShortUserInfo_Form">
                        <input type="hidden" name="Id" id="GSU_Id_Val" value="@ProjectInfo.UserId" />
                        <input type="hidden" name="NeedsLargerInfo" value="false" />
                        <button type="submit" class="btn btn-text btn-lg safe-font">@ProjectInfo.UserName</button>
                    </form>
                </div>
                <div style="display: none;" id="UserShortInfo_Container_Opening_Box">
                    <button type="button" class="btn btn-text btn-lg safe-font smallside-btn-open-container" id="UserShortInfo_Container-Open">@ProjectInfo.UserName</button>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col">
                    @if (UserInfo != null)
                    {
                        @if (!IsLiked)
                        {
                            <div id="NotLiked_Box">
                                <form method="post" asp-controller="Project" asp-action="Like" id="LikeTheProject_Form">
                                    <input type="hidden" name="UserId" value="@UserInfo.Id" />
                                    <input type="hidden" name="ProjectId" value="@ProjectInfo.Id" />
                                    <button type="submit" class="btn btn-text btn-standard-with-no-colour w-100" id="LikeSbmt_Btn"> <i class="far fa-heart"></i> <br/>Like</button>
                                </form>
                            </div>
                            <div class="d-none" id="AlreadyLiked_Box">
                                <form method="post" asp-controller="Project" asp-action="RemoveFromLiked" id="RemoveFromLiked_Form">
                                    <input type="hidden" name="UserId" value="@UserInfo.Id" />
                                    <input type="hidden" name="ProjectId" value="@ProjectInfo.Id" />
                                    <button type="submit" class="btn btn-text btn-standard-with-no-colour w-100" id="RemoveLikeSbmt_Btn"> <i class="far fa-grin-hearts text-primary"></i> <br />Liked</button>
                                </form>
                            </div>
                        }
                        else
                        {
                            <div class="d-none" id="NotLiked_Box">
                                <form method="post" asp-controller="Project" asp-action="Like" id="LikeTheProject_Form">
                                    <input type="hidden" name="UserId" value="@UserInfo.Id" />
                                    <input type="hidden" name="ProjectId" value="@ProjectInfo.Id" />
                                    <button type="submit" class="btn btn-text btn-standard-with-no-colour w-100" id="LikeSbmt_Btn"> <i class="far fa-heart"></i> <br />Like</button>
                                </form>
                            </div>
                            <div id="AlreadyLiked_Box">
                                <form method="post" asp-controller="Project" asp-action="RemoveFromLiked" id="RemoveFromLiked_Form">
                                    <input type="hidden" name="UserId" value="@UserInfo.Id" />
                                    <input type="hidden" name="ProjectId" value="@ProjectInfo.Id" />
                                    <button type="submit" class="btn btn-text btn-standard-with-no-colour w-100" id="RemoveLikeSbmt_Btn"> <i class="fas fa-heart text-primary"></i> <br />Liked</button>
                                </form>
                            </div>
                        }
                    }
                    else
                    {
                        <button type="button" class="btn btn-text btn-standard-with-no-colour w-100" disabled> <i class="far fa-heart"></i> <br /> Like</button>
                    }
                </div>
                <div class="col">
                    <div>
                        <form method="get" asp-controller="Messages" asp-action="GetComments" id="GetComments_Form">
                            <input type="hidden" name="ProjectId" value="@ProjectInfo.Id" />
                            <input type="hidden" name="SkipCount" id="SkippedCount_Val" value="0" />
                            <input type="hidden" name="Count" value="60" />
                            <button type="submit" class="btn btn-text btn-standard-with-no-colour w-100"> <i class="far fa-comments"></i> <br /> Comments</button>
                        </form>
                    </div>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-text btn-standard-with-no-colour w-100" data-bs-toggle="collapse" data-bs-target="#MoreInfo_Collapse" aria-expanded="false" aria-controls="MoreInfo_Collapse"> <i class="fas fa-ellipsis-h"></i> <br /> More</button>
                </div>
            </div>
        </div>
        <div class="collapse mt-2" id="MoreInfo_Collapse">
            <div class="card bordered-container p-3 pb-2">
                <h5 class="h5">Additional Info</h5>
                <div class="row mt-2 border-top pt-3 ms-1 me-1 text-center">
                    <div class="col">
                        <h6 class="h6">Views</h6>
                        <small class="card-text text-muted safe-font" id="Preview_ViewsCnt">@ProjectInfo.Views.ToString("N0")</small>
                    </div>
                    <div class="col">
                        <h6 class="h6">Likes</h6>
                        <small class="card-text text-muted safe-font" id="Preview_LikesCnt">@ViewBag.LikesCount.ToString("N0")</small>
                    </div>
                    <div class="col">
                        <h6 class="h6">Category</h6>
                        @if(ProjectInfo.CategoryName != null)
                        {
                            <small class="card-text text-muted safe-font" id="Preview_Category">@ProjectInfo.CategoryName</small>
                        }
                        else
                        {
                            <small class="card-text text-muted safe-font" id="Preview_Category">Unknown</small>
                        }
                    </div>
                </div>
                <div class="row mt-4 text-center">
                    <div class="col">
                        <h6 class="h6">Published</h6>
                        <small class="card-text text-muted safe-font" id="Preview_PublishedDate">@ProjectInfo.CreatedAt.ToShortDateString(), at @ProjectInfo.CreatedAt.ToShortTimeString()</small>
                    </div>
                    <div class="col">
                        <h6 class="h6">Last Update</h6>
                        <small class="card-text text-muted safe-font" id="Preview_LastUpdatedDate">@ProjectInfo.LastUpdatedAt.ToShortDateString(), at @ProjectInfo.LastUpdatedAt.ToShortTimeString()</small>
                    </div>
                </div>
                <div class="row mt-4 text-center">
                    <div class="col">
                        <h6 class="h6">Release Notes</h6>
                        @if(ViewBag.ReleaseNotesCount != 0)
                        {
                            <div>
                                <form method="get" asp-controller="Project" asp-action="GetUpdates" id="GetUpdates_Form">
                                    <input type="hidden" name="Id" id="GUF_ProjectId_Val" value="@ProjectInfo.Id" />
                                    <button type="submit" class="btn btn-text safe-font text-muted btn-sm mt-2">Show @ViewBag.ReleaseNotesCount Release Note(s)</button>
                                </form>
                            </div>
                        }
                        else
                        {
                            <div class="mt-3">
                                <button class="btn btn-text btn-sm text-muted safe-font" disabled id="Preview_ReleaseNotesCount_Lbl">No Release Notes</button>
                            </div>
                        }
                    </div>
                    <div class="col">
                        <h6 class="h6">Save This</h6>
                        <div class="mt-3">
                            <button type="button" class="btn btn-text btn-sm text-muted safe-font">Like this project to save it in your list</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-container p-1 pt-2 pb-2 mt-2">
            <p class="card-text white-space-on" id="Preview_ShortDescription">@ProjectInfo.Description</p>
            <p class="card-text white-space-on mt-1" id="Preview_LongDescription">@ViewBag.FullText</p>
        </div>
        @if (LinkedProjectsCount > 0)
        {
            <div class="bordered-container p-3 mt-1">
                <div class="row">
                    <div class="col col-8">
                        <span class="h5 safe-font">Related Posts ∙ @LinkedProjectsCount</span>
                        <div></div>
                        <small class="card-text text-muted">show all related to this project posts</small>
                    </div>
                    <div class="col col-4">
                        <div id="GetAllRelatedPosts_Form_Box">
                            <form method="get" asp-controller="Post" asp-action="GetAllRelatedPosts" id="GetAllRelatedPosts_Form">
                                <input type="hidden" name="Id" value="@ProjectInfo.Id" />
                                <button type="submit" class="btn btn-standard-not-animated btn-light w-100 btn-sm"> <i class="far fa-sticky-note"></i> <br/>Get Posts</button>
                            </form>
                        </div>
                        <div style="display: none;" id="GetAllRelatedPosts_Btn_Box">
                            <button type="button" class="btn btn-standard-not-animated btn-light w-100 btn-sm"> <i class="far fa-sticky-note"></i> <br />Get Posts</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bordered-container w-100 horizontal-scrolled-container p-2 ps-1 pe-1 mt-1" style="display: none;" id="RelatedPosts_Box">
            </div>
        }
        <div class="card-group mt-2">
            <div class="card shadow-sm p-3" id="Preview_StartUpBox">
                @if (ProjectInfo.TargetPrice != 0)
                {
                    <h2 class="h2 text-primary safe-font" id="Preview_TagPrice">$@ProjectInfo.TargetPrice.ToString("N0")</h2>
                }
                else
                {
                    <h2 class="h2 text-primary safe-font" id="Preview_TagPrice">No Target Price</h2>
                }
                @if (ProjectInfo.PastTargetPrice != 0)
                {
                    if (PrevPricePercentageChange > 0)
                    {
                        <p class="card-text text-success safe-font"><span class="text-decoration-line-through">$@ProjectInfo.PastTargetPrice.ToString("N0")</span>, +@PrevPricePercentageChange.ToString("N0")%</p>
                    }
                    else
                    {
                        <p class="card-text text-danger safe-font"><span class="text-decoration-line-through">$@ProjectInfo.PastTargetPrice.ToString("N0")</span>, @PrevPricePercentageChange.ToString("N0")%</p>
                    }
                    @if (ProjectInfo.PriceChangeAnnotation != null)
                    {
                        <small class="card-text text-muted white-space-on"> <i class="fas fa-quote-right text-primary"></i> @ProjectInfo.PriceChangeAnnotation</small>
                        <div class="border-top mt-2 pt-1"></div>
                    }
                    else
                    {
                        <div class="border-top mt-2 pt-1"></div>
                    }
                }
                else
                {
                    @if (ProjectInfo.PriceChangeAnnotation != null)
                    {
                        <small class="card-text white-space-on"> <i class="fas fa-quote-right text-primary"></i> @ProjectInfo.PriceChangeAnnotation</small>
                        <div class="border-top mt-2 pt-1"></div>
                    }
                    else
                    {
                        <div class="border-top mt-2 pt-1"></div>
                    }
                }
                @if(ProjectInfo.IsBudget)
                {
                    <div class="mt-1 ms-1" id="InvestToProject_Box">
                        <button type="button" class="btn btn-text btn-sm w-auto text-start btn-open-released-liquid-container" id="NotificationsLiquid_Container-Open" data-title="About Donations and Investments" data-html="Let's talk about <span class='fw-500'>donations and investments</span>. Every project could be 2 types: <ul><li class='card-text'>Projects for investments and donations</li><li>Informative project without donations</li></ul>And so this type of project is <span class='fw-500'>for donations and investments</span>. It means that you can (if you want to become a part of it, or, you just want to help improve that project) donate/invest into that project. The price you pay depends only on you and you can donate/invest any amount of money (how much do you want). But please keep in mind that all further events that could happen with this project or your money that were invested into any project <span class='fw-500'>don't</span> depends on us and we <span class='fw-500'>don't care about any loses that you may take</span>, so please, read the <span class='fw-500'>terms and conditions</span> of project carefully and be carefully before invest or donate into any project. Good Luck! <div class='bordered-container mt-2 p-2'><div class='row p-1 text-center'><div class='col'><h2 class='h2 text-primary'> <i class='fas fa-asterisk'></i> </h2><h4 class='h4'>Terms & Conditions</h4><small class='card-text text-muted'>Read them carefully and then accept them and donate/invest to any project</small></div><div class='col'><h2 class='h2 text-warning'> <i class='fas fa-exclamation-triangle'></i> </h2><h4 class='h4'>Be careful</h4><small class='card-text text-muted'>Before acting with any project please have a good look on it, check all resourses and links and then try to act with it</small></div><div class='row mt-3 p-1'></div><div class='col'><h2 class='h2 text-official'> <i class='fas fa-coins'></i> </h2><h4 class='h4'>Take how much do you want</h4><small class='card-text text-muted'>Donate/Invest any amount and notice that some project lately may return you more or you may become a part of it (read in terms & conditions of that current project)</small></div><div class='col'><h2 class='h2 text-danger'> <i class='fas fa-handshake-slash'></i> </h2><h4 class='h4'>Don't make hasty actions</h4><small class='card-text text-muted'>Please, <strong>don't</strong> make hasty actions and be sure before doing any action with any project. By the way, you may only view and be informed about all projects and at that time do not donate or invest in them - these're all your rights. Good luck!</small></div></div></div>"> <i class="fas fa-coins"></i> Donate/Invest</button>
                        <div></div>
                        <small class="card-text text-muted">Click for more</small>
                    </div>
                }
                else 
                {
                    <div class="mt-1 ms-1" id="InvestToProject_Box">
                        <button type="button" class="btn btn-text btn-sm w-auto text-start btn-open-released-liquid-container" id="NotificationsLiquid_Container-Open" data-title="Informative Project" data-html="Let's talk about informative projects. This kind of projects're designed to be used as tools for some type of information about some previous content or project that're not used or actual at this time. This kind of projects has no available donations and investments. The owner of project could also use to inform people about his another projects through his informative one. And at least everyone could use to post some healthy and wealthy things absolutely free and get his own auditory here! <div class='bordered-container mt-2 p-2'><div class='row p-1 text-center'><div class='col'><h2 class='h2 text-primary'> <i class='fas fa-info-circle'></i> </h2><h4 class='h4'>Information and other things</h4><small class='card-text text-muted'>That's what you possibly may get from informative projects</small></div><div class='col'><h2 class='h2 text-secondary'> <i class='fas fa-creative-commons-zero'></i> </h2><h4 class='h4'>Be careful</h4><small class='card-text text-muted'>In this type of projects there're no risks to spend any amount. They're not designed for it!</small></div><div class='row mt-3 p-1'></div><div class='col'><h2 class='h2 text-black'> <i class='fas fa-users'></i> </h2><h4 class='h4'>Become a part of some community</h4><small class='card-text text-muted'>Subscribe and become a part of some community that could post and do some cool things that you may like</small></div><div class='col'><h2 class='h2 text-danger'> <i class='fas fa-bolt'></i> </h2><h4 class='h4'>Tell us when something's going wrong</h4><small class='card-text text-muted'>Please, <strong>don't</strong> subscribe to a user who publishes prohibited content or projects and <strong>purge</strong> them so we could be aware and fix it (by blocking that user or that project). Good luck!</small></div></div></div>"> <i class="fas fa-info-circle"></i> About Budget</button>
                        <div></div>
                        <small class="card-text text-muted">Click for additional budget info</small>
                    </div>
                }
                <div class="box-container p-2 mt-2 bg-light" id="Deadline_Box">
                    @if(ProjectInfo.Deadline != null)
                    {
                        <span class="h3 safe-font">@ViewBag.TotalDays days</span>
                        <div></div>
                        <small class="card-text text-muted p-0">until end</small>
                        <div class="mt-2"></div>
                        <small class="card-text text-muted" id="DeadlineDate_Lbl">Deadline approx. at <span class="safe-font text-dark">@ProjectInfo.Deadline?.ToString("dd/MM/yyyy")</span></small>
                    }
                </div>
            </div>
            <div class="card shadow-sm p-3" id="Preview_LinksBox">
                <h6 class="h6">Main Links</h6>
                <div class="border-top mt-1 pt-1"></div>
                @if (ProjectInfo.Link1 != null)
                {
                    <div>
                        <a href="@ProjectInfo.Link1" class="btn btn-text btn-sm w-auto text-start" id="Preview_LinkBtn1"> <i class="fas fa-external-link-alt"></i> Click To Relocate</a>
                        <div></div>
                        <small class="card-text text-muted" id="Preview_LinkText1">@ProjectInfo.Link1</small>
                    </div>
                }
                else
                {
                    <div>
                        <a href="#" class="btn btn-text btn-sm w-auto text-start disabled" id="Preview_LinkBtn1"> <i class="fas fa-times-circle"></i> No Link</a>
                        <div></div>
                        <small class="card-text text-muted" id="Preview_LinkText1">No First Link</small>
                    </div>
                }
                @if (ProjectInfo.Link2 != null)
                {
                    <div class="mt-2">
                        <a href="@ProjectInfo.Link2" class="btn btn-text btn-sm mt-2 w-auto text-start" id="Preview_LinkBtn2"> <i class="fas fa-external-link-alt"></i> Click To Relocate</a>
                        <div></div>
                        <small class="card-text text-muted" id="Preview_LinkText2">@ProjectInfo.Link2</small>
                    </div>
                }
                else
                {
                    <div class="mt-2">
                        <a href="#" class="btn btn-text btn-sm mt-2 w-auto text-start disabled" id="Preview_LinkBtn2"> <i class="fas fa-times-circle"></i> No Link</a>
                        <div></div>
                        <small class="card-text text-muted" id="Preview_LinkText2">No Second Link Href</small>
                    </div>
                }
            </div>
        </div>

        @if(ImagesCount > 0)
        {
            <div class="box-container mt-2">
                <div class="card-group">
                    <div class="card p-3 shadow-sm">
                        <div class="d-none">
                            <input type="hidden" id="ImageUrl-0" value="@MainImgInfo.Name" />
                            @for(int i = 1; i < Images.Count; i++)
                            {
                                <input type="hidden" id="ImageUrl-@i" value="@Images[i].Name" />   
                            }
                        </div>
                        <h6 class="h6">Photos & Images</h6>
                        <div id="ImageCarouselWithControls" class="carousel slide mt-2" data-bs-ride="carousel">
                            <div class="carousel-inner" id="ImgCarouseInner_Box">
                                <div class="d-none">
                                    <input type="hidden" id="ImgIndex" value="0" />
                                    <input type="hidden" id="ImgsCount" value="@ImagesCount" />
                                </div>
                                <div id="Images_Box">
                                    <div class="carousel-item active" data-bs-interval="999999" id="ImgBox-0">
                                        <img src="/ProjectPhotos/@MainImgInfo.Name" id="ImgLbl-0" class="d-block image-main-box" alt="Cannot display this image" />
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" id="PrevImg" data-bs-target="#ImageCarouselWithControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" id="NextImg" data-bs-target="#ImageCarouselWithControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="card p-3 shadow-sm">
                        <h6 class="h6">Files Info</h6>
                        <div class="mt-2 text-center">
                            <button type="button" class="btn btn-text btn-sm text-muted" id="CurrentFileName_Lbl">@MainImgInfo.Name</button>
                        </div>
                        <div class="box-container mt-1 text-center">
@*                             <p class="card-text safe-font display-5"><span class="number-spot safe-font display-5" id="CurrentImgIndex_Span">1</span><span class="display-5 safe-font"> of @ImagesCount</span></p> *@
                            <p class="card-text safe-font display-5" id="CurrentImgIndex_Span">1 of @ImagesCount</p>
                        </div>
                    </div>
                </div>
            </div>
        }

        @if(ViewBag.AudiosCount > 0)
        {
            <div class="box-container mt-2">
                <div class="card-group">
                    <div class="card p-2 shadow-sm">
                        <h6 class="h6">Audios</h6>
                        <small class="card-text text-muted">This project has got <strong>@ViewBag.AudiosCount</strong> audio(s)</small>
                        <div class="mt-3">
                            @foreach (Audio Item in ViewBag.Audios)
                            {
                                <div class="mt-1 mb-1">
                                    <input type="hidden" id="AudioSrc-@Item.Id" value="/ProjectAudios/@Item.Name" />
                                    <div class="box-container bg-light p-2">
                                        @if(Item.Title != null) 
                                        {
                                            <h6 class="h6 safe-font ms-1" id="AudioFileName-@Item.Id">@Item.Title</h6>
                                        }
                                        else
                                        {
                                            <h6 class="h6 safe-font ms-1" id="AudioFileName-@Item.Id">@Item.Name</h6>
                                        }
                                        <div class="d-inline-block mt-1">
                                            <button type="button" class="btn btn-light btn-standard-with-no-colour border-0 btn-sm btn-audio-backward me-1" id="AudioBackwardBtn-@Item.Id"> <i class="fas fa-backward btn-audio-backward" id="AudioBackwardIcon-@Item.Id"></i> </button>
                                            <button type="button" class="btn btn-light btn-standard-with-no-colour border-0 btn-sm btn-play-audio me-1" id="PlayAudioBtn-@Item.Id"> <i class="fas fa-play btn-play-audio" id="PlayAudioIcon-@Item.Id"></i> </button>
                                            <button type="button" class="btn btn-light btn-standard-with-no-colour border-0 btn-sm btn-pause-audio me-1 d-none" id="PauseAudioBtn-@Item.Id"> <i class="fas fa-pause btn-pause-audio" id="PauseAudioIcon-@Item.Id"></i> </button>
                                            <button type="button" class="btn btn-light btn-standard-with-no-colour border-0 btn-sm btn-mute-audio me-1" id="MuteAudioBtn-@Item.Id"> <i class="fas fa-volume-up btn-mute-audio" id="MuteAudioIcon-@Item.Id"></i> </button>
                                            <button type="button" class="btn btn-light btn-standard-with-no-colour border-0 btn-sm btn-unmute-audio me-1 d-none" id="UnmuteAudioBtn-@Item.Id"> <i class="fas fa-volume-mute btn-unmute-audio" id="UnmuteAudioIcon-@Item.Id"></i> </button>
                                            <small class="card-text pt-4 fw-500" id="AudioDuration-@Item.Id">00:00/00:00</small>
                                            <div class="box-container bg-secondary rounded-pill mt-1 ms-1 standard-transition">
                                                <div class="box-container bg-dark audio-progress rounded-pill" id="AudioDurationProgress-@Item.Id" style="width: 0; height: 5px;"></div>
                                            </div>
                                        </div>
                                        <audio preload="metadata" id="AudioControl-@Item.Id">
                                            <source src="/ProjectAudios/@Item.Name" type="audio/mp3" />
                                            <source src="/ProjectAudios/@Item.Name" type="audio/ogg" />
                                        </audio>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (ProjectInfo.YoutubeLink != null)
        {
            <div class="box-container mt-2">
                <div class="card-group">
                    <div class="card p-2 pb-1 shadow-sm">
                        <span class="h6 ms-1 p-0"> <i class="fab fa-youtube text-danger"></i> Youtube Video</span>
                        <div></div>
                        <small class="card-text text-muted ms-1" id="YT_VideoLink_Lbl">@ViewBag.AdditionalYTLink</small>
                        <div class="box-container mt-3" id="YT_VideoPlayer_Box">
                            <iframe class="yt-container w-100 ratio-16x9" id="YT_VideoPlayer" src="@ViewBag.YTLink" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>