@model GetUserInfo_ViewModel
@{
    ViewData["Title"] = "User's Full Information";

    GetUserInfo_ViewModel? CurrentUserInfo = ViewBag.CurrentUserInfo;
    User? UserInfo = ViewBag.UserInfo;
    List<Project?>? Projects = ViewBag.UserProjects;
    int ProjectsCount = ViewBag.ProjectsCount;
    bool IsSubscribed = ViewBag.IsSubscribed;
}

<div class="main-sidebar p-2 shadow-sm" id="Main_SideBar">
    @if(UserInfo != null)
    {
        <div class="d-none">
            <input type="hidden" id="PageInfo_UserId" value="@UserInfo.Id" />
            <form method="get" asp-controller="Notifications" asp-action="GetNotifications" id="GetNotifications_Form">
                <input type="hidden" name="Id" value="@UserInfo.Id" />
            </form>
            <form method="get" asp-controller="Messages" asp-action="GetAll" id="GetAllMessages_Form">
                <input type="hidden" name="Id" value="@UserInfo.Id" />
            </form>
            <form method="get" asp-controller="Messages" asp-action="GetAllSent" id="GetAllSentMessages_Form">
                <input type="hidden" name="Id" value="@UserInfo.Id" />
            </form>
            <form method="get" asp-controller="Messages" asp-action="GetAllReplies" id="GetAllReplies_Form">
                <input type="hidden" name="Id" id="GAR_Id_Val" value="0" />
            </form>
        </div>
    }
    <div class="d-none">
        <input type="hidden" id="PageInfo_CurrentUserSearchname" value="@CurrentUserInfo.SearchName" />
    </div>
    <div class="box-container shadow-sm p-3 text-center">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-navbar btn-sm w-100 btn-open-container" id="Preload_Container-OpenX"> <i class="far fa-user-circle"></i> <br />About</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-navbar btn-sm w-100 smallside-btn-open-container" id="ProjectsList_Container-Open"> <i class="far fa-folder-open"></i> <br/> Projects</button>
            </div>
            <div class="col d-lg-none d-md-none d-xl-none d-sm-block">
                <button type="button" class="btn btn-navbar btn-sm w-100 btn-open-container" id="Preload_Container-OpenY"> <i class="fas fa-times text-danger"></i> <br />Close</button>
            </div>
        </div>
    </div>

    @if(ProjectsCount != 0)
    {
        <div class="smallside-box-container shadow-standard scrollbar-hidden" id="ProjectsList_Container">
            <div class="header-container p-3 pb-2" id="ProjectsList_Container-Header">
                <button type="button" class="btn btn-close float-end ms-1" id="ProjectsList_Container-Close" aria-label="close"></button>
                <h5 class="h5 text-truncate">Projects, <span id="ProjectsCount_Span">@ProjectsCount.ToString("N0")</span></h5>
            </div>
            <div class="mt-2 p-3 pt-0">
                @foreach(Project Item in ViewBag.UserProjects)
                {
                    <div class="bordered-container p-2 mt-1 mb-1">
                        <small class="badge bg-light text-dark warning-badge safe-font fw-normal float-end ms-1">@Item.Views.ToString("N0") views</small>
                        <h4 class="h4 safe-font"><a asp-controller="Project" asp-action="Info" asp-route-Id="@Item.Id" class="text-decoration-none">@Item.Name</a></h4>
                        @if(Item.TargetPrice != 0)
                        {
                            <h6 class="h6 fw-normal text-success"><span class="text-muted">Target: </span>$@Item.TargetPrice.ToString("N0")</h6>
                            @if(Item.PastTargetPrice != 0)
                            {
                                <small class="card-text text-danger text-decoration-line-through">$@Item.PastTargetPrice.ToString("N0")</small>
                            }
                        }
                        else
                        {
                            <h6 class="h6 text-muted fw-normal">No Target Price</h6>
                            @if (Item.PastTargetPrice != 0)
                            {
                                <small class="card-text text-danger text-decoration-line-through">$@Item.PastTargetPrice.ToString("N0")</small>
                            }
                        }
                        <div class="mt-3"></div>
                        <small class="card-text white-space-on">@Item.Description</small>
                        <div class="bg-light box-container p-2 mt-2">
                            <small class="card-text text-muted">Additional</small>
                            <div class="border-top mt-1 pt-1"></div>
                            <small class="card-text"> <i class="far fa-calendar-alt"></i> Created: @Item.CreatedAt.ToShortDateString(), at @Item.CreatedAt.ToShortTimeString()</small>
                            <div class="mt-1"></div>
                            <small class="card-text"> <i class="fas fa-redo-alt"></i> Updated: @Item.LastUpdatedAt.ToShortDateString(), at @Item.LastUpdatedAt.ToShortTimeString()</small>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>


<div class="main-container shadow-standard scrollbar-hidden" id="Preload_Container">
    <div class="header-container p-3 pb-2" id="Preload_Container-Header">
        <button type="button" class="btn btn-close float-end ms-1" aria-label="Close" id="Preload_Container-Close"></button>
        <h5 class="h5 text-truncate">@CurrentUserInfo.PseudoName</h5>
    </div>
    <div class="mt-2 p-3 pt-0">
        <div class="box-container bg-light p-2">
            <div class="float-end ms-1">
                <div class="row text-center">
                    <div class="col">
                        @if (UserInfo != null)
                        {
                            @if (IsSubscribed)
                            {
                                <div>
                                    <form method="post" asp-controller="Subscribes" asp-action="SubscribtionOption" id="SubscribtionOption_Form">
                                        <input type="hidden" name="UserId" value="@CurrentUserInfo.Id" />
                                        <input type="hidden" name="SubscriberId" value="@UserInfo.Id" />
                                        <input type="hidden" name="IsSubscribed" id="IsSubscribed_Val" value="True" />
                                        <button type="submit" class="btn btn-lg btn-standard-not-animated border-0 w-100" id="SubscribtionForm_Btn"> <i class="fas fa-bell text-primary"></i> </button>
                                    </form>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <form method="post" asp-controller="Subscribes" asp-action="SubscribtionOption" id="SubscribtionOption_Form">
                                        <input type="hidden" name="UserId" value="@CurrentUserInfo.Id" />
                                        <input type="hidden" name="SubscriberId" value="@UserInfo.Id" />
                                        <input type="hidden" name="IsSubscribed" id="IsSubscribed_Val" value="False" />
                                        <button type="submit" class="btn btn-lg btn-standard-not-animated border-0 w-100" id="SubscribtionForm_Btn"> <i class="far fa-bell"></i> </button>
                                    </form>
                                </div>
                            }
                        }
                        else
                        {
                            <div>
                                <button type="button" class="btn btn-lg btn-standard-not-animated border-0" disabled> <i class="far fa-bell-slash"></i> </button>
                            </div>
                        }
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-lg btn-standard-not-animated border-0"> <i class="far fa-comment-dots"></i> </button>
                    </div>
                    <div class="col">
                        <div class="dropdown">
                            <button class="btn btn-lg btn-standard-not-animated border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false"> <i class="fas fa-ellipsis-h"></i> </button>
                            <ul class="dropdown-menu shadow-sm p-1">
                                <li><button type="button" class="dropdown-item copy-the-main-link mb-1"> <i class="far fa-copy"></i> Copy The Link</button></li>
                                <li><button type="button" class="dropdown-item mb-1"> <i class="far fa-paper-plane"></i> Write Via Inbox</button></li>
                                <li><button type="button" class="dropdown-item"> <i class="far fa-flag text-danger"></i> Report</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn bg-white btn-sm w-100 btn-standard-not-animated smallside-btn-open-container" id="ProjectsList_Container-OpenY">Projects ∙ @ProjectsCount</button>
                </div>
            </div>
            <h3 class="display-5 main-title-font-style">@CurrentUserInfo.PseudoName</h3>
            <div class="mt-2 ms-1">
                @if (CurrentUserInfo.Description != null)
                {
                    <small class="card-text white-space-on mt-2" id="ProfileDescription_Lbl">@CurrentUserInfo.Description</small>
                }
                else
                {
                    <small class="card-text mt-2" id="ProfileDescription_Lbl">No Profile Description</small>
                }
            </div>
            <div class="box-container mt-2 p-2">
                <div class="row text-center">
                    <div class="col">
                        <small class="card-text text-muted safe-font">Searchname</small>
                        <p class="card-text">@CurrentUserInfo.SearchName</p>
                    </div>
                    <div class="col">
                        <small class="card-text text-muted safe-font">Subscribers</small>
                        @if (ViewBag.SubscribersCount != 0)
                        {
                            <p class="card-text"><span id="SubscribersCount_Lbl">@ViewBag.SubscribersCount</span> subscribers</p>
                        }
                        else
                        {
                            <p class="card-text"><span id="SubscribersCount_Lbl">No subscribers</span></p>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <div class="card-group">
                <div class="card box-container p-2 shadow-sm bg-white">
                    <h6 class="h6">Links</h6>
                    <div>
                        @if (CurrentUserInfo.Link1 != null)
                        {
                            @if (CurrentUserInfo.Link1Tag != null)
                            {
                                <small class="card-text fw-500 safe-font">@CurrentUserInfo.Link1Tag</small>
                                <div></div>
                                <a href="@ViewBag.TrueLink1" class="btn btn-text fw-normal btn-sm" id="UserInfo_LinkTag1_Lbl"> <i class="fas fa-external-link-alt text-primary"></i> @CurrentUserInfo.Link1</a>
                            }
                            else
                            {
                                <small class="card-text">First Link</small>
                                <div></div>
                                <small class="card-text" id="UserInfo_LinkTag1_Lbl"> <i class="fas fa-external-link-alt text-primary"></i> @CurrentUserInfo.Link1</small>
                            }
                        }
                        else
                        {
                            <small class="card-text">No First Link</small>
                            <div></div>
                            <small class="card-text text-muted" id="UserInfo_LinkTag1_Lbl">No Active Link</small>
                        }
                    </div>
                    <div class="mt-2">
                        @if (CurrentUserInfo.Link2 != null)
                        {
                            @if (CurrentUserInfo.Link2Tag != null)
                            {
                                <small class="card-text fw-500 safe-font">@CurrentUserInfo.Link2Tag</small>
                                <div></div>
                                <a href="@ViewBag.TrueLink2" class="btn btn-text fw-normal btn-sm" id="UserInfo_LinkTag2_Lbl"> <i class="fas fa-external-link-alt text-primary"></i> @CurrentUserInfo.Link2</a>
                            }
                            else
                            {
                                <small class="card-text fw-500 safe-font">Second Link</small>
                                <div></div>
                                <small class="card-text" id="UserInfo_LinkTag2_Lbl"> <i class="fas fa-external-link-alt text-primary"></i> @CurrentUserInfo.Link2</small>
                            }
                        }
                        else
                        {
                            <small class="card-text">No Second Link</small>
                            <div></div>
                            <small class="card-text text-muted" id="UserInfo_LinkTag2_Lbl">No Active Link</small>
                        }
                    </div>
                </div>
                <div class="card box-container p-2 shadow-sm bg-white">
                    <h6 class="h6">Additional</h6>
                    <div class="row mt-1 text-center">
                        @if (CurrentUserInfo.IsCompany)
                        {
                            <div class="col">
                                <small class="card-text safe-font">This's a</small>
                                <div></div>
                                <small class="card-text text-muted">Company</small>
                            </div>
                            <div class="col">
                                @if (CurrentUserInfo.CreatedAt != null)
                                {
                                    <small class="card-text safe-font">Founded at</small>
                                    <div></div>
                                    <small class="card-text text-muted">@CurrentUserInfo.CreatedAt?.ToString("dd/MM/yyyy")</small>
                                }
                                else
                                {
                                    <small class="card-text safe-font">With unknown</small>
                                    <div></div>
                                    <small class="card-text text-muted">founding date</small>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="col">
                                <small class="card-text safe-font">He/She's an</small>
                                <small class="card-text text-muted">individual creator</small>
                            </div>
                            <div class="col">
                                @if (CurrentUserInfo.CreatedAt != null)
                                {
                                    <small class="card-text safe-font">Bornt at</small>
                                    <div></div>
                                    <small class="card-text text-muted">@CurrentUserInfo.CreatedAt?.ToShortDateString()</small>
                                }
                                else
                                {
                                    <small class="card-text safe-font">With unknown</small>
                                    <div></div>
                                    <small class="card-text text-muted">born date</small>
                                }
                            </div>
                        }
                    </div>
                    <div class="row mt-3 text-center">
                        <div class="col">
                            <small class="card-text safe-font">Country</small>
                            <div></div>
                            @if(CurrentUserInfo.CountryFullName != null)
                            {
                                <small class="card-text text-muted">@CurrentUserInfo.CountryFullName</small>
                            }
                            else
                            {
                                <small class="card-text text-muted">No Information</small>
                            }
                        </div>
                        <div class="col">
                            @if(ProjectsCount > 0)
                            {
                                <small class="card-text safe-font">Projects Created</small>
                                <div></div>
                                <small class="card-text text-muted">@ProjectsCount.ToString("N0")</small>
                            }
                            else
                            {
                                <small class="card-text safe-font">Projects Info</small>
                                <div></div>
                                <small class="card-text text-muted">Haven't created any project yet</small>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-2 box-container bg-transparent">              
                <h4 class="h4">Posts</h4>
                <div class="text-center mt-4">
                    <h1 class="display-6"> <i class="far fa-sticky-note"></i> </h1>
                    <h4 class="h4 safe-font">No Sent Posts</h4>
                    <small class="card-text text-muted"><strong>@CurrentUserInfo.PseudoName</strong> haven't sent any posts yet. Wait for it. The time for it will come soon</small>
                </div>
            </div>
        </div>
    </div>
</div>

