@model EditAccount_ViewModel
@{
    ViewData["Title"] = "Your Account";

    User? UserInfo = ViewBag.UserInfo;
    VerificationQueue? VerificationInfo = ViewBag.VerificationInfo;
    bool PermissionToChangePassword = ViewBag.PermissionToChangePassword;
    double ProfileFullnessPercentage = ViewBag.ProfileFullnessPercentage;
    int UserRole = ViewBag.RoleId;
}

<div class="main-sidebar p-2 shadow-sm" id="Main_SideBar">
    @if (UserInfo != null)
    {
        <div class="d-none">
            <input type="hidden" id="PageInfo_UserId" value="@UserInfo.Id" />
            <form method="get" asp-controller="Notifications" asp-action="GetNotifications" id="GetNotifications_Form">
                <input type="hidden" name="Id" value="@UserInfo.Id" />
            </form>
            <form method="get" asp-controller="Messages" asp-action="GetAll" id="GetAllMessages_Form">
                <input type="hidden" name="Id" value="@UserInfo.Id" />
            </form>
            <form method="get" asp-controller="Messages" asp-action="GetAllSent" id="GetAllSentMessages_Form">
                <input type="hidden" name="Id" value="@UserInfo.Id" />
            </form>
        </div>
    }
    <div class="box-container shadow-sm p-3 text-center">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-navbar btn-sm w-100 smallside-btn-open-container" id="EditAccount_Container-Open"> <i class="fas fa-edit"></i> <br />Main</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-navbar btn-sm w-100 btn-open-container" id="EditSecuritySettings_Container-Open"> <i class="fas fa-cog"></i> <br />Settings</button>
            </div>
            <div class="col d-sm-block d-lg-none d-xl-none d-md-none">
                <button type="button" class="btn btn-navbar btn-sm w-100 smallside-btn-close-n-open" id="Preload_Container-AdditionalOpen"> <i class="fas fa-times-circle text-danger"></i> <br />Close</button>
            </div>
            <div class="col d-none d-lg-block d-xl-block d-md-block">
                <button type="button" class="btn btn-navbar btn-sm w-100 btn-open-container" id="Preload_Container-OpenX"> <i class="fas fa-user-circle"></i> <br />About</button>
            </div>
        </div>
    </div>
</div>

<div class="smallside-box-container shadow-standard" id="EditPersonalInfo_Container">
    <div class="header-container p-3 pb-2" id="EditPersonaInfo_Conainer-Header">
        <button type="button" class="btn btn-close btn-sm float-end mt-1" aria-label="close" id="EditPersonalInfo_Container-Close"></button>
        @if (UserInfo?.CountryId == null)
        {
            <span class="badge bg-light text-dark fw-normal float-end mt-2" id="CurrentCountry_Badge"> <i class="fas fa-globe-americas"></i> Current: not selected</span>
        }
        else
        {
            <span class="badge bg-primary fw-normal float-end mt-2" id="CurrentCountry_Badge"> <i class="fas fa-globe-americas"></i> Current: @UserInfo.Country?.ISO, @UserInfo.Country?.Name</span>
        }
        <h5 class="h5 text-truncate">Edit Personal</h5>
    </div>
    <div class="mt-2 p-3 pt-0">
        <form method="post" asp-controller="Account" asp-action="EditPersonalInfo" id="EditPersonalInfo_Form">
            <div class="d-none">
                <input type="hidden" name="Id" value="@UserInfo?.Id" />
                <input type="hidden" name="CreatedAt" id="EPI_CreatedAt" value="@UserInfo?.CreatedAt" />
            </div>
            <div>
                @if (UserInfo?.CreatedAt != null)
                {
                    <div class="row">
                    <label class="form-label fw-500">Set date of birth/creation ∙ <span class="card-text text-muted fw-normal" id="EPI_DateInfo">@UserInfo.CreatedAt?.Day/@UserInfo.CreatedAt?.Month/@UserInfo.CreatedAt?.Year</span></label>
                        <div class="col col-4">
                            <input type="number" id="EPI_Date_Day" class="number-form-control w-100" placeholder="0" value="@UserInfo.CreatedAt?.Day" min="1" max="31" />
                        </div>
                        <div class="col col-4">
                            <input type="number" id="EPI_Date_Month" class="number-form-control w-100" placeholder="0" value="@UserInfo.CreatedAt?.Month" min="1" max="12" />
                        </div>
                        <div class="col col-4">
                            <input type="number" id="EPI_Date_Year" class="number-form-control w-100" placeholder="0" value="@UserInfo.CreatedAt?.Year" min="1875" max="@DateTime.Now.Year" />
                        </div>
                    </div>
                }
                else
                {
                    <label class="form-label fw-500" id="EPI_DateInfo">Set date of birth/creation (dd/mm/yyyy) <span class="card-text text-muted">01/01/@DateTime.Now.Year</span></label>
                    <div class="row">
                        <div class="col col-4">
                            <input type="number" id="EPI_Date_Day" class="number-form-control w-100" placeholder="0" value="1" min="1" max="31" />
                        </div>
                        <div class="col col-4">
                            <input type="number" id="EPI_Date_Month" class="number-form-control w-100" placeholder="0" value="1" min="1" max="12" />
                        </div>
                        <div class="col col-4">
                            <input type="number" id="EPI_Date_Year" class="number-form-control w-100" placeholder="0" value="@DateTime.Now.Year" min="1840" max="@DateTime.Now.Year" />
                        </div>
                    </div>
                }
                <div class="mt-3">
                    <label class="form-label fw-500">Select Your Country</label>
                    <input type="text" list="SelectCountry" id="CountryId" class="form-control datalist-select" name="CountryId" placeholder="Find it here" />
                    <datalist class="datalist" id="SelectCountry">
                        <option selected value="0">Enter country to find easier</option>
                        @foreach (Country Item in ViewBag.Countries)
                        {
                            <option value="@Item.Id">@Item.ISO, @Item.Name</option>
                        }
                    </datalist>
                </div>
                <div class="mt-3">
                    @if (UserInfo!.IsCompany)
                    {
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="EPI_IsCompany" name="IsCompany" checked value="true" />
                            <label class="form-check-label fw-500" for="EPI_IsCompany">Are you a company?</label>
                        </div>
                    }
                    else
                    {
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="EPI_IsCompany" name="IsCompany" value="false" />
                            <label class="form-check-label fw-500" for="EPI_IsCompany">Are you a company?</label>
                        </div>
                    }
                </div>
                <div class="ms-1">
                   <small class="card-text text-muted">If you are a personal user switch to off</small>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary w-100 btn-standard-with-no-colour">Submit Changes</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="smallside-box-container p-3 shadow-standard" id="EditAccount_Container">
    <div>
        <div class="d-none">
            <input type="hidden" id="RealUserName" value="@UserInfo.UserName" />
        </div>
        <div class="d-none">
            <form method="get" asp-controller="Account" asp-action="IsSearchNameUnique" id="IsSearchnameUnique_Form">
                <input type="hidden" name="Id" value="@UserInfo.Id" />
                <input type="hidden" name="SearchName" value="@UserInfo.SearchName" id="ISNU_Searchname" />
            </form>
        </div>
        <button type="button" class="btn btn-close btn-sm float-end mt-1" aria-label="close" id="EditAccount_Container-Close"></button>
        <h5 class="h5 text-truncate">Edit Information</h5>
        <div class="mt-4">
            <form method="post" asp-controller="Account" asp-action="EditMainInfo" id="EditMainInfo_Form">
                <div class="d-none">
                    <input type="hidden" asp-for="Id" value="@UserInfo.Id" />
                    <input type="hidden" asp-for="RealSearchName" value="@UserInfo.SearchName" />
                </div>
                <div>
                    <label asp-for="PseudoName" class="form-label fw-500 ms-1">Pseudoname</label>
                    <span class="badge warning-badge" asp-validation-for="PseudoName"></span>
                    <input asp-for="PseudoName" class="form-control" autocomplete="off" placeholder="Enter your pseudoname here" value="@UserInfo.PseudoName" />
                </div>
                <div class="ms-1">
                    <small class="card-text text-muted">Is showed as your nickname when you post or comment anything. Can't be used for signing in</small>
                </div>
                <div class="mt-3">
                    <label asp-for="SearchName" id="SearchName_Lbl" class="form-label fw-500 ms-1">Searchname</label>
                    <span class="badge warning-badge" asp-validation-for="SearchName"></span>
                    <input asp-for="SearchName" class="form-control" autocomplete="off" placeholder="Enter your searchname here" value="@UserInfo.SearchName" />
                </div>
                <div class="ms-1">
                    <small class="card-text text-muted" id="EA_SearchnameLbl">Is used for searching and relocating to your page</small>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-standard-with-no-colour btn-primary btn-sm w-100" id="EditFormSbmt_Btn">Submit changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="smallside-box-container shadow-standard" id="PasswordChange_Container">
    <div class="header-container p-3 pb-2" id="PasswordChange_Container-Header">
        <button type="button" class="btn btn-close btn-sm float-end mt-1" aria-label="close" id="PasswordChange_Container-Close"></button>
        <h5 class="h5 text-truncate">Change Password, Step 1/2</h5>
    </div>
    <div class="mt-2 p-3 pt-0">
        <div class="box-container p-2 bg-light">
            <p class="card-text fw-500"> <i class="fas fa-exclamation-triangle text-warning"></i> Warning</p>
            <small class="card-text">Pay attention that after this change you won't able to change your password again for 28 days</small>
        </div>
        <div class="mt-2">
            <form method="post" asp-controller="Account" asp-action="ChangePassword_First" id="ChangePassword_First_Form">
                <div>
                    <label class="form-label fw-500 ms-1" for="CurrentPassword">Current Password</label>
                    <input type="password" name="CurrentPassword" id="CurrentPassword" class="form-control" placeholder="Enter your current password here" />
                </div>
                <div class="mt-3">
                    <label class="form-label fw-500 ms-1" for="NewPassword">New Password</label>
                    <input type="password" name="NewPassword" id="NewPassword" class="form-control" placeholder="Enter your new password here" />
                </div>
                <div class="ms-1">
                    <small class="card-text text-muted">If current password is correct you'll need to enter your reserve code</small>
                </div>
                <div class="mt-3">
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary btn-standard-with-no-colour w-100">Check and Continue</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-light btn-standard-with-no-colour w-100 smallside-btn-open-container" id="PasswordChangeViaEmail_Container-Open">Change via Email</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="smallside-box-container shadow-standard" id="PasswordChangeSubmit_Container">
    <div class="header-container p-3 pb-2" id="PasswordChangeSubmit_Containr-Header">
        <button type="button" class="btn btn-close btn-sm float-end mt-1" aria-label="close" id="PasswordChangeSubmit_Container-Close"></button>
        <h5 class="h5 text-truncate">Change Password, Step 2/2</h5>
    </div>
    <div class="mt-2 p-3 pt-0">
        <form method="post" asp-controller="Account" asp-action="ChangePassword_Final" id="ChangePassword_Final_Form">
            <div class="d-none">
                <input type="hidden" name="UserId" id="PCS_UserId" />
                <input type="hidden" name="CurrentPassword" id="PCS_CurrentPassword" />
                <input type="hidden" name="NewPassword" id="PCS_NewPassword" />
            </div>
            <div>
                <label class="form-label fw-500 ms-1" for="ConfirmPassword">Confirm Password</label>
                <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" placeholder="Confirm your new password here" />
            </div>
            <div class="ms-1">
                <small class="card-text text-muted">Enter your new generated password</small>
            </div>
            <div class="mt-3">
                <label class="form-label fw-500 ms-1" for="PCS_ReserveCode">Reserve Code</label>
                <input type="text" name="ReserveCode" id="PCS_ReserveCode" maxlength="6" class="form-control" placeholder="Enter your reserve code" />
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="col col-7">
                        <button type="submit" class="btn btn-primary btn-standard-with-no-colour w-100">Check & Submit</button>
                    </div>
                    <div class="col col-5">
                        <button type="button" class="btn btn-light btn-standard-with-no-colour w-100">I Don't My Reserve Code</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="smallside-box-container shadow-standard" id="ConfirmTheOneTimeCode_Container">
    <div class="header-container p-3 pb-2" id="ConfirmTheOneTimeCode_Container-Header">
        <button type="button" class="btn btn-close btn-sm float-end mt-1" aria-label="close" id="ConfirmTheOneTimeCode_Container-Close"></button>
        <h5 class="h5 text-truncate">Confirm the One-Time Code</h5>
    </div>
    <div class="mt-2 p-3 pt-0">
        <div>
            <form method="post" asp-controller="Account" asp-action="ConfirmTheCode" id="ConfirmTheCode_Form">
                <input type="hidden" name="Id" value="@UserInfo.Id" />
                <div>
                    <input type="text" maxlength="8" autocomplete="off" class="number-form-control w-100" name="Code" id="ConfirmTheCode_Code_Val" placeholder="8-digit code" />
                </div>
            </form>
        </div>
        <div class="mt-1 text-center">
            <button type="button" class="btn btn-standard-not-animated text-primary mt-2 w-100" id="SPCC_TryAgain">Send the Code Again</button>
            <div class="mt-2"></div>
            <small class="card-text text-muted">If you didn't received the code try again when the timer goes off</small>
        </div>
    </div>
</div>

<div class="smallside-box-container shadow-standard" id="ResetThePassword_Container">
    <div class="header-container p-3 pb-2" id="ResetThePassword_Container-Header">
        <button type="button" class="btn btn-close btn-sm float-end mt-1" aria-label="close" id="ResetThePassword_Container-Close"></button>
        <h5 class="h5 text-truncate">Reset Your Password</h5>
    </div>
    <div class="mt-2 p-3 pt-0">
        <div>
            <form method="post" asp-controller="Account" asp-action="UpdatePassword" id="UpdatePassword_Form">
                <input type="hidden" name="EmailOrUsername" value="@UserInfo.Email" />
                <input type="hidden" name="Token" id="ResetPassword_Token" />
                <div>
                    <label class="form-label fw-500 ms-1">New Password</label>
                    <input type="hidden" name="PasswordConfirm" id="PasswordConfirm_Val" />
                    <input type="password" autocomplete="off" class="form-control" placeholder="Enter your new password" name="Password" id="UpdatePassword_NewPassword_Val" maxlength="24" />
                </div>
                <div class="ms-1">
                    <small class="card-text text-muted">New password must contain from <span class="fw-500">8</span> to <span class="fw-500">24</span> symbols</small>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-standard-with-no-colour btn-primary w-100">Submit Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="smallside-box-container shadow-standard" id="PasswordChangeViaEmail_Container">
    <div class="header-container p-3 pb-2" id="PasswordChangeViaEmail_Container-Header">
        <button type="button" class="btn btn-close btn-sm float-end mt-1" aria-label="close" id="PasswordChangeViaEmail_Container-Close"></button>
        <h5 class="h5 text-truncate">Change Password via Email</h5>
    </div>
    <div class="mt-2 p-3 pt-0">
        <div class="box-container p-2 bg-light">
            <p class="card-text fw-500"> <i class="fas fa-info-circle text-primary"></i> Instruction</p>
            <small class="card-text">If you don't remember your current password you may try to change it by receiving a <span class="fw-500">one-time code</span> from us to your email. Enter that code to change the password</small>
        </div>
        <div class="mt-2">
            <form method="post" asp-controller="Account" asp-action="SendCode" id="SendPasswordChangeCode_Form">
                <input type="hidden" name="NeedUniqueCode" value="true" />
                <div>
                    <input type="hidden" name="Email" value="@UserInfo.Email" />
                    <input type="hidden" name="Id" value="@UserInfo.Id" />
                    <label class="form-label fw-500 ms-1">Your Email</label>
                    <input type="email" class="form-control" readonly value="@UserInfo.Email" placeholder="Your email address" />
                </div>
                <div class="ms-1">
                    <small class="card-text text-muted">If you haven't received the code, try again (once for 2 min)</small>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary w-100 btn-standard-with-no-colour" id="SPCC_Sbmt_Btn">Send Code</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="smallside-box-container shadow-standard" id="AddOption_Container">
    <div class="header-container p-3 pb-2" id="AddOption_Container-Header">
        <button type="button" class="btn btn-back btn-sm float-end ms-1">Back</button>
        <h5 class="h5 text-truncate">Add Option to Text</h5>
    </div>
    <div class="mt-2 p-3 pt-0">
        <div class="bordered-container p-2">
            <small class="card-text text-muted">Type:</small>
            <small class="card-text" id="AddOption_Badge">No Item</small>
            <input type="hidden" id="AddOption_Type_Val" value="0" />
            <input type="hidden" id="AddOption_WhereAndFrom_Val" />
        </div>
        <div class="mt-2">
            <label class="form-label fw-500 ms-1">Enter Text Value</label>
            <input type="text" class="form-control" id="AddOption_Val1" autocomplete="off" placeholder="Enter the value here" />
        </div>
        <div class="ms-1">
            <small class="card-text text-muted">This part will show in special, selected by you form</small>
        </div>
        <div class="mt-3 d-none" id="ColorOption_Box">
            <label class="form-label fw-500 ms-1">Enter Color</label>
            <input type="text" class="form-control" autocomplete="off" id="AddOption_Val3" placeholder="Enter color name or code here" />
            <small class="card-text text-muted">For example: <span class="text-primary">#0d6efd</span> or just enter <span class="text-danger">red</span></small>
        </div>
        <div class="mt-3">
            <label class="form-label fw-500 ms-1">Enter Link</label>
            <input type="text" class="form-control" autocomplete="off" id="AddOption_Val2" disabled placeholder="Enter the link here" />
        </div>
        <div class="mt-3">
            <button type="button" class="btn btn-primary btn-standard-with-no-colour w-100" disabled id="AddOptionSbmt_Btn">Add Option</button>
        </div>
    </div>
</div>

<div class="smallside-box-container shadow-standard" id="DescriptionInfo_Container">
    <div class="header-container p-3 pb-2" id="DescriptionInfo_Container-Header">
        <button type="button" class="btn btn-back float-end btn-sm ms-1">Got It!</button>
        <h5 class="h5 text-truncate">Description Textbox Info</h5>
    </div>
    <div class="mt-2 p-3 pt-0">
        <p class="card-text">In this widget we're going to let you know about description textbox options. All instruction is showed below:</p>
        <div class="bordered-container p-2 mt-1 text-center">
            <div>
                <div class="row">
                    <div class="col col-7">
                        <button type="button" class="btn btn-light btn-sm btn-standard-with-no-colour w-100"> <i class="fas fa-bold"></i> Bold</button>
                    </div>
                    <div class="col col-5">
                        <small class="card-text fw-500 w-100">Text example</small>
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <div class="row">
                    <div class="col col-7">
                        <button type="button" class="btn btn-light btn-sm btn-standard-with-no-colour w-100"> <i class="fas fa-link"></i> Link</button>
                    </div>
                    <div class="col col-5">
                        <small class="card-text text-primary w-100">Text example</small>
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <div class="row">
                    <div class="col col-7">
                        <button type="button" class="btn btn-light btn-sm btn-standard-with-no-colour w-100"> <i class="fas fa-underline"></i> Underline</button>
                    </div>
                    <div class="col col-5">
                        <small class="card-text text-decoration-underline w-100">Text example</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-7">
                    <button type="button" class="btn btn-light btn-sm btn-standard-with-no-colour w-100"> <i class="fas fa-italic"></i> Italic Font</button>
                </div>
                <div class="col col-5">
                    <small class="card-text fst-italic w-100">Text example</small>
                </div>
            </div>
            <div class="mt-2">
                <div class="row">
                    <div class="col col-7">
                        <button type="button" class="btn btn-light btn-sm btn-standard-with-no-colour w-100"> <i class="fas fa-heading"></i> Heading</button>
                    </div>
                    <div class="col col-5">
                        <h5 class="h5 w-100">Text example</h5>
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <div class="row">
                    <div class="col col-7">
                        <button type="button" class="btn btn-light btn-sm btn-standard-with-no-colour w-100"> <i class="fas fa-font"></i> Other Font</button>
                    </div>
                    <div class="col col-5">
                        <small class="card-text safe-font w-100">Text example</small>
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <div class="row">
                    <div class="col col-7">
                        <button type="button" class="btn btn-light btn-sm btn-standard-with-no-colour w-100"> <i class="fas fa-palette"></i> Colored Text</button>
                    </div>
                    <div class="col col-5">
                        <small class="card-text text-success w-100">For example, green text (why not?)</small>
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <div class="row">
                    <div class="col col-7">
                        <button type="button" class="btn btn-light btn-sm btn-standard-with-no-colour w-100"> <i class="fas fa-font"></i> Alternative Font</button>
                    </div>
                    <div class="col col-5">
                        <small class="card-text safe-font w-100">Text example</small>
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <div class="row">
                    <div class="col col-7">
                        <button type="button" class="btn btn-light btn-sm btn-standard-with-no-colour w-100"> <i class="far fa-square"></i> Text Inside of a Container</button>
                    </div>
                    <div class="col col-5">
                        <div class="bordered-container p-1">
                            <small class="card-text w-100">Text example (pay attention on box)</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <p class="card-text"> <i class="fas fa-info-circle text-primary"></i> Notice that you can combine two or more textbox options to get mixed text parts</p>
        </div>
    </div>
</div>

<div class="smallside-box-container shadow-standard" id="EditDescription_Container">
    <div class="header-container p-3 pb-2" id="EditDescription_Container-Header">
        <button type="button" class="btn btn-close btn-sm float-end mt-1" aria-label="close" id="EditDescription_Container-Close"></button>
        <h5 class="h5 text-truncate">Edit Description</h5>
    </div>
    <div class="mt-2 p-3 pt-0">
        <form method="post" asp-controller="Account" asp-action="EditDescription" id="EditDescription_Form">
            <div>
                <input type="hidden" name="Id" value="@UserInfo.Id" />
                <label class="form-label fw-500 ms-1" asp-for="Description" for="ED_Description">Description</label>
                <div class="box-container bg-light mt-2 p-2">
                    <button type="button" class="btn btn-text btn-sm btn-standard-with-no-colour add-option fw-bold me-2" data-html="ED_Description" id="AddOpt-1">B</button>
                    <button type="button" class="btn btn-text btn-sm btn-standard-with-no-colour add-option text-decoration-underline me-2" data-html="ED_Description" id="AddOpt-3">U</button>
                    <button type="button" class="btn btn-text btn-sm btn-standard-with-no-colour add-option fst-italic me-2" data-html="ED_Description" id="AddOpt-4">I</button>
                    <button type="button" class="btn btn-text btn-sm text-primary btn-standard-with-no-colour add-option me-2" data-html="ED_Description" id="AddOpt-5"> <i class="fas fa-palette add-option" data-html="TextPart" id="AddOptIcon-5"></i> </button>
                    <button type="button" class="btn btn-text btn-sm btn-standard-with-no-colour add-option me-2" data-html="ED_Description" id="AddOpt-6"> <i class="far fa-square add-option" data-html="TextPart" id="AddOptIcon-6"></i> </button>
                    <button type="button" class="btn btn-text btn-sm btn-standard-with-no-colour add-option me-2" data-html="ED_Description" id="AddOpt-2"> <i class="fas fa-link"></i> Link</button>
                </div>
                <textarea class="form-control mt-1" id="ED_Description" name="Description" rows="5" placeholder="Enter your description here" maxlength="600">@UserInfo.Description</textarea>
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="col col-7">
                        <button type="submit" class="btn btn-primary btn-sm btn-standard-with-no-colour w-100"> <i class="fas fa-check"></i> Submit Changes</button>
                    </div>
                    <div class="col col-5">
                        <button type="button" class="btn btn-light btn-sm btn-standard-with-no-colour w-100 smallside-btn-open-container" id="DescriptionInfo_Container-Open"> <i class="fas fa-info-circle"></i> Info</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@if (!UserInfo.IsEmailChanged)
{
    <div class="smallside-box-container shadow-standard" id="EmailChange_Container">
        <div class="header-container p-3 pb-2" id="EmailChange_Container-Header">
            <button type="button" class="btn btn-close btn-sm float-end mt-1 ms-1" aria-label="close" id="EmailChange_Container-Close"></button>
            <button type="button" class="btn btn-outline-light text-dark btn-standard-with-no-colour border-0 btn-sm float-end mt-1 info-popover" data-bs-custom-class="info-popover-show" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Click <span class='badge bg-light shadow-sm text-dark warning-badge'>Send Reserve Code</span> to send your reserve code to your current account. Click <span class='badge bg-light text-dark warning-badge'>Change Via One-Time Code</span> to receive a one-time code to your email and change email by that code" data-bs-html="true"> <i class="fas fa-info-circle"></i> </button>
            <h5 class="h5 text-truncate">Change Email via Reserve Code</h5>
        </div>
        <div class="mt-2 p-3 pt-0">
            <form method="post" asp-controller="Account" asp-action="ChangeEmailViaReserveCode" id="ChangeEmailViaReserveCode_Form">
                <div>
                    <input type="hidden" name="Id" value="@UserInfo.Id" />
                    <label asp-for="Email" class="form-label fw-500 ms-1">Current Email</label>
                    <input type="email" class="form-control" disabled readonly value="@UserInfo.Email" />
                    <input type="hidden" asp-for="Email" value="@UserInfo.Email" />
                </div>
                <div class="mt-3">
                    <label for="NewEmail" class="form-label fw-500 ms-1">New Email</label>
                    <input type="email" id="NewEmail" autocomplete="off" name="NewEmail" class="form-control" placeholder="Enter your new email" />
                </div>
                <div class="ms-1">
                    <small class="card-text text-muted">Your new email must be unique and can't be used before for another account</small>
                </div>
                <div class="mt-3">
                    <label for="ReserveCode" class="form-label fw-500 ms-1">Reserve Code</label>
                    <input type="text" maxlength="6" autocomplete="off" class="form-control" id="ReserveCode" name="ReserveCode" placeholder="Enter your 6-digit reserve code here" />
                </div>
                <div class="mt-3">
                    <label for="CEVRC_Password" class="form-label fw-500 ms-1">Password</label>
                    <input type="password" maxlength="24" autocomplete="off" class="form-control" id="CEVRC_Password" name="Password" placeholder="Enter your password here" />
                </div>
                <div class="mt-3">
                    <div class="row">
                        <div class="col col-6">
                            <button type="submit" class="btn btn-primary btn-sm btn-standard-with-no-colour w-100">Submit</button>
                        </div>
                        <div class="col col-6">
                            <button type="button" class="btn btn-light btn-sm btn-standard-with-no-colour text-truncate w-100 btn-static-backdrop-open" id="SendCodeBackdrop_Container-Open">Send Reserve Code</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
}

<div class="smallside-box-container shadow-standard" id="AddPhoto_Container">
    <div class="header-container p-3 pb-2" id="AddPhoto_Container-Header">
        <button type="button" class="btn btn-close float-end ms-1" aria-label="close" id="AddPhoto_Container-Close"></button>
        <h5 class="h5 text-truncate">Profile Photo</h5>
    </div>
    <div>
        <div class="p-2 pe-3 ps-3 pb-2">
            <form method="post" asp-controller="Account" asp-action="EditProfilePhoto" enctype="multipart/form-data" id="EditProfilePhoto_Form">
                <div class="ms-1">
                    <input type="hidden" name="Id" id="EPP_Id_Val" value="@UserInfo.Id" />
                    <label class="form-label fw-500" asp-for="ProfilePhoto">Choose Your Photo</label>
                </div>
                <div>
                    <div id="ProfilePhoto-Get" class="upload-file-btn">Click To Upload</div>
                    <div class="d-none">
                        <input type="file" asp-for="ProfilePhoto" accept="image/*" onchange="sub(this);" />
                    </div>
                </div>
@*                 <div class="input-group mb-1">
                    <input type="file" class="form-control" accept=".jpg, .png, .jpeg" id="ProfilePhoto" name="ProfilePhoto" />
                </div> *@
                <div class="ms-1">
                    <small class="card-text text-muted" id="ChosenFileName_Lbl">You may upload one profile image. Acceptable file types: .png, .jpg, .jpeg</small>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary w-100 btn-standard-with-no-colour">Save Photo</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="smallside-box-container shadow-standard" id="LinkEdit_Container">
    <div class="header-container p-3 pb-2" id="LinkEdit_Container-Header">
        <button type="button" class="btn btn-close btn-sm float-end mt-1" aria-label="close" id="LinkEdit_Container-Close"></button>
        <h5 class="h5 text-truncate">Edit Links</h5>
    </div>
    <div class="mt-2 p-3 pt-0">
        <form method="post" asp-controller="Account" asp-action="EditLinks" id="EditLinks_Form">
            <div>
                <input type="hidden" name="Id" value="@UserInfo.Id" />
                <label class="form-label fw-500 ms-1" for="Link1Tag">First Link Tag</label>
                <input type="text" class="form-control" name="Link1Tag" id="Link1Tag" maxlength="50" autocomplete="off" placeholder="Enter web-page or social network name here" value="@UserInfo.Link1Tag" />
            </div>
            <div class="mt-3">
                <label class="form-label fw-500 ms-1" for="Link1">First Link</label>
                <input type="text" class="form-control" name="Link1" id="Link1" autocomplete="off" placeholder="Enter first link here" value="@UserInfo.Link1" />
            </div>
            <div class="ms-1">
                <small class="card-text text-muted">Add link to your web-page or to some social network like X, Facebook, Youtube, Instagram and etc.</small>
            </div>
            <div class="mt-3">
                <label class="form-label fw-500 ms-1" for="Link2Tag">Second Link Tag</label>
                <input type="text" class="form-control" name="Link2Tag" id="Link2Tag" maxlength="50" placeholder="Enter second web-page or social network name here" value="@UserInfo.Link2Tag" />
            </div>
            <div class="mt-3">
                <label class="form-label fw-500 ms-1" for="Link2">Second Link</label>
                <input type="text" class="form-control" name="Link2" id="Link2" autocomplete="off" placeholder="Enter second link here" value="@UserInfo.Link2" />
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="col col-6">
                        <button type="submit" class="btn btn-primary btn-standard-with-no-colour w-100">Submit</button>
                    </div>
                    <div class="col col-6">
                        <div class="btn-group w-100" role="group" aria-label="Small button group">
                            <a href="#" class="btn btn-light btn-standard-with-no-colour text-truncate" id="FirstLinkTest_Btn">First Link</a>
                            <a href="#" class="btn btn-light btn-standard-with-no-colour text-truncate" id="SecondLinkTest_Btn">Second Link</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal shadow-sm fade" id="SendCodeBackdrop_Container" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="SendCodeBackdrop_ContainerLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="SCB_Title">Send Reserve Code</h1>
                <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-2" id="SCB_Body">
                <div class="p-2">
                    <div>
                        <label class="form-label fw-500">How to get it?</label>
                        <div></div>
                        <small class="card-text">We are going to send you your reserve code to your current email address. Please, go to your inbox to get the reserve code. We also recommend to save this code for next time</small>
                    </div>
                    <div class="mt-3">
                        <form method="post" asp-controller="Account" asp-action="SendCode" id="SendCode_Form">
                            <input type="hidden" name="Email" value="@UserInfo.Email" />
                            <button type="submit" class="btn btn-primary w-100 btn-standard-with-no-colour">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-container shadow-standard" id="EditSecuritySettings_Container">
    <div class="header-container p-3 pb-2" id="EditSecuritySettings_Container-Header">
        <button type="button" class="btn btn-close float-end ms-1" aria-label="close" id="EditSecuritySettings_Container-Close"></button>
        <h5 class="h5 text-truncate">Settings</h5>
    </div>
    <div class="mt-2 p-3 pt-0">
        <div class="bordered-container p-2">
            <h5 class="h5 safe-font">Main Settings</h5>
            <div class="border-top mt-2 pt-2"></div>
            <div>
                <form method="post" asp-controller="Account" asp-action="EditMainSettings" id="EditMainSettings_Form">
                    <div>
                        <div class="d-none">
                            <input type="hidden" asp-for="Id" id="EMS_Id_Val" value="@UserInfo.Id" />
                        </div>
                        @if(UserInfo.AreMessagesDisabled)
                        {
                            <div class="form-check form-switch">
                                <input asp-for="AreMessagesDisabled" class="form-check-input" type="checkbox" value="true" checked />
                                <label class="form-check-label fw-500" asp-for="AreMessagesDisabled">Disable Messages</label>
                            </div>
                            <small class="card-text text-muted" id="DisabledMessages_Lbl">No one will be able to send you a message</small>
                        }
                        else
                        {
                            <div class="form-check form-switch">
                                <input asp-for="AreMessagesDisabled" class="form-check-input" type="checkbox" value="false" />
                                <label class="form-check-label fw-500" asp-for="AreMessagesDisabled">Disable Messages</label>
                            </div>
                            <small class="card-text text-muted" id="DisabledMessages_Lbl">You'll receive all messages and notifications</small>
                        }
                    </div>
                    <div class="mt-2">
                        @if (UserInfo.AreCommentsDisabled)
                        {
                            <div class="form-check form-switch">
                                <input asp-for="AreCommentsDisabled" class="form-check-input" type="checkbox" value="true" checked />
                                <label class="form-check-label fw-500" asp-for="AreCommentsDisabled">Disable Comments</label>
                                <button type="button" class="btn text-dark btn-standard-with-no-colour border-0 p-0 pb-1 ms-1 btn-sm info-popover" data-bs-custom-class="info-popover-show" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Anyway you're free to disable comments of your selected project. This one will block all comments until you'll enable them back" data-bs-html="true"> <i class="fas fa-info-circle"></i> </button>
                            </div>
                            <small class="card-text text-muted" id="DisabledComments_Lbl">No one can watch and send a comment to your projects</small>
                        }
                        else
                        {
                            <div class="form-check form-switch">
                                <input asp-for="AreCommentsDisabled" class="form-check-input" type="checkbox" value="false" />
                                <label class="form-check-label fw-500" asp-for="AreCommentsDisabled">Disable Comments</label>
                                <button type="button" class="btn text-dark btn-standard-with-no-colour border-0 p-0 pb-1 ms-1 btn-sm info-popover" data-bs-custom-class="info-popover-show" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Anyway you're free to disable comments of your selected project. This one will block all comments until you'll enable them back" data-bs-html="true"> <i class="fas fa-info-circle"></i> </button>
                            </div>
                            <small class="card-text text-muted" id="DisabledComments_Lbl">Comments of your projects are free to watch</small>
                        }
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-text btn-sm" id="EditMainSettings_Sbmt_Btn"> <i class="fas fa-check"></i> Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="bordered-container p-2 mt-2">
            <h5 class="h5 safe-font">Email Settings</h5>
            <div class="border-top mt-2 pt-2"></div>
            <h6 class="h6">Email:</h6>
            <p class="card-text">@UserInfo.Email</p>
            <div class="mt-2"></div>
            <h6 class="h6">Is Changed:</h6>
            @if (UserInfo.IsEmailChanged)
            {
                <p class="card-text" id="IsEmailChanged_Lbl">You've already changed your email address once</p>
            }
            else
            {
                <p class="card-text" id="IsEmailChanged_Lbl">You may change your email address</p>
            }
        </div>
        <div class="bordered-container p-2 mt-2">
            <h5 class="h5 safe-font">Password Settings</h5>
            <div class="border-top mt-2 pt-2"></div>
            <div>
                <form method="post" asp-controller="Account" asp-action="EditEasyEntry" id="EditEasyEntry_Form">
                    <div class="d-none">
                        <input type="hidden" name="Id" value="@UserInfo.Id" />
                    </div>
                    @if(UserInfo.IsEasyEntryEnabled)
                    {
                        <div class="form-check form-switch">
                            <input asp-for="IsEasyEntryEnabled" class="form-check-input" type="checkbox" value="true" checked />
                            <label class="form-check-label fw-500" asp-for="IsEasyEntryEnabled">Easy Entry</label>
                        </div>
                        <small class="card-text text-muted" id="EasyEntry_Lbl">You've enabled <span class="fw-500">easy entry</span></small>
                    }
                    else
                    {
                        <div class="form-check form-switch">
                            <input asp-for="IsEasyEntryEnabled" class="form-check-input" type="checkbox" value="false" />
                            <label class="form-check-label fw-500" asp-for="IsEasyEntryEnabled">Easy Entry</label>
                        </div>
                        <small class="card-text text-muted" id="EasyEntry_Lbl">Easy Entry is disabled. This will allow your to sign-in by using an one time code that we'll send to your email</small>
                    }
                </form>
            </div>
            <div class="mt-3"></div>
            <h6 class="h6">Abitily to Change:</h6>
            @if(PermissionToChangePassword)
            {
                <p class="card-text" id="PasswordStatus_Lbl">you may change your password</p>
                <div class="mt-2"></div>
                <h6 class="h6">Days Passed From Last Change:</h6>
                @if (ViewBag.LastPasswordChangeDays > 100)
                {
                    <p class="card-text" id="PasswordUpdateDate_Lbl">more than 100 days</p>
                }
                else
                {
                    <p class="card-text" id="PasswordUpdateDate_Lbl">@ViewBag.LastPasswordChangeDays days</p>
                }
                <div class="mt-2"></div>
                <button type="button" class="btn btn-text btn-sm smallside-btn-open-container" id="PasswordChange_Container-Open"> <i class="fas fa-pencil-alt"></i> Edit Password</button>
            }
            else
            {
                <p class="card-text" id="PasswordStatus_Lbl">you may not change it now</p>
                <div class="mt-2"></div>
                <h6 class="h6">Days Passed After Last Change:</h6>
                <p class="card-text" id="PasswordUpdateDate_Lbl">@ViewBag.LastPasswordChangeDays/28 days (changed @UserInfo.PasswordResetDate.ToShortDateString(), at @UserInfo.PasswordResetDate.ToShortTimeString())</p>
                <div class="mt-2"></div>
                <button type="button" class="btn btn-text btn-sm" disabled> <i class="fas fa-pencil-alt"></i> Unable to Edit</button>
            }
        </div>
            <div class="bordered-container p-2 mt-2">
                <div>
                    <h5 class="h5 safe-font">Log Out</h5>
                    <div class="mt-2 border-top pt-2">
                    <div>
                        <form method="post" asp-controller="Account" asp-action="LogOut">
                            <button type="submit" class="btn btn-danger btn-standard-with-no-colour btn-sm"> <i class="fas fa-sign-out-alt"></i> Log Out</button>
                        </form>
                    </div>
                    <div class="mt-1">
                        <small class="card-text text-muted">Terminates only this session</small>
                    </div>
                    </div>
                </div>
                <div class="border-top mt-2 pt-2">
                    <div>
                        <button type="button" class="btn btn-danger btn-standard-with-no-colour btn-sm" disabled> <i class="far fa-times-circle"></i> Terminate all Sessions</button>
                        <div class="mt-1">
                            <small class="card-text text-muted">Terminates all sessions, except this one</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="main-container shadow-standard" id="Preload_Container">
    <div class="header-container p-3 pb-2" id="Preload_Container-Header">
        <button type="button" class="btn btn-close float-end ms-1" aria-label="close" id="Preload_Container-Close"></button>
        <button type="button" class="btn btn-standard-not-animated btn-sm float-end me-1 smallside-btn-open-container border-0" id="EditAccount_Container-OpenY"> <i class="fas fa-pencil-alt"></i> Edit</button>
        <button type="button" class="btn btn-standard-not-animated btn-sm float-end me-1 smallside-btn-open-container border-0" id="AddPhoto_Container-Open"> <i class="fas fa-camera"></i> Profile Photo</button>
        @if (!UserInfo.EmailConfirmed)
        {
            <button type="button" class="btn btn-standard-not-animated btn-sm float-end me-1 smallside-modal-open-by-hover border-0" id="VerifyInfo_Modal" data-content="Your email isn't confirmed. Go by <a href='/User/Verify/@UserInfo.Id' class='text-decoration-none'>link</a> to confirm your email. It'll take 2-3 mins, but after that you'll have more secured account with some additional features. <a class='text-decoration-none' href='/User/Verify/@UserInfo.Id'>More about it at confirmation page</a>. <div class='bordered-container bg-gradient-three text-light p-2 mt-3'><h6 class='h6 safe-font'>Additional features of confirmed account</h6> <div class='mt-2 border-top pt-2'><p><span class='badge warning-badge p-2 bg-gradient-one safe-font'> <i class='fas fa-arrow-up'></i> 2.25x</span> <small class='card-text'>more projects per 1 account - 24 projects before/54 projects after</small></p></div><div class='mt-2'></div><small class='card-text'>Safety & Security. No one could enter to your account and even if someone has entered you could reset your password easily in 4-5 mins</small><div class='mt-2'></div><p><span class='badge warning-badge p-2 bg-gradient-one safe-font'> <i class='fas fa-arrow-up'></i> 28%</span><small class='card-text'> more length for description or text per every project - 11700 digits before/14000 digits after</small></p><div class='mt-2'><small class='card-text'>Additional statistic features about your projects</small></div></div>"> <i class="fas fa-mail-bulk"></i> Confirm</button>
        }
        <h5 class="h5 text-truncate">About You</h5>
    </div>
    <div class="mt-2 p-3 pt-0">
        <div class="box-container bg-light p-3">
            @if(UserRole >= 3)
            {
                <a asp-controller="Settings" asp-action="MainAdministrationPanel" class="btn btn-text ms-1 btn-sm float-end text-decoration-none"><span> <i class="fas fa-tools text-primary"></i> Admin Page</span></a>
            }

            @if(UserInfo.ProfilePhoto != null)
            {
                <div class="box-container bg-light">
                    <img src="/ProfilePhotos/@UserInfo.ProfilePhoto" id="AY_ProfilePhoto_Img" class="image-small-box" alt="Cannot display this image" />
                </div>
                <div class="mt-1"></div>
            }
            else
            {
                <div class="box-container bg-light p-1">
                    <img src="" id="AY_ProfilePhoto_Img" class="image-small-box d-none" alt="Cannot display this image" />
                </div>
            }
            @if (UserInfo.PseudoName == null)
            {
                @if (UserInfo.IsVerified)
                {
                    <h1 class="h1 main-title-font-style" id="AY_Username">@UserInfo.UserName <span class="fs-2"><i class="fas fa-certificate text-official"></i></span> </h1>
                }
                else
                {
                    <h1 class="h1 main-title-font-style" id="AY_Username">@UserInfo.UserName</h1>
                }
                <small class="card-text text-muted" id="AY_SearchName"> <i class="fas fa-at text-dark"></i> <span class="text-dark">Searchname:</span> @UserInfo.SearchName</small>
            }
            else
            {
                @if (UserInfo.IsVerified)
                {
                    <h1 class="h1 main-title-font-style" id="AY_Username">@UserInfo.PseudoName <span class="fs-2"><i class="fas fa-certificate text-official"></i></span> </h1>
                }
                else
                {
                    <h1 class="h1 main-title-font-style" id="AY_Username">@UserInfo.PseudoName </h1>
                }
            }
            <div></div>
            @if (UserInfo.Description != null)
            {
                <small class="card-text white-space-on" id="AY_Description">@UserInfo.Description</small>
            }
            else
            {
                <small class="card-text white-space-on" id="AY_Description">No profile description</small>
            }
            <div class="mt-2">
                @if (UserInfo.Link1 == null)
                {
                    <a href="#" class="btn btn-text btn-sm text-decoration-none" id="AY_Link1"> <i class="fas fa-link"></i> First Link: <span class="text-primary">Empty</span></a>
                }
                else
                {
                    <a href="@UserInfo.Link1" class="btn btn-text btn-sm text-decoration-none" id="AY_Link1"> <i class="fas fa-link text-primary"></i> @UserInfo.Link1Tag</a>
                }
                <div></div>
                @if (UserInfo.Link2 == null)
                {
                    <a href="#" class="btn btn-text btn-sm text-decoration-none" id="AY_Link2"> <i class="fas fa-link"></i> Second Link: <span class="text-primary">Empty</span></a>
                }
                else
                {
                    <a href="@UserInfo.Link2" class="btn btn-text btn-sm text-decoration-none" id="AY_Link2"> <i class="fas fa-link text-primary"></i> @UserInfo.Link2Tag</a>
                }
            </div>
            <div class="mt-2 border-top pt-2">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-standard-not-animated btn-sm w-100" type="button" data-bs-toggle="collapse" data-bs-target="#AdditionalInfo_Collapse" aria-expanded="false" aria-controls="AdditionalInfo_Collapse"> <i class="fas fa-ellipsis-h"></i><br/>Additional Info</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-standard-not-animated btn-sm smallside-btn-open-container w-100" id="LinkEdit_Container-Open"> <i class="fas fa-link"></i><br />Edit Link(s)</button>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <button type="button" class="btn btn-standard-not-animated btn-sm smallside-btn-open-container w-100" id="EditDescription_Container-Open"> <i class="fas fa-pen-square"></i><br />Edit Description</button>
                    </div>
                    @if (!UserInfo.IsEmailChanged)
                    {
                        <div class="col">
                            <button type="button" class="btn btn-standard-not-animated info-popover btn-sm smallside-btn-open-container w-100" id="EmailChange_Container-Open" data-bs-custom-class="info-popover-show" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left" data-bs-content="Click to change your email. Notice, that you can change you email once per account"> <i class="fas fa-inbox"></i><br />Edit Email</button>
                        </div>
                    }
                    else
                    {
                        <div class="col">
                            <button type="button" class="btn btn-standard-not-animated info-popover btn-sm smallside-btn-open-container w-100 disabled" data-bs-custom-class="info-popover-show" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left" data-bs-content="You've already changed your email address once"> <i class="fas fa-inbox"></i><br />Disabled</button>
                        </div>
                    }
                </div>
            </div>
            <div class="collapse" id="AdditionalInfo_Collapse">
                <div class="card p-2 mt-2">
                    <div>
                        @if (UserInfo.CountryId == null)
                        {
                            <span class="h2 main-title-font-style"><span id="AY_Country">You haven't selected your country yet</span></span>
                        }
                        else
                        {
                            <span class="h2 main-title-font-style"><span id="AY_Country">@UserInfo.Country?.ISO, @UserInfo.Country?.Name</span></span>
                        }
                        <div></div>
                        @if (UserInfo.IsCompany)
                        {
                            <small class="card-text text-muted" id="AY_IsCompany">Company/Business</small>
                        }
                        else
                        {
                            <small class="card-text" id="AY_IsCompany">Personal Account</small>
                        }
                        <div class="mt-1"></div>
                        @if (UserInfo.CreatedAt == null)
                        {
                            <small class="card-text text-muted" id="AY_CreatedDate">No information about signing date</small>
                        }
                        else
                        {
                            <small class="card-text text-muted" id="AY_CreatedDate">Signed or created at: @UserInfo.CreatedAt?.ToString("dd/MM/yyyy")</small>
                        }
                        <div></div>
                        <button type="button" class="btn btn-text btn-sm mt-2 me-2 smallside-btn-open-container" id="EditPersonalInfo_Container-Open"> <i class="fas fa-pen-square"></i> Edit</button>
                        <a asp-controller="User" asp-action="Info" asp-route-Id="@UserInfo.SearchName" class="btn btn-text btn-sm mt-2 smallside-btn-open-container"> <i class="fas fa-user-circle"></i> Your page</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bordered-container mt-2 p-2" id="TipsAndAdvices_Container">
            <button type="button" class="btn btn-standard-not-animated btn-hide float-end ms-1 btn-sm" id="TipsAndAdvices_Container-Close">Hide</button>
            <h5 class="h5">Tips & Advices</h5>
            <small class="card-text">Here're presented some tips and advices for filling out your account correctly</small>
            <div class="box-container bg-light p-2 mt-2">
                <h4 class="h4">1.</h4>
                <small class="card-text">Enter short and informative description about your or your company</small>
            </div>
            <div class="mt-2 box-container bg-light p-2">
                <h4 class="h4">2.</h4>
                <small class="card-text">Add your official logo or photo so people can be sure who you are</small>
            </div>
            <div class="mt-2 box-container bg-light p-2">
                <h4 class="h4">3.</h4>
                <small class="card-text">Add your official links to your other social platforms or websites</small>
            </div>
            <div class="mt-2 box-container bg-light p-2">
                <h4 class="h4">4.</h4>
                <small class="card-text">Verify your account and get the icon so people could rely on you</small>
            </div>
            <div class="mt-2 box-container bg-light p-2">
                <h4 class="h4">5.</h4>
                <small class="card-text">Try to create several posts with your project</small>
            </div>
            <div class="mt-2 box-container bg-light p-2">
                <h4 class="h4">6.</h4>
                <small class="card-text">Be active ane leave comments to other users</small>
            </div>
        </div>
        @if(VerificationInfo == null)
        {
            <div class="box-container shadow-sm bg-white mt-2 p-2" id="VerificationNotSent_Box">
                <h5 class="h5"> <i class="fas fa-check-circle text-official"></i> Verify your account</h5>
                <p class="card-text">Verify your account to become an official member of our community. This will provide you an verified account with the additional certificate icon behind your name, which is going to help and inform others about your officiality</p>
                <div class="bordered-container p-3 mt-3">
                    <div class="float-end ms-1">
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-lg btn-standard-not-animated border-0 w-100"> <i class="fas fa-bell text-primary"></i> </button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-lg btn-standard-not-animated border-0 w-100"> <i class="far fa-comment-dots"></i> </button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-lg btn-standard-not-animated border-0 w-100"> <i class="fas fa-ellipsis-h"></i> </button>
                            </div>
                        </div>
                    </div>
                    <h3 class="h3 main-title-font-style">Eclipse <i class="fas fa-check-circle text-official smallside-modal-open-by-hover" id="VerifiedAccountInfo_Modal" data-content="This's an official and verified account of <span class='safe-font'>Eclipse</span>!"></i> </h3>
                    <small class="card-text">Some kind of profile description...</small>
                </div>
                <div class="mt-1">
                    <div>
                        <form method="post" asp-controller="Account" asp-action="QueueForVerification" id="QueueForVerification_Form">
                            <input type="hidden" name="Id" value="@UserInfo.Id" />
                            <button type="submit" class="btn btn-light btn-standard-with-no-colour">Verify now <i class="fas fa-certificate text-official"></i> </button>
                        </form>
                    </div>
                    <div class="ms-1">
                        <small class="card-text text-muted">You will need to verify your email. Note that the account email must be an official working email of your company (or either your official individual email address), which we will be able to check and submit</small>
                    </div>
                </div>
            </div>
            <div class="box-container mt-2 p-3 shadow-sm text-center" style="display: none;" id="VerificationWaiting_Box">
                <h2 class="h2"> <i class="fas fa-hourglass-half"></i> </h2>
                <h4 class="h4 safe-font">Verification request is sent</h4>
                <small class="card-text text-muted">Your verification request has been sent at <span class="safe-font" id="VerificationSentAt_Lbl"></span>. Please, wait until you'll receive the confirmation email</small>
            </div>
        }
        else
        {
            @if(!UserInfo.IsVerified)
            {
                <div class="box-container mt-2 p-3 shadow-sm text-center" id="VerificationWaiting_Box">
                    <h2 class="h2"> <i class="fas fa-hourglass-half"></i> </h2>
                    <h4 class="h4 safe-font">Verification request is sent</h4>
                    <small class="card-text text-muted">Your verification request has been sent at <span class="safe-font">@VerificationInfo.SentAt.ToShortDateString(), @VerificationInfo.SentAt.ToShortTimeString()</span>. Please, wait until you'll receive the confirmation email</small>
                </div>
            }
        }
    </div>
</div>