@model User
@{
    ViewData["Title"] = "Home Page";

    User? UserInfo = ViewBag.UserInfo;
    int SubsCount = ViewBag.SubsCount;
}

<div class="main-sidebar p-2 shadow-sm" id="Main_SideBar">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="d-none">
            <input type="hidden" id="PageInfo_UserId" value="@UserInfo.Id" />
            <form method="get" asp-controller="Notifications" asp-action="GetNotifications" id="GetNotifications_Form">
            <input type="hidden" name="Id" value="@UserInfo.Id" />
        </form>
            <form method="get" asp-controller="Messages" asp-action="GetAll" id="GetAllMessages_Form">
                <input type="hidden" name="Id" value="@UserInfo.Id" />
            </form>
            <form method="get" asp-controller="Messages" asp-action="GetAllSent" id="GetAllSentMessages_Form">
                <input type="hidden" name="Id" value="@UserInfo.Id" />
            </form>
            <form method="post" asp-controller="Project" asp-action="RemoveFromLiked" id="RemoveFromLiked_Form">
                <input type="hidden" name="UserId" value="@UserInfo.Id" />
                <input type="hidden" name="ProjectId" id="DTP_ProjectId_Val" value="0" />
            </form>
            <form method="post" asp-controller="Post" asp-action="Like" id="LikeThePost_Form">
                <input type="hidden" name="UserId" value="@UserInfo.Id" />
                <input type="hidden" name="Id" id="LTP_PostId_Val" value="0" />
            </form>
            <form method="post" asp-controller="Post" asp-action="Dislike" id="DislikeThePost_Form">
                <input type="hidden" name="UserId" value="@UserInfo.Id" />
                <input type="hidden" name="Id" id="DLTP_PostId_Val" value="0" />
            </form>
            <form method="post" asp-controller="Mention" asp-action="Remove" id="MentionRemove_Form">
                <input type="hidden" name="Id" id="MentionRemove_Id_Val" value="0" />
                <input type="hidden" name="PostId" id="MentionRemove_PostId_Val" value="0" />
                <input type="hidden" name="UserId" value="@UserInfo.Id" />
            </form>
        </div>

        <div class="box-container card-box-container shadow-standard position-absolute p-2" id="Mentions_Container-CardBox">
            <div class="p-2 pt-0">
                <div>
                    <form method="post" asp-controller="Mention" asp-action="Send" id="SendMention_Form">
                        <div class="d-none">
                            <input type="hidden" name="UserId" value="@UserInfo.Id" />
                            <input type="hidden" name="ProjectId" id="SendMention_PostId_Val" value="0" />
                        </div>
                        <div class="row">
                            <div class="col col-1">
                                <button type="submit" class="btn btn-sm mt-1 rounded-message-btn" id="MentionText_SbmtBtn" disabled> <i class="fas fa-arrow-up"></i></button>
                            </div>
                            <div class="col col-9">
                                <textarea name="Text" id="MentionText" rows="1" placeholder="Enter text here" data-bs-html="MentionText_SbmtBtn" data-bs-min-length="3" maxlength="1500" class="form-control w-100 form-control-sm send-msg-form-control description-check"></textarea>
                            </div>
                            <div class="col col-2">
                                <button type="button" class="btn btn-sm mt-1 rounded-message-btn w-100 text-full-delete" id="FullDelete-MentionText"> <i class="fas fa-backspace"></i> </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="smallside-box-container shadow-standard scrollbar-hidden" id="EditMention_Container">
            <div class="header-container p-3 pb-2" id="EditMention_Container-Header">
                <button type="button" class="btn btn-close float-end ms-1" id="EditMention_Container-Close" aria-label="close"></button>
                <h5 class="h5 text-truncate">Edit Mention</h5>
            </div>
            <div class="mt-2 p-3 pb-2 pt-0">
                <div class="box-container bg-light p-2" id="EditedMention_Box">
                    <h6 class="h6 safe-font">Initial Text</h6>
                    <small class="card-text white-space-on" id="InitialText_Lbl"></small>
                </div>
                <div class="mt-2">
                    <form method="post" asp-controller="Mention" asp-action="Edit" id="EditMention_Form">
                        <input type="hidden" name="Id" id="MentionEdit_Id_Val" value="0" />
                        <input type="hidden" name="ProjectId" id="MentionEdit_PostId_Val" value="0" />
                        <input type="hidden" name="UserId" value="@UserInfo.Id" />
                        <div class="row mt-2">
                            <div class="col col-10">
                                <textarea class="form-control send-msg-form-control description-check" rows="1" maxlength="1500" name="Text" id="EditMention_Text" data-bs-min-length="3" data-bs-html="EditMention_Text-Sbmt_Btn" placeholder="Enter your new text here"></textarea>
                            </div>
                            <div class="col col-2">
                                <button type="submit" class="btn btn-primary btn-standard-with-no-colour w-100 btn-sm rounded-message-btn mt-1" disabled id="EditMention_Text-Sbmt_Btn"> <i class="fas fa-arrow-up"></i> </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
    <div class="d-none">
        <form method="get" asp-controller="User" asp-action="GetSuperShortUserInfo" id="GetSuperShortUserInfo_Form">
            <input type="hidden" name="Searchname" id="GSSU_Searchname_Val" />
        </form>
        <form method="get" asp-controller="User" asp-action="GetShortUserInfo" id="GetShortUserInfo_Form">
            <input type="hidden" name="Id" id="GSU_Id_Val" value="0" />
        </form>
        <form method="get" asp-controller="Mention" asp-action="GetMentions" id="GetMentions_Form">
            <input type="hidden" name="Id" id="GetMentions_Id_Val" />
            <input type="hidden" name="SkipCount" id="GetMentions_SkipCount_Val" value="0" />
            <input type="hidden" name="LoadCount" value="40" />
        </form>
    </div>

    <div class="smallside-box-container shadow-standard scrollbar-hidden" id="Mentions_Container">
        <div class="header-container p-3 pb-2" id="Mentions_Container-Header">
            <button type="button" class="btn btn-close float-end ms-1" id="Mentions_Container-Close" aria-label="close"></button>
            <h5 class="h5 text-truncate">Mentions for the Post, <span id="MentionsCount_Lbl">0</span></h5>
        </div>
        <div class="mt-2 p-3 pb-2 pt-0" id="Mentions_Box">
        </div>
        <div class="mb-5 mt-2 pb-4 p-3 text-center">
            <button type="button" class="btn btn-standard-not-animated text-primary btn-sm w-100 border-0" id="GetMoreMentions_Btn" disabled>Load More Mentions</button>
        </div>
    </div>

    <div class="box-container text-center p-2 shadow-sm">
        <div class="row text-center">
            <div class="col">
                <button type="button" class="btn btn-standard-not-animated btn-open-container w-100" id="Preload_Container-Open"> <i class="fas fa-stream"></i> <br /> Newsline</button>
            </div>
            <div class="col">
                <button class="btn btn-standard-not-animated w-100" type="button" data-bs-toggle="collapse" data-bs-target="#AccountInfo_Collapse" aria-expanded="false" aria-controls="AccountInfo_Collapse"> <i class="fas fa-ellipsis-h"></i> <br /> Change Account </button>
            </div>
            <div class="col d-sm-block d-xs-block d-md-none d-lg-none d-xl-none">
                <button type="button" class="btn btn-standard-not-animated w-100 smallside-btn-close"> <i class="fas fa-times"></i> <br />Close</button>
            </div>
        </div>
        <div class="collapse" id="AccountInfo_Collapse">
            <div class="bordered-container p-2 mt-2">
                <div class="text-start">
                    <a asp-controller="Account" asp-action="Create" asp-route-SigningIn="false" class="btn btn-light btn-standard-with-no-colour w-100 text-start"> <i class="fas fa-sign-in-alt text-primary"></i> Log In</a>
                    <div></div>
                    <a asp-controller="Account" asp-action="Create" asp-route-SigningIn="true" class="btn btn-light btn-standard-with-no-colour mt-2 w-100 text-start"> <i class="fas fa-plus-circle text-primary"></i> Sign Up</a>
                    <div></div>
                    <a asp-controller="Home" asp-action="About" class="btn btn-light btn-standard-with-no-colour mt-2 w-100 text-start"> <i class="far fa-question-circle text-danger"></i> About Us</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bordered-container p-2 mt-3">
        <p class="card-text safe-font"> <i class="far fa-bell"></i> Subscribtions ∙ @SubsCount</p>
        @if(SubsCount > 0)
        {
            @foreach(GetSubscribtions_ViewModel Item in ViewBag.Subscribtions)
            {
                <div class="box-container bg-light p-2 mt-1">
                    <button type="button" class="btn btn-sm btn-text get-user-short-info" id="GSUB-@Item.UserId"> <i class="far fa-bell"></i> Subscribed</button>
                    <h6 class="h6 mt-1 get-user-short-info" id="GSU-@Item.UserId">@Item.UserName<br /><small class="card-text text-muted fw-normal">@Item.UserSearchName</small></h6>
                </div>
            }
        }
        else
        {
            <div class="box-container bg-light p-2 text-center">
                <h2 class="h2"> <i class="far fa-bell-slash"></i> </h2>
                <h6 class="h6">No Subscribtions</h6>
            </div>
        }
    </div>
    <div class="bordered-container p-2 mt-2">
        <p class="card-text safe-font"> <i class="far fa-bell"></i> Liked Projects ∙ <span id="LikedProjectsCount_Lbl">@ViewBag.LikedProjectsCount</span></p>
        @if (ViewBag.LikedProjectsCount > 0)
        {
            <div id="HaveLikedProjects_Box">
                @foreach (GetLikedProjects_ViewModel Item in ViewBag.LikedProjects)
                {
                    <div class="box-container bg-light p-2 mt-1" id="LikedProjectBox-@Item.ProjectId">
                        <button type="button" class="btn btn-standard-not-animated border-0 float-end ms-1 dislike-the-project" id="DTP_ProjectId-@Item.ProjectId"> <i class="fas fa-heart text-primary dislike-the-project" id="DTPI_ProjectId-@Item.ProjectId"></i> </button>
                        <h6 class="h6">@Item.Name</h6>
                        <small class="card-text text-muted">@Item.CreatorName</small>
                    </div>
                }
                <div class="mt-1">
                    <a asp-controller="Project" asp-action="Liked" class="btn btn-text btn-sm fw-normal text-muted"> <i class="fas fa-ellipsis-h"></i> More about your liked projects</a>
                </div>
            </div>
            <div class="box-container bg-light p-2 text-center" style="display: none;" id="NoLikedProjects_Box">
                <h2 class="h2"> <i class="fas fa-heart-broken"></i> </h2>
                <h6 class="h6">No Liked Projects</h6>
            </div>
        }
        else
        {
            <div class="box-container bg-light p-2 text-center" id="NoLikedProjects_Box">
                <h2 class="h2"> <i class="fas fa-heart-broken"></i> </h2>
                <h6 class="h6">No Liked Projects</h6>
            </div>
        }
    </div>

    <div class="smallside-box-container shadow-standard scrollbar-hidden" id="UserShortInfo_Container">
        <div class="header-container p-3 pb-2" id="UserShortInfo_Container-Header">
            <button type="button" class="btn btn-close btn-sm float-end ms-1" aria-label="close" id="UserShortInfo_Container-Close"></button>
            <h5 class="h5 text-truncate">About <span id="USI_UsernameTitle_Span"></span></h5>
        </div>
        <div class="mt-2 p-3 pt-0">
            <div class="box-container">
                <div class="box-container p-2 bg-light">
                    <small class="badge bg-white text-dark warning-badge safe-font fw-normal float-end" id="USI_CountryBadge">Country</small>
                    <h2 class="h2 safe-font" id="USI_Username_Lbl">Pseudoname</h2>
                    <small class="card-text text-muted" id="USI_Searchname_Lbl">Searchname</small>
                    <div class="mt-2 pt-1 border-top"></div>
                    <div class="mb-1">
                        <input type="hidden" id="USI_Id_Val" value="0" />
                        <input type="hidden" id="USI_SubscribersCount_Val" value="0" />
                        <button type="button" class="btn bg-white subscribe-for-user btn-standard-with-no-colour float-end ms-1 btn-sm" id="USI_SubscribersInfo_Btn"></button>
                        <small class="card-text text-muted" id="USI_ProjectsCount_Lbl">Projects Count</small>
                    </div>
                </div>
                <div class="mt-1 ms-1">
                    <small class="card-text white-space-on mt-2" id="USI_Description_Lbl">Description</small>
                    <div></div>
                    <a href="#" class="btn btn-text mt-3 btn-sm" id="USI_Userpage_Link"> <i class="fas fa-chevron-right"></i> Page Link</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-container shadow-standard" id="Preload_Container">
    <div class="header-container p-3 pb-2" id="Preload_Container-Header">
        <button type="button" class="btn btn-close float-end mt-1" aria-label="close" id="Preload_Container-Close"></button>
        <h5 class="h5 text-truncate">Newsline</h5>
    </div>
    <div class="mt-2 p-3 pt-0">
        <div class="box-container w-100" id="Billboard_Box">
            <div class="p-2 bg-gradient-one box-container">
                <h1 class="h1 text-light">Welcome</h1>
                <small class="card-text text-light">We're happy to see you in our app! Please, enjoy your time and make the most of it for you. If you have any questions, issues or complaints, please write to our email or user the in-app chat (don't even need to log in). Thank You!</small>
                <div class="mt-3">
                    <button type="button" class="btn btn-standard-with-no-colour btn-outline-light btn-sm write-via-email" id="WriteViaEmail_Btn"> <i class="fas fa-paperclip"></i> Write in-app</button>
                    <button type="button" class="btn btn-standard-with-no-colour btn-outline-light btn-sm smallside-modal-open-by-hover" id="ContactsInfo_Modal" data-content="If you've any questions, issues or complaints, please tell us. That's the only way to make us and our app better. Here're our all contacts: <div class='bordered-container p-2 mt-3'><span class='h6 safe-font'> <i class='far fa-envelope text-primary'></i> Email:</span><div></div><small class='card-text'>bluejade@gmail.com</small><div class='border-top pt-2 mt-2'></div><span class='h6 safe-font'> <i class='fab fa-twitter text-primary'></i> X/Twitter:</span><div></div><small class='card-text'><a href='#' class='text-primary text-decoration-none'>bluejade's x/twitter</a></small><div class='border-top pt-2 mt-2'></div><span class='h6 safe-font'> <i class='fab fa-reddit text-danger'></i> Reddit</span><div></div><small><a href='#' class='text-primary text-decoration-none'>bluejade's reddit</a></small></div>"> <i class="far fa-address-book"></i> Our Contacts</button>
                </div>
            </div>
        </div>

        @if(ViewBag.PostsCount != 0)
        {
            @foreach(GetPost_ViewModel Item in ViewBag.Posts)
            {
                <div class="bordered-container p-2 mt-2" id="PostBox-@Item.Id">
                    <div class="dropdown">
                        <button class="btn btn-standard-not-animated float-end ms-1 btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false"> <i class="fas fa-ellipsis-h"></i> </button>
                        <ul class="dropdown-menu shadow-sm p-1">
                            <li><button type="button" class="dropdown-item mb-1 copy-the-text-of-the-post" id="CopyTheText-@Item.Id"> <i class="far fa-copy"></i> Copy to the clipboard</button></li>
                            @if (Item.LinkedProjectId != 0)
                            {
                                <li><a asp-controller="Project" asp-action="Info" asp-route-Id="@Item.LinkedProjectId" class="dropdown-item"> <i class="far fa-folder-open"></i> Project Info</a></li>
                            }
                        </ul>
                    </div>
                    @if (UserInfo?.ProfilePhoto != null)
                    {
                        <img class="image-ultra-small-box" src="/ProfilePhotos/@UserInfo.ProfilePhoto" alt="Cannot display this image" />
                        <small class="card-text mt-1 ms-1 fs-6"><span class="fw-500 get-user-short-info" id="PostsGSU-@Item.UserId">@UserInfo?.PseudoName</span><br /><small class="card-text text-muted">posted @Item.CreatedAt.ToString("dd/MM/yyyy"), at @Item.CreatedAt.ToShortTimeString()</small></small>
                    }
                    else
                    {
                        <small class="card-text fs-6"><span class="fw-500 get-user-short-info" id="PostsGSU-@Item.UserId">@UserInfo?.PseudoName</span><br /><small class="card-text text-muted">posted @Item.CreatedAt.ToString("dd/MM/yyyy"), at @Item.CreatedAt.ToShortTimeString()</small></small>
                    }
                    @if (Item.Project != null)
                    {
                        <div class="box-container bg-light p-2 mt-2">
                            <small class="card-text fw-500"> <i class="fas fa-link text-primary"></i> @Item.Project.Name</small>
                            <div></div>
                            <small class="card-text text-muted">created @Item.Project.CreatedAt.ToString("dd/MM/yyyy")</small>
                            <div class="mt-3"></div>
                            <small class="card-text white-space-on">@Item.Project.Description</small>
                            <div class="box-container bg-light mt-2 p-2">
                                <div class="row">
                                    <div class="col">
                                        <a asp-controller="Project" asp-action="Info" asp-route-Id="@Item.LinkedProjectId" class="btn btn-standard-not-animated btn-sm w-100"> <i class="fas fa-link"></i> Project Page</a>
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-standard-not-animated btn-sm w-100" disabled>@Item.Project.Views.ToString("N0") views</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="mt-2">
                        <p class="card-text post-text white-space-on" id="PostsTextLbl-@Item.Id">@Item.Text</p>
                    </div>
                    <div class="border-top mt-2 pt-2">
                        @if (!Item.IsLiked)
                        {
                            <button type="button" class="btn btn-standard-not-animated btn-sm me-2 d-inline-block like-the-post" id="LikeOrDislikeThePost_Btn-@Item.Id"> <i class="far fa-heart"></i> Like</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-standard-not-animated btn-sm me-2 d-inline-block dislike-the-post" id="LikeOrDislikeThePost_Btn-@Item.Id"> <i class="fas fa-heart text-primary"></i> Liked</button>
                        }
                        @if(Item.AllowMentions)
                        {
                            <button type="button" class="btn btn-standard-not-animated btn-sm load-mentions me-2 get-mentions" id="Post_LoadMentions-@Item.Id"> <i class="fas fa-quote-right text-primary"></i> Mentions</button>
                        }
                        <button type="button" class="btn btn-standard-not-animated btn-sm" disabled> <i class="fas fa-share"></i> Share</button>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="mt-3 p-3 text-center">
                <h1 class="h1"> <i class="far fa-sticky-note"></i> </h1>
                <h3 class="h3 safe-font">No Posts For Today</h3>
                <small class="card-text text-muted">We've not found any posts for you. You may try to read new posts later</small>
            </div>
        }
    </div>
</div>