@model User
@{
    ViewData["Title"] = "Search";

    User? UserInfo = ViewBag.UserInfo;
    int ProjectsCount = ViewBag.ProjectsCount;
}

<div class="main-sidebar p-2 shadow-sm" id="Main_SideBar">
    <div class="d-none">
        @if(UserInfo != null)
        {
            <input type="hidden" id="PageInfo_UserId" value="@UserInfo.Id" />
            <form method="get" asp-controller="User" asp-action="GetShortUserInfo" id="GetShortUserInfo_Form">
                <input type="hidden" name="Id" id="GSU_Id_Val" value="@UserInfo.Id" />
            </form>
            <form method="get" asp-controller="Notifications" asp-action="GetNotifications" id="GetNotifications_Form">
                <input type="hidden" name="Id" value="@UserInfo.Id" />
            </form>
            <form method="get" asp-controller="Messages" asp-action="GetAll" id="GetAllMessages_Form">
                <input type="hidden" name="Id" value="@UserInfo.Id" />
            </form>
            <form method="get" asp-controller="Messages" asp-action="GetAllSent" id="GetAllSentMessages_Form">
                <input type="hidden" name="Id" value="@UserInfo.Id" />
            </form>
        }
        <form method="get" asp-controller="Project" asp-action="GetFullProject" id="GetFullProject_Form">
            <input type="hidden" name="Id" id="GFP_Id_Val" value="0" />
            <input type="hidden" name="GetAdditionalInfo" value="True" />
            <input type="hidden" name="GetUsername" value="True" />
        </form>
        <form method="get" asp-controller="Messages" asp-action="GetAllReplies" id="GetAllReplies_Form">
            <input type="hidden" name="Id" id="GAR_Id_Val" value="0" />
        </form>
        <form method="get" asp-controller="Messages" asp-action="GetAllReplies" id="GetAllReplies_Form">
            <input type="hidden" name="Id" id="GAR_Id_Val" value="0" />
        </form>
    </div>

    <div class="smallside-box-container shadow-standard scrollbar-hidden" id="UserShortInfo_Container">
        <div class="header-container p-3 pb-2" id="UserShortInfo_Container-Header">
            <button type="button" class="btn btn-close btn-sm float-end ms-1" aria-label="close" id="UserShortInfo_Container-Close"></button>
            <h5 class="h5 text-truncate">About <span id="USI_UsernameTitle_Span"></span></h5>
        </div>
        <div class="mt-2 p-3 pt-0">
            <div class="box-container">
                <div class="box-container p-2 bg-light">
                    <small class="badge bg-white text-dark warning-badge safe-font fw-normal float-end" id="USI_CountryBadge">Country</small>
                    <h2 class="h2 safe-font" id="USI_Username_Lbl">Pseudoname</h2>
                    <small class="card-text text-muted" id="USI_Searchname_Lbl">Searchname</small>
                    <div class="mt-2 pt-1 border-top"></div>
                    <div class="mb-1">
                        <input type="hidden" id="USI_Id_Val" value="0" />
                        <input type="hidden" id="USI_SubscribersCount_Val" value="0" />
                        <button type="button" class="btn bg-white btn-standard-with-no-colour float-end ms-1 btn-sm" id="USI_SubscribersInfo_Btn"></button>
                        <small class="card-text text-muted" id="USI_ProjectsCount_Lbl">Projects Count</small>
                    </div>
                </div>
                <div class="card-group mt-2">
                    <div class="card p-2 bg-light">
                        <p class="card-text fw-500">Contact Info</p>
                        <small class="card-text" id="USI_Inbox_Lbl"> <i class="fas fa-inbox"></i> </small>
                        <div class="mt-2"></div>
                        <small class="card-text" id="USI_Date_Lbl"></small>
                    </div>
                    <div class="card p-2 bg-light">
                        <p class="card-text fw-500">Links</p>
                        <small class="card-text" id="USI_Link1_Lbl"></small>
                        <div></div>
                        <small class="card-text text-muted" id="USI_Link1Tag_Lbl">No Link Tag</small>
                        <div class="border-top pt-1 mt-2"></div>
                        <small class="card-text" id="USI_Link2_Lbl"></small>
                        <div></div>
                        <small class="card-text text-muted" id="USI_Link2Tag_Lbl">No Link Tag</small>
                    </div>
                </div>
                <div class="mt-1 ms-1">
                    <small class="card-text white-space-on mt-2" id="USI_Description_Lbl">Description</small>
                    <div></div>
                    <a href="#" class="btn btn-text mt-3 btn-sm" id="USI_Userpage_Link"> <i class="fas fa-chevron-right"></i> Page Link</a>
                </div>
            </div>
        </div>
    </div>

    @if (UserInfo != null)
    {
        <div class="mt-3 box-container card-box-container shadow-standard position-absolute p-2" id="ReplyToComment_Container-CardBox">
            <form method="post" asp-controller="Messages" asp-action="SendReply" id="SendReply_Form">
                <input type="hidden" name="CommentId" id="RTC_CommentId_Val" value="0" />
                <input type="hidden" name="UserId" value="@UserInfo.Id" />
                <div class="row">
                    <div class="col col-10">
                        <textarea class="form-control w-100 form-control-sm send-msg-form-control" rows="1" name="Text" id="RTCC_TextValue" placeholder="Enter your answer here" maxlength="2500"></textarea>
                    </div>
                    <div class="col col-2">
                        <button type="submit" class="btn btn-primary rounded-message-btn btn-standard-with-no-colour btn-sm w-100 mt-1" id="RTCSbmt_Btn"> <i class="fas fa-arrow-up"></i> </button>
                    </div>
                </div>
            </form>
        </div>
    }

    <div class="smallside-box-container p-3 shadow-standard scrollbar-hidden" id="ReplyToComment_Container">
        <button type="button" class="btn btn-back btn-sm float-end ms-1">&larr; Back</button>
        <h5 class="h5 text-truncate">Reply to <span class="text-primary" id="RTC_User"></span></h5>
        <div class="mt-4">
            <div class="box-container bg-light p-3">
                <input type="hidden" id="RTC_Count" value="0" />
                <h6 class="h6" id="RTC_Username">Username</h6>
                <small class="card-text text-muted white-space-on" id="RTC_TextValue">Replying message text</small>
            </div>
            <div class="mt-2 mb-5" id="RepliesList_Box">
            </div>
        </div>
    </div>

    <div class="smallside-box-container shadow-standard scrollbar-hidden" id="Comments_Container">
        <div class="header-container p-3 pb-2" id="Comments_Container-Header">
            <button type="button" class="btn btn-close float-end ms-1" id="Comments_Container-Close" aria-label="close"></button>
            <h5 class="h5 text-truncate">Comments, <span id="CommentsCount_Span">No Comments</span></h5>
        </div>
        <div class="d-none">
            <input type="hidden" id="CommentsCount_Val" value="0" />
        </div>
        <div class="mt-2 p-3 pt-0 mb-5" id="CommentsMain_Box">
        </div>
    </div>

    <div class="box-container card-box-container shadow-standard position-absolute p-2" id="Comments_Container-CardBox">
        <div class="row">
            <div class="col col-10">
                <textarea class="form-control w-100 form-control-sm send-msg-form-control" rows="1" id="SendComment_Text" placeholder="Go to full info page to send comments" disabled></textarea>
            </div>
            <div class="col col-2">
                <button type="button" class="btn btn-text mt-1 btn-sm w-100" disabled> <i class="fas fa-chevron-right"></i> </button>
            </div>
        </div>
    </div>
</div>

<div class="main-container shadow-standard scrollbar-hidden" id="Waiter_Container">
    <div class="header-container p-3 pb-2">
        <button type="button" class="btn btn-close float-end ms-1" aria-label="Close" id="Waiter_Container-Close"></button>
        <h5 class="h5 text-truncate">Just Wait</h5>
    </div>
    <div class="mt-5 p-3 pt-0">
        <div class="box-container text-center">
            <h2 class="h2 text-primary"> <i class="fas fa-spinner fa-spin"></i> </h2>
            <h4 class="h4 safe-font">Please Wait</h4>
            <p class="card-text text-muted">We're searching right now and it may take few seconds</p>
            <small class="card-text text-muted">You can play our game that has been created for situation like this!</small>
        </div>
        <div class="box-container bordered-container p-2 mt-3" id="GameBox_Container">
            <div class="box-container">
                <div class="box-container bordered-container p-2 text-center">
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-lg btn-standard-not-animated w-100" id="StartTheGame_Btn"> <i class="fas fa-play"></i> <br/>Play</button>
                        </div>
                        <div class="col">
                            <h3 class="h3 safe-font">Score</h3>
                            <h6 class="h6" id="ScoreTable_Lbl">000</h6>
                            <input type="hidden" id="Score_Val" value="0" />
                            <small class="card-text text-muted"> <span id="SpeedIcon_Span"><i class="fas fa-circle text-primary"></i></span> Multiplier: <span id="Speed_Span">0.10</span>x</small>
                        </div>
                        <div class="col">
                            <input type="hidden" id="GameSpeedType_Val" value="0" />
                            <button type="button" class="btn btn-lg btn-light btn-standard-not-animated w-100" id="GameSpeedIncrease_Btn"> <i class="fas fa-forward"></i> <br />Speed Up</button>
                        </div>
                    </div>
                </div>
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card game-hole w-100 me-1" id="GameCell-1"></div>
                        </div>
                        <div class="col">
                            <div class="card game-hole w-100 me-1" id="GameCell-2"></div>
                        </div>
                        <div class="col">
                            <div class="card game-hole w-100 me-1" id="GameCell-3"></div>
                        </div>
                        <div class="col">
                            <div class="card game-hole w-100 me-1" id="GameCell-4"></div>
                        </div>
                        <div class="col">
                            <div class="card game-hole w-100 me-1" id="GameCell-5"></div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col">
                            <div class="card game-hole w-100 me-1" id="GameCell-6"></div>
                        </div>
                        <div class="col">
                            <div class="card game-hole w-100 me-1" id="GameCell-7"></div>
                        </div>
                        <div class="col">
                            <div class="card game-hole w-100 me-1" id="GameCell-8"></div>
                        </div>
                        <div class="col">
                            <div class="card game-hole w-100 me-1" id="GameCell-9"></div>
                        </div>
                        <div class="col">
                            <div class="card game-hole w-100 me-1" id="GameCell-10"></div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col">
                            <div class="card game-hole w-100 me-1" id="GameCell-11"></div>
                        </div>
                        <div class="col">
                            <div class="card game-hole w-100 me-1" id="GameCell-12"></div>
                        </div>
                        <div class="col">
                            <div class="card game-hole w-100 me-1" id="GameCell-13"></div>
                        </div>
                        <div class="col">
                            <div class="card game-hole w-100 me-1" id="GameCell-14"></div>
                        </div>
                        <div class="col">
                            <div class="card game-hole w-100 me-1" id="GameCell-15"></div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col">
                            <div class="card game-hole w-100 me-1" id="GameCell-16"></div>
                        </div>
                        <div class="col">
                            <div class="card game-hole w-100 me-1" id="GameCell-17"></div>
                        </div>
                        <div class="col">
                            <div class="card game-hole w-100 me-1" id="GameCell-18"></div>
                        </div>
                        <div class="col">
                            <div class="card game-hole w-100 me-1" id="GameCell-19"></div>
                        </div>
                        <div class="col">
                            <div class="card game-hole w-100 me-1" id="GameCell-20"></div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col">
                            <div class="card game-hole w-100 me-1" id="GameCell-21"></div>
                        </div>
                        <div class="col">
                            <div class="card game-hole w-100 me-1" id="GameCell-22"></div>
                        </div>
                        <div class="col">
                            <div class="card game-hole w-100 me-1" id="GameCell-23"></div>
                        </div>
                        <div class="col">
                            <div class="card game-hole w-100 me-1" id="GameCell-24"></div>
                        </div>
                        <div class="col">
                            <div class="card game-hole w-100 me-1" id="GameCell-25"></div>
                        </div>
                    </div>
                    <div class="mt-2 bordered-container p-2">
                        <h6 class="h6 safe-font">Information</h6>
                        <div class="mt-2 pt-2 border-top"></div>
                        <p class="card-text fw-500">Duration: <span id="GameDuration_Span">0.0 sec.</span></p>
                        <p class="card-text fw-500">Interval: <span id="GameInterval_Span">2.4</span> sec.</p>
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="main-container shadow-standard scrollbar-hidden" id="Preload_Container">
    <div class="header-container p-3 pb-2" id="Preload_Container-Header">
        <button type="button" class="btn btn-close float-end ms-1" aria-label="Close" id="Preload_Container-Close"></button>
        <h5 class="h5 text-truncate">Search & Preview</h5>
    </div>
    <div class="mt-2 p-3 pt-0">
        <div class="box-container">
            <div>
                <form method="get" asp-controller="Home" asp-action="SearchEverywhere" id="SearchEverywhere_Form">
                    <div class="row">
                        <div class="col col-10">
                            <input type="text" name="Keyword" id="SearchEverywhere_Keyword" class="form-control w-100" max="100" placeholder="What did you want to search?" />
                        </div>
                        <div class="col col-2">
                            <button type="button" class="btn btn-light mt-1 btn-sm me-2 w-100 btn-standard-not-animated" data-bs-toggle="collapse" data-bs-target="#FiltersCollapse_Box" aria-expanded="false" aria-controls="FiltersCollapse_Box"> <i class="fas fa-sliders-h"></i> </button>
                        </div>
                    </div>
                    <div class="collapse mt-2" id="FiltersCollapse_Box">
                        <div class="bordered-container p-2">
                            <div class="row">
                                <div class="col">
                                    <label class="form-label fw-500" for="MinTargetPrice">Min. Target Price</label>
                                    <input type="number" name="MinPrice" id="MinTargetPrice" class="form-control number-form-control" min="0" max="10000000" value="0" placeholder="0-10,000,000" />
                                </div>
                                <div class="col">
                                    <label class="form-label fw-500" for="MaxTargetPrice">Max. Target Price</label>
                                    <input type="number" name="MaxPrice" id="MaxTargetPrice" class="form-control number-form-control" min="0" max="10000000" value="0" placeholder="0-10,000,000" />
                                </div>
                            </div>
                            <div class="form-check form-switch mt-3">
                                <input class="form-check-input" type="checkbox" name="SearchOnlyProjects" value="false" id="SearchOnlyProjects" />
                                <label class="form-check-label fw-500" for="SearchOnlyProjects">Search Only Projects</label>
                            </div>
                            <div>
                                <small class="card-text text-muted">The search will be produced only by projects</small>
                            </div>
                            <div class="form-check form-switch mt-3">
                                <input class="form-check-input" type="checkbox" name="SearchOnlyUsers" value="false" id="SearchOnlyUsers" />
                                <label class="form-check-label fw-500" for="SearchOnlyUsers">Search Only Users</label>
                            </div>
                            <div>
                                <small class="card-text text-muted">The search will be produced only for users. There'll be no projects</small>
                            </div>
                            <div class="mt-3">
                                <label class="form-label fw-500">Categories</label>
                                <div class="overflow-auto mh-280 scrollbar-hidden">
                                    <input type="hidden" id="CategoryId" name="CategoryId" value="0" />
                                    <input type="hidden" id="LastCategoryId_Val" value="@ViewBag.LastCategoryId" />
                                    @foreach(Category category in ViewBag.Categories)
                                    {
                                        <div class="bordered-container category-select-container p-2 mt-1 mb-1" id="CategoryValue-@category.Id">
                                            <span class="category-icon category-select-container border-0" id="CategoryIcon-@category.Id">@category.Description</span>
                                            <small class="card-text text-muted fw-500 border-0 category-select-container" id="CategoryName-@category.Id">@category.Name</small>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="mt-3 bordered-container p-2" style="display: none;" id="SearchResults_Box">
            <h6 class="h6">That's All We Found</h6>
            <small class="card-text text-muted">by your criteries</small>
            <div class="horizontal-scrolled-container mt-3" id="ProjectResults_Box">

            </div>
            <div class="horizontal-scrolled-container mt-3" id="UserResults_Box">

            </div>
        </div>
        <div class="bordered-container p-2 mt-2" id="Projects_Box">
            <h6 class="h6">Random Projects ∙ @ProjectsCount <i class="fas fa-chevron-right"></i> </h6>
            <div class="horizontal-scrolled-container mt-2">
                @if(ProjectsCount != 0)
                {
                    <div class="mt-1">
                        @foreach(GetProjects_ViewModel Item in ViewBag.Projects)
                        {
                            <div class="box-container bg-light p-2 me-2 d-inline-block mw-responsive">
                                <h3 class="h3 text-primary safe-font get-project-short-info" id="GPSI-@Item.Id">@Item.Name</h3>
                                @if (Item.TargetPrice != 0)
                                {
                                    <p class="card-text text-primary fw-500">$@Item.TargetPrice.ToString("N0")</p>
                                }
                                else
                                {
                                    <p class="card-text text-muted">No Target Price</p>
                                }
                                @if(Item.PastTargetPrice != 0)
                                {
                                    <div></div>
                                    <p class="card-text text-muted text-decoration-line-through">$@Item.PastTargetPrice.ToString("N0")</p>
                                }
                                <div class="mt-1"></div>
                                <small class="card-text">@Item.UserName</small>
                                <div class="mt-2">
                                    <div class="row">
                                        <div class="col">
                                            <div class="box-container bg-white p-2 text-center">
                                                <p class="card-text fw-500">Created</p>
                                                <small class="card-text text-muted safe-font">@Item.CreatedAt.ToShortDateString(), @Item.CreatedAt.ToShortTimeString()</small>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="box-container bg-white p-2 text-center">
                                                <p class="card-text fw-500">Modified</p>
                                                <small class="card-text text-muted safe-font">@Item.LastUpdatedAt.ToShortDateString(), @Item.CreatedAt.ToShortTimeString()</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <div class="box-container bg-white p-2 text-center">
                                                <p class="card-text fw-500">Views</p>
                                                <small class="card-text text-muted safe-font">@Item.Views.ToString("N0")</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="bordered-container mt-3 p-2">
            <h6 class="h6">Random Users ∙ @ViewBag.UsersCount <i class="fas fa-chevron-right"></i> </h6>
            <div class="horizontal-scrolled-container mt-2">
                @if (ViewBag.UsersCount != 0)
                {
                    <div class="mt-1">
                        @foreach(GetUserInfo_ViewModel User in ViewBag.Users)
                        {
                            <div class="box-container bg-light p-2 me-2 d-inline-block mw-responsive">
                                @if(User.CountryFullName != null)
                                {
                                    <h4 class="h4 safe-font text-primary get-user-short-info" id="GSUVal-@User.Id">@User.PseudoName <small class="ms-5"><span class="badge bg-white text-dark warning-badge fw-normal ms-1"> <i class="fas fa-globe-americas text-primary"></i> @User.CountryFullName</span></small></h4>
                                }
                                else
                                {
                                    <h4 class="h4 safe-font text-primary get-user-short-info" id="GSUVal-@User.Id">@User.PseudoName</h4>
                                }
                                <small class="card-text text-muted fw-500"> <i class="fas fa-at"></i> @User.SearchName</small>
                                <div class="mt-2"></div>
                                <div class="row">
                                    <div class="col">
                                        <div class="box-container bg-white p-2 text-center">
                                            <p class="card-text fw-500">Projects</p>
                                            @if(User.ProjectsCount != 0)
                                            {
                                                <small class="card-text text-muted safe-font">@User.ProjectsCount</small>
                                                <div></div>
                                                <small class="card-text">created</small>
                                            }
                                            else
                                            {
                                                <small class="card-text text-muted safe-font">No Created Projects</small>
                                                <div></div>
                                                <small class="card-text">or they may be closed</small>
                                            }
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="box-container bg-white p-2 text-center">
                                            <p class="card-text fw-500">Status</p>
                                            @if (User.IsCompany)
                                            {
                                                <small class="card-text text-muted">This's a company</small>
                                                <div></div>
                                                <small class="card-text">business account</small>
                                            }
                                            else
                                            {
                                                <small class="card-text text-muted">He/She's an user</small>
                                                <div></div>
                                                <small class="card-text">individual account</small>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-3"></div>
                                <a asp-controller="User" asp-action="Info" asp-route-Id="@User.SearchName" class="btn btn-text btn-sm me-2"> <i class="fas fa-info"></i> Go To Page</a>
                                <button type="button" class="btn btn-text btn-sm"> <i class="far fa-address-card"></i> Show Card</button>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="main-container shadow-standard" id="ProjectView_Container">
    <div class="header-container p-3 pb-2" id="ProjectView_Container-Header">
        <button type="button" class="btn btn-back float-end ms-1 btn-sm">&larr; Back</button>
        <h6 class="h5 text-truncate">Project Preview</h6>
    </div>
    <div class="mt-2 p-3 pt-0">
        <div class="box-container">
            <h1 class="h1 text-primary safe-font" id="Preview_Title">Project Title</h1>
        </div>
        <div class="box-container shadow-sm mt-2 p-2">
            <div class="p-2">
                <a href="#" class="btn btn-light btn-standard-with-no-colour btn-sm float-end ms-1" id="Preview_ProjectPageLink2"> <i class="fas fa-chevron-right"></i> Go To Project Page</a>
                <button type="button" class="btn btn-text btn-lg safe-font" id="GCF_UserPseudoName_Lbl"></button>
            </div>
            <div class="row mt-1">
                <div class="col">
                    <button type="button" class="btn btn-text btn-standard-with-no-colour w-100"> <i class="far fa-heart"></i> <br /> Like</button>
                </div>
                <div class="col">
                    <div>
                        <form method="get" asp-controller="Messages" asp-action="GetComments" id="GetComments_Form">
                            <input type="hidden" name="ProjectId" id="GCF_ProjectId_Val" value="0" />
                            <button type="submit" class="btn btn-text btn-standard-with-no-colour w-100"> <i class="far fa-comments"></i> <br /> Comments</button>
                        </form>
                    </div>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-text btn-standard-with-no-colour w-100" data-bs-toggle="collapse" data-bs-target="#MoreInfo_Collapse" aria-expanded="false" aria-controls="MoreInfo_Collapse"> <i class="fas fa-ellipsis-h"></i> <br /> More</button>
                </div>
            </div>
        </div>
        <div class="collapse mt-2" id="MoreInfo_Collapse">
            <div class="card box-container shadow-sm p-3 pb-2">
                <h5 class="h5">Additional Info</h5>
                <div class="row mt-2 border-top pt-2 ms-1 me-1 text-center">
                    <div class="col">
                        <h6 class="h6">Views</h6>
                        <small class="card-text text-muted safe-font" id="Preview_ViewsCnt">0</small>
                    </div>
                    <div class="col">
                        <h6 class="h6">Likes</h6>
                        <small class="card-text text-muted safe-font" id="Preview_LikesCnt">0</small>
                    </div>
                    <div class="col">
                        <h6 class="h6">Category</h6>
                        <small class="card-text text-muted safe-font" id="Preview_Category">Unknown</small>
                    </div>
                </div>
                <div class="row mt-4 text-center">
                    <div class="col">
                        <h6 class="h6">Published</h6>
                        <small class="card-text text-muted safe-font" id="Preview_PublishedDate"></small>
                    </div>
                    <div class="col">
                        <h6 class="h6">Last Update</h6>
                        <small class="card-text text-muted safe-font" id="Preview_LastUpdatedDate"></small>
                    </div>
                </div>
                <div class="mt-2 border-top pt-2">
                    <a href="#" class="btn btn-text btn-sm" id="Preview_ProjectPageLink"> <i class="fas fa-chevron-right"></i> Go To Project Page</a>
                    <div></div>
                    <small class="card-text text-muted">It's only the preview widget of this project. If you need full access to this project (like sending messages, commentaries, subscribing or to like it) go to the project page by link</small>
                </div>
            </div>
        </div>
        <div class="box-container p-1 pt-2 pb-2 mt-2">
            <p class="card-text white-space-on" id="Preview_ShortDescription">Shorter description</p>
            <p class="card-text white-space-on mt-1" id="Preview_LongDescription">Main description</p>
        </div>
        <div class="card-group mt-2">
            <div class="card shadow-sm p-3 me-1" id="Preview_StartUpBox">
                <h3 class="h3 text-primary safe-font" id="Preview_TagPrice">$0.00</h3>
                <small class="card-text safe-font d-none" id="Preview_PrevTagPrice">$0.00, 0%</small>
                <div></div>
                <small class="card-text text-muted d-none" id="Preview_TagPriceAnnotation"></small>
                <div class="border-top pt-1 mt-2 d-none" id="Preview_TagPriceAnnotationSeparator"></div>
                <small class="card-text text-muted" id="Preview_TagPriceDescription">needs this project for his start</small>
                <div class="mt-3" id="InverToProject_Box">
                    <button type="button" class="btn btn-text btn-sm w-auto text-start"> <i class="fas fa-coins"></i> Invest</button>
                    <div></div>
                    <small class="card-text text-muted">Invest to this project and become a part of it</small>
                </div>
                <div class="mt-2">
                    <button type="button" class="btn btn-text btn-sm w-auto text-start"> <i class="fab fa-leanpub"></i> Learn More</button>
                    <div></div>
                    <small class="card-text text-muted">Learn more about investments and how they work in our project from the QA page</small>
                </div>
            </div>
            <div class="card shadow-sm p-3" id="Preview_LinksBox">
                <h6 class="h6">Main Links</h6>
                <div class="border-top mt-1 pt-1"></div>
                <div>
                    <a href="#" class="btn btn-text btn-sm w-auto text-start" id="Preview_LinkBtn1"> <i class="fas fa-external-link-alt"></i> Click To Relocate</a>
                    <div></div>
                    <small class="card-text text-muted" id="Preview_LinkText1">First Link Href</small>
                </div>
                <div class="mt-2">
                    <a href="#" class="btn btn-text btn-sm mt-2 w-auto text-start" id="Preview_LinkBtn2"> <i class="fas fa-external-link-alt"></i> Click To Relocate</a>
                    <div></div>
                    <small class="card-text text-muted" id="Preview_LinkText2">Second Link Href</small>
                </div>
            </div>
        </div>
        <div class="box-container mt-2 d-none" id="YT_VideoPlayer_MainBox">
            <div class="card-group">
                <div class="card me-1 p-3 pb-1 shadow-sm">
                    <h6 class="h6"> <i class="fab fa-youtube text-danger"></i> Youtube Video</h6>
                    <div class="box-container mt-2" id="YT_VideoPlayer_Box">
                        <iframe class="yt-container w-100 ratio-16x9" id="YT_VideoPlayer" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="card shadow-sm p-3 pb-2">
                    <h6 class="h6"> <i class="fas fa-info-circle"></i> Additional Info</h6>
                    <small class="card-text text-muted mt-2" id="YT_VideoLink_Lbl"> <i class="fas fa-external-link"></i> Link: </small>
                    <div class="mt-1"></div>
                    <a href="#" class="btn btn-text btn-sm text-start text-decoration-none mt-1" id="YT_VideoLink_Btn"> <i class="fab fa-youtube text-danger"></i> Watch On Youtube</a>
                </div>
            </div>
        </div>
    </div>
</div>